@using Newtonsoft.Json
@using Pras.Shared.Enums
@using Pras.Shared.Enums.Extensions
@using Pras.Web.Models.Forms
@model List<SpeakerViewModel>
@{
    var model = TempData["OrderModel"] != null
        ? JsonConvert.DeserializeObject<OrderViewModel>(TempData["OrderModel"] as string)
        : new OrderViewModel();
}
<div class="container-table">
    <table>
        <tr>
            <th>Слушать</th>
            <th>Фамилия, имя диктора</th>
            <th>Статус</th>
            @if ((bool)ViewData["isLang"])
            {
                <th>Язык</th>
            }
            @if (ViewData["price"].ToString() != "у.е.")
            {
                <th>Цена до 30 слов,<br> @ViewData["price"].</th>
                <th>Цена до 70 слов,<br> @ViewData["price"].</th>
            }
            else
            {
                <th>Цена,<br> @ViewData["price"]</th>
            }
            <th>Сроки выполнения*</th>
            <th>Заказать</th>
        </tr>
        @foreach (var item in Model)
        {
            var status = EnumExtensions.GetDescription(item.Status);
            <tr>
                <td class="play-music">
                    <section class="player audio-playlist">
                        <div class="details">
                            <div class="now-playing1"></div>
                            <div class="track-art1"></div>
                            <div class="track-name1"></div>
                            <div class="track-artist1"></div>
                        </div>
                        <div class="buttons">
                            <div class="playpause-track1 playpause-audio" onclick="playpauseTrack1()">
                                <img src="~/site2/img/table-play.png">
                            </div>
                        </div>
                        <div class="slider_container">
                            <input type="range" min="1" max="100" value="100" class="seek_slider1" onchange="seekTo1()">
                        </div>
                        <div class="slider_container">
                            <img class="icon-volume icon-volume-audio" src="~/site2/img/table-volume.png">
                            <input type="range" min="1" max="100" value="99" name="rng" class="volume_slider1" onchange="setVolume1()">
                        </div>
                        <div>
                            <a class="download-icon" href="@item.Demo" download>
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="#414162" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6966 8.66044C14.6004 8.44788 14.3891 8.3125 14.1563 8.3125H11.7813V0.59375C11.7813 0.266 11.5153 0 11.1876 0H8.81257C8.48482 0 8.21882 0.266 8.21882 0.59375V8.3125H5.84382C5.61107 8.3125 5.3997 8.44906 5.30351 8.66044C5.20614 8.873 5.24414 9.12119 5.39732 9.29694L9.55357 14.0469C9.66638 14.1764 9.82907 14.25 10.0001 14.25C10.1711 14.25 10.3338 14.1752 10.4466 14.0469L14.6028 9.29694C14.7572 9.12237 14.7928 8.873 14.6966 8.66044Z" />
                                    <path d="M16.5312 13.0625V16.625H3.46875V13.0625H1.09375V17.8125C1.09375 18.4692 1.62575 19 2.28125 19H17.7188C18.3754 19 18.9062 18.4692 18.9062 17.8125V13.0625H16.5312Z" />
                                </svg>
                            </a>
                        </div>
                    </section>
                </td>
                <td class="name-speak">
                    <a href="@Url.Action("Inner", "Home", new {url = item.Url})">@item.Name @(item.VacationEndDate.HasValue && item.VacationEndDate > DateTime.Today ? $"(н/д до {item.VacationEndDate.Value.ToShortDateString()})" : "")</a>
                </td>
                <td>
                    @switch (item.Status)
                    {
                        case SpeakerStatuses.InStudio:
                            <div class="in-studio-txt">
                                <div class="eclips"></div>@status
                            </div>
                            break;
                        case SpeakerStatuses.Order:
                            <div class="in-studio-txt for-order">
                                <div class="eclips for-order-e"></div>@status
                            </div>
                            break;
                        case SpeakerStatuses.OutOfService:
                            <div class="in-studio-txt for-order">
                                <div class="eclips for-order-e"></div>@status
                            </div>
                            break;
                        case SpeakerStatuses.Offline:
                            <div class="in-studio-txt for-order">
                                <div class="eclips for-order-e"></div>@status
                            </div>
                            break;
                    }
                </td>
                @if ((bool)ViewData["isLang"])
                {
                    <td>@String.Join(", ", item.VoiceLanguages.Select(p => p.Name))</td>
                }
                @if (ViewData["price"].ToString() != "у.е.")
                {
                    <td>@item.Price30</td>
                    <td>@item.Price90</td>
                }
                else
                {
                    <td>@item.Price30</td>
                }
                <td>@item.TermsStr</td>
                <td class="modal-btn-order">
                    <svg class="buy-icon" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clips0)">
                            <path d="M7.78125 15.5158H20.4846C20.7991 15.5158 21.0751 15.3078 21.1602 15.0057L23.9729 5.16174C24.0333 4.94953 23.9919 4.72156 23.8588 4.54523C23.7255 4.36945 23.5182 4.26563 23.2971 4.26563H6.15802L5.6554 2.00391C5.58398 1.68182 5.29834 1.45312 4.96875 1.45312H0.703125C0.314575 1.45312 0 1.7677 0 2.15625C0 2.54498 0.314575 2.85938 0.703125 2.85938H4.40442L6.94354 14.2852C6.19647 14.61 5.67188 15.3536 5.67188 16.2189C5.67188 17.382 6.61816 18.3283 7.78125 18.3283H20.4846C20.8733 18.3283 21.1877 18.0139 21.1877 17.6252C21.1877 17.2366 20.8733 16.9221 20.4846 16.9221H7.78125C7.39398 16.9221 7.07812 16.6069 7.07812 16.2189C7.07812 15.8309 7.39398 15.5158 7.78125 15.5158Z"
                                  fill="url(#paint0_linearw)" />
                            <path d="M7.07812 20.4377C7.07812 21.601 8.02441 22.5471 9.18768 22.5471C10.3508 22.5471 11.2971 21.601 11.2971 20.4377C11.2971 19.2747 10.3508 18.3284 9.18768 18.3284C8.02441 18.3284 7.07812 19.2747 7.07812 20.4377Z"
                                  fill="url(#paint1_linearw)" />
                            <path d="M16.9688 20.4377C16.9688 21.601 17.915 22.5471 19.0781 22.5471C20.2414 22.5471 21.1875 21.601 21.1875 20.4377C21.1875 19.2747 20.2414 18.3284 19.0781 18.3284C17.915 18.3284 16.9688 19.2747 16.9688 20.4377Z"
                                  fill="url(#paint2_linearw)" />
                        </g>
                        <defs>
                            <linearGradient id="paint0_linearw" x1="0" y1="18.3283" x2="7.86034" y2="-0.0910776"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                            <linearGradient id="paint1_linearw" x1="7.07812" y1="22.5471" x2="9.49243"
                                            y2="18.569" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                            <linearGradient id="paint2_linearw" x1="16.9688" y1="22.5471" x2="19.3831"
                                            y2="18.5691" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                            <clipPath id="clips0">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </td>
            </tr>
        }
        <tr class="last-tr">
            <td class="last-left" colspan="10" style="position: initial">
                @if ((bool)ViewData["isLang"])
                {
                    @(ViewData["price"].ToString() == "у.е." ? "* Примечание: Цены указаны в долларах" : "")<br />
                }
                else if (ViewData["price"].ToString() == "у.е.")
                {
                    <text>* Примечание: Цены указаны в долларах</text><br />
                }
                else
                {
                    if (ViewData["price"].ToString() == "грн")
                    {
                        <text>* Примечание: Цены указаны в гривнах</text><br />
                    }
                }
                * Примечание: время указано с момента оплаты
            </td>
        </tr>
    </table>
    <div class="modal-overlay-order @(TempData["ErrorSpeaker"]!=null?"active-order":"")">
        <div class="modal-order @(TempData["ErrorSpeaker"]!=null?"active-order":"")">
            <a class="close-modal-order">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9886 18.0008L35.5879 2.40143C36.1371 1.85222 36.1371 0.96178 35.5879 0.41264C35.0387 -0.1365 34.1482 -0.13657 33.5991 0.41264L17.9997 16.012L2.40045 0.41264C1.85124 -0.13657 0.960803 -0.13657 0.411663 0.41264C-0.137476 0.96185 -0.137547 1.85229 0.411663 2.40143L16.011 18.0007L0.411663 33.6001C-0.137547 34.1493 -0.137547 35.0397 0.411663 35.5889C0.686233 35.8634 1.04616 36.0007 1.40609 36.0007C1.76602 36.0007 2.12588 35.8634 2.40052 35.5889L17.9997 19.9896L33.599 35.5889C33.8736 35.8634 34.2335 36.0007 34.5935 36.0007C34.9534 36.0007 35.3132 35.8634 35.5879 35.5889C36.1371 35.0397 36.1371 34.1492 35.5879 33.6001L19.9886 18.0008Z"
                          fill="url(#painct0_linear)" />
                    <defs>
                        <linearGradient id="painct0_linear" x1="-0.000244141" y1="36.0007" x2="20.6022"
                                        y2="2.05459" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#483156" />
                            <stop offset="1" stop-color="#39516E" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            <div class="modal-content-cash">
                <h3 class="txt-chronomer online-calculate pay-bank-txt">ЗАКАЗ УСЛУГ</h3>
                <div class="content-order">
                    <div class="menu-order">
                        <div class="order-element active-make-order">
                            <svg width="50" height="50"
                                 viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.127 20.4771C27.7225 20.4771 27.3945 20.805 27.3945 21.2095V21.4049C27.3945 21.8094 27.7225 22.1373 28.127 22.1373C28.5314 22.1373 28.8594 21.8094 28.8594 21.4049V21.2095C28.8594 20.805 28.5314 20.4771 28.127 20.4771Z"
                                      fill="url(#paint0_linaz)" />
                                <path d="M17.5078 20.4771C17.1033 20.4771 16.7754 20.805 16.7754 21.2095V21.4049C16.7754 21.8094 17.1033 22.1373 17.5078 22.1373C17.9123 22.1373 18.2402 21.8094 18.2402 21.4049V21.2095C18.2402 20.8049 17.9123 20.4771 17.5078 20.4771Z"
                                      fill="url(#paint1_lineaz)" />
                                <path d="M25.9391 25.3984C25.6064 25.1681 25.1502 25.2511 24.92 25.5836C24.4417 26.2741 23.6559 26.6864 22.8177 26.6864C21.9795 26.6864 21.1936 26.2741 20.7155 25.5837C20.4853 25.2511 20.0289 25.1682 19.6963 25.3984C19.3638 25.6287 19.2809 26.085 19.5112 26.4176C20.2629 27.5031 21.4989 28.1513 22.8177 28.1513C24.1364 28.1513 25.3725 27.5031 26.1243 26.4176C26.3545 26.085 26.2716 25.6287 25.9391 25.3984Z"
                                      fill="url(#paint2_lineaz)" />
                                <path d="M42.9449 33.2555C40.9943 31.3049 37.8206 31.3049 35.8701 33.2555C34.9471 34.1784 34.4235 35.4302 34.4059 36.7295L33.9021 37.3077C32.4639 35.7659 30.5094 34.8576 28.3868 34.7571C28.3647 34.756 28.3426 34.7551 28.3206 34.7542C28.2112 34.7499 28.1016 34.747 27.9915 34.747H27.7122H27.6653V34.2057C28.8696 34.6854 30.1486 35.0107 31.4364 35.1601C31.4647 35.1634 31.4929 35.165 31.521 35.165C31.779 35.165 32.0208 35.0285 32.1531 34.8023C32.2998 34.5514 32.2842 34.2374 32.1134 34.0022C31.6339 33.342 32.1365 32.2897 32.712 31.5897C33.0447 31.186 33.4431 30.8271 33.8651 30.447C34.277 30.076 34.7016 29.6937 35.0811 29.2507C36.941 28.425 38.1322 26.603 38.1322 24.5566C38.1322 23.6911 37.9142 22.8471 37.5061 22.0988C39.9644 21.2348 41.6545 18.9133 41.6545 16.2187C41.6545 15.0661 41.3379 13.9405 40.7389 12.9637C40.5275 12.6188 40.0764 12.5108 39.7317 12.7222C39.3869 12.9338 39.2788 13.3847 39.4902 13.7296C39.9479 14.4758 40.1898 15.3365 40.1898 16.2186C40.1898 18.5714 38.5067 20.552 36.1877 20.9283C35.9248 20.971 35.7056 21.1532 35.6157 21.404C35.5257 21.6547 35.5791 21.9347 35.755 22.1348C36.3434 22.8042 36.6674 23.6641 36.6674 24.5565C36.6674 26.065 35.7616 27.4031 34.3596 27.9656C34.2436 28.0122 34.1415 28.0876 34.0627 28.1848C33.7268 28.6003 33.3178 28.9686 32.8849 29.3585C32.4418 29.7577 31.9835 30.1704 31.5811 30.6587C30.9291 31.4518 30.4087 32.5056 30.4581 33.5201C29.7024 33.364 28.9589 33.1422 28.2446 32.8601C28.2696 32.847 28.2938 32.8328 28.3186 32.8196C28.37 32.7922 28.4208 32.764 28.4716 32.7359C28.5381 32.6991 28.6046 32.6619 28.6703 32.624C28.7311 32.5888 28.7915 32.5528 28.8516 32.5165C28.9046 32.4845 28.9575 32.4524 29.0098 32.4196C29.08 32.3757 29.1496 32.3312 29.2187 32.2859C29.2582 32.26 29.2974 32.2339 29.3366 32.2076C29.4159 32.1542 29.4946 32.1001 29.5726 32.0449C29.5985 32.0265 29.6241 32.0079 29.6498 31.9895C29.7385 31.9255 29.8264 31.8607 29.9133 31.7943C29.9245 31.7857 29.9355 31.777 29.9466 31.7684C30.9125 31.0248 31.7625 30.1312 32.464 29.109C33.4923 27.6106 34.1464 25.9139 34.3949 24.1318C34.3963 24.1212 34.3976 24.1107 34.3991 24.1001C34.4154 23.9807 34.4305 23.861 34.4431 23.7408C34.4467 23.7066 34.4494 23.6722 34.4528 23.638C34.4624 23.5383 34.4719 23.4385 34.4791 23.3383C34.4837 23.2733 34.4865 23.2079 34.49 23.1426C34.4939 23.0702 34.4988 22.9979 34.5014 22.9252C34.5065 22.7845 34.5093 22.6434 34.5093 22.5018V21.4745V21.3895C34.5093 21.1839 34.4229 20.9878 34.2711 20.8491C34.1195 20.7103 33.9162 20.6416 33.7117 20.66C33.6247 20.6678 33.5345 20.6717 33.4439 20.6717C33.3625 20.6717 33.2816 20.6679 33.2013 20.6621L33.1297 20.6552C33.0645 20.649 32.9995 20.6419 32.9351 20.6317C32.926 20.6301 32.9169 20.6287 32.9078 20.6274C32.9064 20.6272 32.9053 20.6269 32.904 20.6267C32.8288 20.6142 32.7544 20.5989 32.6807 20.5812C32.6695 20.5785 32.6586 20.5759 32.6467 20.5728C32.5766 20.5551 32.5073 20.5347 32.4387 20.5124L32.3635 20.4859C32.3044 20.4649 32.2455 20.4432 32.1877 20.4187C32.1857 20.4179 32.1831 20.4169 32.1815 20.4162L32.1536 20.4038C32.151 20.4026 32.1484 20.4014 32.1459 20.4003C32.085 20.3734 32.025 20.3446 31.9657 20.3139C31.9518 20.3068 31.9379 20.3 31.924 20.2925C31.8614 20.2589 31.8 20.2226 31.7393 20.1847C31.7387 20.1843 31.738 20.1839 31.7374 20.1836C31.7312 20.1796 31.7251 20.1757 31.7188 20.1719C31.7095 20.1664 31.7013 20.1609 31.6934 20.1558C31.6401 20.1213 31.588 20.0841 31.5365 20.0463C31.506 20.0239 31.4757 20.0013 31.4462 19.9781C31.4315 19.9665 31.4169 19.9547 31.4024 19.9429C31.3705 19.9169 31.3392 19.8902 31.3085 19.8631C31.2913 19.848 31.2743 19.8328 31.2575 19.8173C31.2313 19.7933 31.2056 19.7687 31.1803 19.7439C31.1601 19.7241 31.1401 19.7042 31.1205 19.6839C31.1003 19.6631 31.0806 19.6419 31.0611 19.6206C31.0379 19.5953 31.0149 19.5698 30.9925 19.5438C30.9782 19.5271 30.9642 19.51 30.9502 19.493C30.9244 19.4618 30.899 19.4302 30.8745 19.3981C30.8652 19.3859 30.8562 19.3735 30.8471 19.3612C30.8195 19.3239 30.7924 19.2862 30.7665 19.2478C30.7614 19.2403 30.7565 19.2326 30.7514 19.225C30.7228 19.1818 30.695 19.1381 30.6686 19.0937C30.6667 19.0904 30.6648 19.0871 30.6629 19.0838C30.5147 18.8325 30.4011 18.5618 30.3259 18.2782C30.3258 18.2778 30.3257 18.2774 30.3256 18.2769C30.3162 18.2411 30.3084 18.2047 30.3001 18.1683C31.6755 17.835 32.9692 17.3309 34.139 16.6636C37.2541 14.89 39.0408 12.2142 39.0408 9.32244C39.0408 6.78407 37.6745 4.41474 35.1934 2.65107C32.7882 0.9416 29.6033 0 26.2253 0C21.3687 0 16.9619 1.98086 14.7935 5.0913C14.2161 4.92411 13.6196 4.83964 13.0133 4.83964C11.4613 4.83964 9.96327 5.40106 8.79501 6.4204C8.49023 6.68641 8.45878 7.14901 8.7247 7.45389C8.99072 7.75868 9.45331 7.79022 9.7581 7.5242C10.6595 6.73768 11.8154 6.30458 13.0133 6.30458C13.6379 6.30458 14.2489 6.42069 14.8294 6.64979C15.163 6.78143 15.5431 6.65204 15.727 6.34403C17.497 3.37997 21.6177 1.46484 26.2253 1.46484C32.4839 1.46484 37.5757 4.98983 37.5757 9.32274C37.5757 11.6733 36.0588 13.8851 33.4135 15.3913C31.6525 16.3958 29.4899 17.0069 27.2359 17.1485C27.2122 17.15 27.1884 17.1514 27.1647 17.1528C27.0399 17.1601 26.9147 17.1655 26.7893 17.1699C26.753 17.1712 26.7168 17.1728 26.6803 17.1738C26.5344 17.1779 26.3882 17.1803 26.2419 17.1804C26.2362 17.1804 26.2305 17.1806 26.2249 17.1806C26.2209 17.1806 26.2169 17.1805 26.2129 17.1805C26.0923 17.1804 25.9719 17.1786 25.852 17.1758C25.8096 17.1749 25.7673 17.1736 25.7249 17.1722C25.6408 17.1697 25.557 17.1664 25.4733 17.1625C25.4267 17.1603 25.3799 17.1585 25.3335 17.1559C25.2251 17.15 25.1171 17.1429 25.0094 17.1349C24.9361 17.1294 24.8631 17.1228 24.79 17.1164C24.7513 17.113 24.7127 17.1095 24.6742 17.1058C24.5879 17.0975 24.5017 17.0887 24.4158 17.0791C24.4121 17.0787 24.4084 17.0782 24.4047 17.0778C21.8271 16.785 19.4471 15.877 17.6915 14.4882C17.6715 14.4723 17.6509 14.4579 17.6299 14.4445C16.8766 13.8381 16.247 13.1465 15.7766 12.3833C15.5356 11.9922 15.3399 11.585 15.1949 11.1732C15.0605 10.7917 14.6426 10.5914 14.2608 10.7257C13.8793 10.86 13.6789 11.2782 13.8133 11.6597C13.9929 12.1698 14.2339 12.6718 14.5296 13.1516C14.9627 13.8545 15.5094 14.5042 16.1479 15.0931C16.1455 15.0951 16.1432 15.0972 16.1408 15.0992C16.0899 15.1407 16.0377 15.1803 15.9851 15.2198C15.9707 15.2307 15.9567 15.2424 15.9422 15.2531C15.8856 15.2946 15.8278 15.3342 15.7695 15.3732C15.7579 15.381 15.7468 15.3895 15.735 15.3971C15.7049 15.417 15.6735 15.4352 15.6429 15.4545C15.6324 15.461 15.622 15.4675 15.6115 15.474C15.5809 15.4928 15.5511 15.5127 15.52 15.5308C15.4751 15.5572 15.4289 15.5815 15.3831 15.6065C15.3548 15.6219 15.3271 15.6383 15.2984 15.6533C15.2234 15.6923 15.1472 15.7295 15.0698 15.7648C14.874 15.8543 14.7274 16.0254 14.669 16.2326C14.6107 16.4398 14.6466 16.6623 14.767 16.8407C14.8349 16.9414 14.8922 17.0476 14.9407 17.1573C15.0556 17.4168 15.1165 17.698 15.1165 17.9871C15.1165 18.0496 15.1127 18.1114 15.1073 18.1728C15.1061 18.186 15.1052 18.1993 15.1037 18.2124C15.0976 18.2673 15.089 18.3214 15.0788 18.3751C15.075 18.3947 15.0707 18.4143 15.0663 18.4338C15.0563 18.4782 15.0451 18.522 15.0324 18.5654C15.0249 18.5909 15.0165 18.6162 15.008 18.6413C14.9964 18.6756 14.984 18.7096 14.9706 18.7432C14.9621 18.7645 14.954 18.7859 14.9448 18.8068C14.9251 18.8519 14.9036 18.8962 14.8807 18.9395C14.8714 18.9575 14.8615 18.9752 14.8515 18.9928C14.8253 19.0393 14.7981 19.0853 14.7684 19.1296C14.7643 19.1356 14.7598 19.1415 14.7556 19.1475C14.7323 19.1815 14.707 19.2139 14.6817 19.2463C14.6673 19.2647 14.654 19.2838 14.6389 19.3016C14.6194 19.3249 14.5982 19.3463 14.5779 19.3687C14.5503 19.3988 14.5229 19.4291 14.4933 19.4577C14.4736 19.4768 14.4528 19.4948 14.4323 19.5131C14.4056 19.5373 14.379 19.5615 14.3513 19.584C14.3203 19.609 14.2881 19.6324 14.2557 19.6555C14.2364 19.6694 14.2176 19.6838 14.1978 19.697C14.158 19.7235 14.1168 19.7479 14.0751 19.7716C14.0606 19.7799 14.0465 19.7889 14.0318 19.7968C13.9865 19.8212 13.9397 19.843 13.8926 19.864C13.8796 19.8698 13.867 19.8763 13.8539 19.8818C13.8061 19.9018 13.757 19.9191 13.7075 19.9355C13.6935 19.9401 13.6799 19.9457 13.6657 19.9501C13.617 19.965 13.5671 19.977 13.517 19.9884C13.5013 19.992 13.4858 19.9967 13.47 19.9999C13.4183 20.0103 13.3655 20.0175 13.3125 20.024C13.2979 20.0257 13.2837 20.0288 13.269 20.0302C13.2014 20.037 13.1327 20.0407 13.0633 20.0407C13.0243 20.0407 12.9855 20.0396 12.9471 20.0376C12.6774 20.0228 12.4188 19.9563 12.1758 19.839C11.4676 19.4993 11.0099 18.7724 11.0099 17.9873C11.0099 17.5828 10.6819 17.2549 10.2774 17.2549C9.87294 17.2549 9.54501 17.5828 9.54501 17.9873C9.54501 19.172 10.1535 20.2787 11.1264 20.9231V22.5018C11.1264 22.5261 11.1275 22.5503 11.1277 22.5746C11.1284 22.6827 11.1302 22.7906 11.1338 22.8982C11.1358 22.9605 11.1393 23.0225 11.1424 23.0846C11.1458 23.1532 11.1493 23.2216 11.1539 23.2899C11.1589 23.3653 11.1647 23.4404 11.1712 23.5155C11.1753 23.5631 11.1799 23.6107 11.1846 23.6583C11.1934 23.7493 11.2029 23.8402 11.2139 23.9307C11.2144 23.9354 11.2151 23.94 11.2157 23.9447C11.6228 27.2704 13.423 30.2247 16.1461 32.1077C15.0646 32.6075 13.9061 32.9628 12.9526 33.0977C13.3144 32.363 13.409 31.4911 13.2696 30.7326C13.0351 29.4568 12.2843 28.4 11.5353 27.427L11.4329 27.2942C10.7854 26.4546 10.1739 25.6618 9.90976 24.7536C9.76357 24.2476 9.76386 23.694 9.91064 23.2346C10.0302 22.8607 9.83359 22.459 9.46493 22.3239C8.02451 21.7962 7.05674 20.4101 7.05674 18.8749C7.05674 17.4989 7.81689 16.2495 9.04052 15.6142C9.23925 15.511 9.37988 15.3227 9.42226 15.1029C9.46464 14.8831 9.40419 14.6559 9.2581 14.4863C8.48525 13.5888 8.05966 12.4425 8.05966 11.2582C8.05966 10.711 8.14804 10.1738 8.32246 9.66141C8.45273 9.2785 8.24795 8.86239 7.86504 8.73201C7.48203 8.60164 7.06601 8.80653 6.93564 9.18944C6.70947 9.85408 6.59472 10.5501 6.59472 11.2582C6.59472 12.5107 6.96201 13.7304 7.6415 14.769C6.35996 15.73 5.5918 17.2383 5.5918 18.8749C5.5918 20.8049 6.68535 22.5665 8.36992 23.4393C8.29482 24.0021 8.33896 24.595 8.50263 25.1615C8.84453 26.3369 9.5706 27.2784 10.2727 28.1888L10.3743 28.3206C11.0405 29.1862 11.6531 30.0421 11.8287 30.9974C11.9731 31.7835 11.6979 32.7917 10.9872 33.1183C10.7079 33.2466 10.5385 33.5356 10.5628 33.8419C10.5872 34.1483 10.8003 34.4069 11.0963 34.4893C11.4199 34.5795 11.7859 34.6207 12.1806 34.6207C13.849 34.6206 16.0252 33.8828 17.6461 32.9885C17.753 33.041 17.861 33.0919 17.97 33.1414V34.747H17.9269C17.9257 34.747 17.9245 34.7467 17.9233 34.7467H17.6441C17.5106 34.7467 17.3775 34.7506 17.2448 34.7572C17.2149 34.7586 17.1854 34.7614 17.1556 34.7631C17.0549 34.7692 16.9543 34.7764 16.854 34.7862C16.8142 34.79 16.7749 34.795 16.7353 34.7993C16.6453 34.8094 16.5555 34.8206 16.4658 34.8337C16.4236 34.8399 16.3817 34.8467 16.3398 34.8535C16.2531 34.8676 16.1667 34.883 16.0805 34.8999C16.0389 34.9081 15.9972 34.9165 15.9556 34.9253C15.8691 34.9438 15.7829 34.9639 15.697 34.9852C15.658 34.9949 15.6189 35.0042 15.5801 35.0145C15.4891 35.0384 15.3988 35.0646 15.3086 35.0917C15.2768 35.1013 15.2449 35.1102 15.2134 35.1201C15.1057 35.154 14.9987 35.1906 14.8923 35.229C14.8804 35.2334 14.8681 35.2372 14.8561 35.2416C14.8415 35.247 14.8265 35.2516 14.8118 35.2571C14.797 35.2626 14.783 35.2698 14.7685 35.2762C11.7184 36.4387 9.54511 39.3924 9.54511 42.8457V49.2676C9.54511 49.6721 9.87304 50 10.2775 50H22.8163C22.8166 50 22.8169 50 22.8171 50C22.8174 50 22.8176 50 22.8178 50H35.3575C35.762 50 36.0899 49.6721 36.0899 49.2676V47.4873C36.0899 47.0828 35.762 46.7549 35.3575 46.7549C34.953 46.7549 34.6251 47.0828 34.6251 47.4873V48.5352H31.7348L39.4697 41.7945C40.7692 41.7778 42.0216 41.2545 42.9449 40.3313C44.8957 38.3805 44.8957 35.2063 42.9449 33.2555ZM32.9337 38.419L32.2317 39.2246L31.715 37.3497C32.1585 37.6516 32.5679 38.0091 32.9337 38.419ZM28.2277 36.2163C28.2427 36.2168 28.2577 36.2177 28.2726 36.2183C28.3255 36.2205 28.3782 36.223 28.4308 36.2265C28.447 36.2276 28.4631 36.2288 28.4794 36.23C28.5391 36.2343 28.5988 36.2393 28.6583 36.2451C28.6659 36.2459 28.6735 36.2467 28.6811 36.2475C29.1172 36.2925 29.5462 36.3804 29.9642 36.5107L31.0773 40.5496L29.9954 41.7911L28.274 41.109C27.9574 40.9835 27.5964 41.0928 27.4023 41.3725L25.3439 44.3401L26.6545 40.6481L28.2277 36.2163ZM12.6881 23.9075C12.6866 23.8969 12.6853 23.8865 12.684 23.8759C12.6703 23.7749 12.6581 23.6733 12.6474 23.5715C12.6446 23.5439 12.6423 23.5162 12.6396 23.4885C12.6311 23.4002 12.6231 23.3116 12.6169 23.2228C12.6139 23.1788 12.6119 23.1343 12.6095 23.0902C12.6052 23.0147 12.6005 22.9392 12.5978 22.8634C12.5955 22.7946 12.595 22.7252 12.5939 22.6561C12.5932 22.6045 12.5913 22.5532 12.5913 22.5014V21.4747C12.5967 21.4753 12.6022 21.4756 12.6076 21.4763C12.6166 21.4775 12.6257 21.4782 12.6347 21.4793C12.6575 21.482 12.6805 21.4845 12.7034 21.4868C12.7333 21.4898 12.7633 21.4925 12.7933 21.4948C12.8108 21.4961 12.8282 21.4976 12.8457 21.4986C12.8598 21.4995 12.8738 21.5001 12.888 21.5007C12.9327 21.5029 12.9774 21.5039 13.0222 21.5044C13.0261 21.5045 13.03 21.5047 13.0339 21.5047C13.0435 21.5048 13.053 21.5057 13.0627 21.5057C13.0668 21.5057 13.0709 21.5054 13.0751 21.5054C13.09 21.5053 13.105 21.5045 13.1199 21.5044C13.1607 21.5037 13.2015 21.5031 13.2421 21.501C13.2443 21.5009 13.2466 21.5007 13.2488 21.5006C13.263 21.4999 13.2778 21.4988 13.2987 21.497C13.3023 21.4968 13.3059 21.4964 13.3097 21.4962C13.3452 21.4937 13.3807 21.4914 13.416 21.4878C13.4164 21.4878 13.4169 21.4878 13.4173 21.4878C13.4179 21.4877 13.4184 21.4877 13.4189 21.4876C13.4256 21.4869 13.4322 21.4859 13.4389 21.4852C13.4493 21.4839 13.4599 21.4829 13.4702 21.4815L13.4921 21.4788C13.5249 21.4748 13.5577 21.4709 13.5903 21.466C13.591 21.4659 13.5917 21.4658 13.5924 21.4657C13.5932 21.4656 13.5941 21.4654 13.595 21.4652C13.6012 21.4642 13.6073 21.463 13.6135 21.4621C13.6219 21.4607 13.6304 21.4592 13.6388 21.4578C13.682 21.4506 13.7251 21.4431 13.7679 21.4344C13.7723 21.4335 13.7768 21.4324 13.7814 21.4315C14.3277 21.3184 14.8379 21.0771 15.2729 20.7234C15.2881 20.7112 15.3028 20.6986 15.3178 20.6861C15.3491 20.6597 15.3802 20.6328 15.4106 20.6052C15.4325 20.5856 15.4543 20.5658 15.4756 20.5457C15.4818 20.5397 15.4884 20.5342 15.4945 20.5283C15.5061 20.5171 15.5171 20.5054 15.5285 20.4942C15.5407 20.4822 15.553 20.4701 15.565 20.4579C15.5789 20.4438 15.5931 20.43 15.6067 20.4157C15.6231 20.3985 15.639 20.3809 15.6551 20.3634C15.6646 20.353 15.674 20.3423 15.6835 20.3318C15.7125 20.2995 15.741 20.2669 15.7686 20.2335C15.7774 20.2229 15.7858 20.2122 15.7945 20.2015C15.8211 20.1687 15.8474 20.1357 15.8727 20.102C15.8845 20.0865 15.8957 20.0706 15.9071 20.0548C15.928 20.026 15.949 19.9973 15.969 19.9679C15.9875 19.941 16.005 19.9134 16.0226 19.886C16.0346 19.8673 16.0469 19.849 16.0585 19.8301C16.2839 19.4652 16.4437 19.0561 16.5233 18.6192C16.5243 18.6136 16.5253 18.6081 16.5264 18.6025C16.5365 18.5449 16.5453 18.4869 16.5527 18.4284C16.5543 18.416 16.556 18.4036 16.5575 18.3912C16.5636 18.3382 16.5683 18.2849 16.572 18.2312C16.573 18.2165 16.5745 18.2017 16.5754 18.1869C16.5791 18.1208 16.5814 18.0543 16.5814 17.9872C16.5814 17.5565 16.5038 17.1349 16.3535 16.7392C16.3556 16.738 16.3576 16.7365 16.3597 16.7352C16.4346 16.6894 16.5084 16.6419 16.5812 16.593C16.6041 16.5777 16.6265 16.5619 16.6492 16.5464C16.7022 16.5098 16.7547 16.4727 16.8066 16.4346C16.8306 16.417 16.8547 16.3993 16.8785 16.3813C16.9335 16.3398 16.9877 16.2972 17.0413 16.2539C17.0545 16.2432 17.0681 16.2334 17.0811 16.2226C17.085 16.2194 17.0887 16.216 17.0926 16.2129C17.1613 16.1561 17.2291 16.0978 17.2956 16.0381C17.2992 16.0348 17.303 16.0318 17.3066 16.0285C18.4483 16.8305 19.7827 17.4653 21.2303 17.909C21.2551 17.9167 21.28 17.9242 21.3048 17.9317C21.425 17.9679 21.5457 18.0032 21.6675 18.0367C21.6811 18.0405 21.6948 18.0443 21.7085 18.048C21.8233 18.0794 21.9388 18.1091 22.0549 18.1381C22.1011 18.1496 22.1475 18.1609 22.194 18.1721C22.2839 18.1937 22.3741 18.2145 22.4646 18.2347C22.5259 18.2484 22.5874 18.2618 22.649 18.2748C22.7384 18.2936 22.828 18.3119 22.918 18.3294C22.9754 18.3405 23.0329 18.3512 23.0905 18.3618C23.1699 18.3763 23.2495 18.3901 23.3293 18.4036C23.4043 18.4162 23.4794 18.4284 23.5548 18.4401C23.6422 18.4537 23.7298 18.4667 23.8175 18.4789C23.8747 18.4868 23.932 18.4944 23.9893 18.5018C24.0788 18.5133 24.1685 18.5241 24.2584 18.5342C24.316 18.5407 24.3735 18.5471 24.4313 18.5531C24.5366 18.5639 24.6422 18.5738 24.748 18.5827C24.7964 18.5868 24.8447 18.5906 24.8931 18.5942C25.0067 18.6029 25.1205 18.6105 25.2346 18.617C25.259 18.6183 25.2832 18.62 25.3076 18.6213C25.4375 18.628 25.5677 18.633 25.6982 18.6369C25.735 18.638 25.7719 18.6389 25.8089 18.6398C25.9474 18.6431 26.0862 18.6454 26.2253 18.6454C26.2284 18.6454 26.2315 18.6453 26.2346 18.6453C26.3885 18.6452 26.5422 18.6424 26.6957 18.6384C26.7383 18.6374 26.7811 18.6363 26.8237 18.6349C26.9656 18.6302 27.1072 18.6241 27.2485 18.616C27.2676 18.6149 27.287 18.6145 27.306 18.6134C27.3468 18.611 27.3872 18.6071 27.4279 18.6044C27.5137 18.5986 27.5994 18.5922 27.6849 18.5852C27.7549 18.5796 27.8252 18.5744 27.895 18.5678C27.9566 18.5621 28.0177 18.5548 28.0792 18.5485C28.1293 18.5432 28.1796 18.5383 28.2296 18.5327C28.3286 18.5215 28.4273 18.5094 28.5257 18.4966C28.5392 18.4949 28.5527 18.4929 28.5663 18.4912C28.6645 18.4782 28.763 18.4658 28.8605 18.4511C28.87 18.4952 28.8814 18.5385 28.8921 18.5822C28.898 18.6057 28.9031 18.6296 28.9092 18.653C28.9228 18.7047 28.9381 18.7555 28.9534 18.8066C28.9598 18.8279 28.966 18.8492 28.9727 18.8704C28.9896 18.924 29.0076 18.977 29.0263 19.0298C29.0312 19.0436 29.0364 19.0573 29.0415 19.0711C29.1313 19.316 29.2414 19.5521 29.3708 19.7777C29.376 19.787 29.3814 19.7962 29.3868 19.8053C29.4182 19.8593 29.4505 19.9129 29.4841 19.9656C29.4857 19.968 29.4874 19.9704 29.4888 19.9728C29.5559 20.0775 29.6273 20.1795 29.7029 20.2788C29.7102 20.2884 29.7171 20.2984 29.7246 20.308C29.7532 20.345 29.783 20.3812 29.8129 20.4174C29.8354 20.4449 29.8582 20.4722 29.8813 20.4992C29.9074 20.5294 29.9337 20.5594 29.9605 20.589C29.994 20.626 30.0285 20.6624 30.0633 20.6984C30.0828 20.7185 30.1017 20.739 30.1215 20.7588C30.1792 20.8164 30.2383 20.8725 30.2992 20.9274C30.3072 20.9345 30.3155 20.9415 30.3235 20.9486C30.3795 20.9983 30.4368 21.0467 30.4954 21.094C30.5086 21.1045 30.5218 21.115 30.5351 21.1255C30.5599 21.1452 30.5842 21.1654 30.6095 21.1846C30.6648 21.2266 30.7211 21.2669 30.7778 21.3062C30.7784 21.3066 30.7793 21.3073 30.7798 21.3077C30.7836 21.3102 30.7875 21.3128 30.7912 21.3153C31.3897 21.7276 32.0655 21.99 32.7807 22.0901C32.7835 22.0905 32.7864 22.091 32.7892 22.0914C32.7949 22.0921 32.8005 22.0929 32.8061 22.0935L32.8089 22.0939C32.8381 22.0978 32.8673 22.1018 32.8967 22.1052L32.9021 22.1059C32.9074 22.1066 32.9127 22.1072 32.9179 22.1077L33.0014 22.1162C33.0056 22.1166 33.0099 22.1169 33.0141 22.1173L33.0282 22.1184C33.0334 22.1189 33.0386 22.1196 33.0439 22.12V22.5018C33.0439 22.6364 33.0412 22.7707 33.036 22.9044C33.0357 22.9125 33.0349 22.9204 33.0346 22.9285C32.8784 26.673 30.6755 30.0242 27.354 31.6695C27.2715 31.7101 27.1879 31.7489 27.1041 31.7874C27.0718 31.8023 27.0402 31.818 27.0078 31.8326C26.9158 31.8739 26.8224 31.913 26.7288 31.9518C26.6992 31.964 26.6702 31.9771 26.6404 31.989C26.609 32.0018 26.5761 32.0143 26.544 32.027C26.4381 32.0685 26.3317 32.1091 26.2238 32.1473C26.2237 32.1473 26.2237 32.1473 26.2236 32.1474C26.1105 32.1873 25.9966 32.2252 25.8822 32.2611C25.0806 32.5122 24.2477 32.6631 23.3987 32.7103C23.2091 32.7219 23.0188 32.7275 22.8174 32.7275C22.5683 32.7275 22.3206 32.7187 22.0743 32.701C21.8976 32.6884 21.7218 32.6708 21.5468 32.6492C20.8901 32.5679 20.2457 32.4232 19.6179 32.2162C19.4025 32.1451 19.1888 32.0671 18.9775 31.9814C18.9774 31.9814 18.9773 31.9813 18.9772 31.9813C18.632 31.8413 18.2982 31.6836 17.9756 31.5109C17.9757 31.5108 17.9755 31.5106 17.9752 31.5104C15.0726 29.9466 13.1312 27.1124 12.6881 23.9075ZM15.6712 36.5113C15.7714 36.48 15.8726 36.4513 15.9747 36.4247C15.9837 36.4224 15.9927 36.42 16.0017 36.4178C16.2033 36.3662 16.4086 36.3242 16.6169 36.2915C16.6292 36.2896 16.6415 36.2877 16.6538 36.2859C16.8591 36.255 17.0674 36.2337 17.2783 36.2222C17.2942 36.2213 17.3102 36.2204 17.3263 36.2198C17.3534 36.2185 17.3808 36.2186 17.4081 36.2177L20.291 44.3389L18.2334 41.372C18.0932 41.17 17.866 41.057 17.6312 41.057C17.541 41.057 17.4496 41.0737 17.3616 41.1085L14.0415 42.4242L15.6712 36.5113ZM11.0101 48.535V42.8455C11.0101 40.568 12.1641 38.5552 13.9178 37.3602L12.2388 43.4521C12.1649 43.7198 12.249 44.0064 12.4557 44.1918C12.6625 44.3774 12.9563 44.4299 13.2146 44.3276L17.3608 42.6845L21.4183 48.535H11.0101ZM22.8176 47.0779L18.949 36.1794C19.0761 36.1403 19.1915 36.0669 19.2816 35.9654C19.4206 35.8086 19.4858 35.5998 19.4608 35.3918C19.4433 35.2465 19.4348 35.1138 19.4348 34.9862V33.695C19.4417 33.697 19.4485 33.6987 19.4553 33.7007C19.5745 33.7366 19.694 33.7701 19.814 33.8021C19.842 33.8095 19.8701 33.8165 19.898 33.8238C20.0043 33.8511 20.1108 33.8771 20.2178 33.9015C20.2377 33.906 20.2575 33.911 20.2774 33.9154C20.3988 33.9423 20.5206 33.9669 20.6428 33.99C20.6723 33.9955 20.7019 34.0008 20.7315 34.0061C20.8428 34.0262 20.9544 34.0449 21.0664 34.0617C21.0818 34.064 21.0972 34.0666 21.1127 34.0689C21.2366 34.0869 21.361 34.1027 21.4857 34.1167C21.516 34.1201 21.5463 34.1234 21.5765 34.1265C21.6949 34.139 21.8135 34.15 21.9324 34.1589C21.9416 34.1596 21.9508 34.1606 21.96 34.1613C22.0864 34.1704 22.2131 34.1769 22.3401 34.182C22.371 34.1832 22.4018 34.1843 22.4327 34.1853C22.5607 34.1894 22.689 34.1922 22.8176 34.1922C23.046 34.1922 23.2716 34.1856 23.4842 34.1725C23.6122 34.1654 23.7398 34.1557 23.8672 34.1445C23.9087 34.1408 23.95 34.1362 23.9914 34.1321C24.0779 34.1235 24.1644 34.1143 24.2507 34.1038C24.2982 34.0981 24.3458 34.0916 24.3932 34.0853C24.4744 34.0743 24.5553 34.0627 24.6362 34.0501C24.6838 34.0427 24.7312 34.0353 24.7786 34.0273C24.8631 34.013 24.9472 33.9976 25.0312 33.9815C25.0732 33.9735 25.1152 33.966 25.157 33.9575C25.27 33.9346 25.3825 33.91 25.4947 33.8838C25.5066 33.881 25.5186 33.8787 25.5305 33.8759C25.6543 33.8465 25.7775 33.8148 25.9003 33.7814C25.9385 33.7709 25.9766 33.7595 26.0148 33.7487C26.0767 33.7311 26.1388 33.7143 26.2005 33.6957V34.9863C26.2005 35.1143 26.192 35.2469 26.1745 35.3917C26.1494 35.5997 26.2146 35.8085 26.3536 35.9654C26.4437 36.067 26.5592 36.1405 26.6864 36.1795L22.8176 47.0779ZM24.2171 48.535L28.2748 42.6849L28.9749 42.9623L27.16 45.045C26.9071 45.3353 26.922 45.7719 27.1943 46.0441L29.6852 48.535H24.2171ZM30.7085 47.4866L28.7136 45.4918L30.7589 43.1446C30.7591 43.1444 30.7593 43.1443 30.7595 43.1441L32.4402 41.2154C32.4405 41.2151 32.4407 41.2147 32.441 41.2144L34.4384 38.9221C34.4399 38.9204 34.4413 38.9188 34.4427 38.9171L34.7347 38.5821C34.7363 38.5861 34.738 38.5899 34.7396 38.5939C34.7692 38.6706 34.8003 38.7467 34.8337 38.8218C34.8369 38.8289 34.8405 38.8359 34.8437 38.843C34.8742 38.9108 34.9059 38.9778 34.9394 39.0442C34.952 39.0691 34.9656 39.0935 34.9786 39.1183C35.0039 39.1664 35.0294 39.2144 35.0563 39.2617C35.0722 39.2897 35.0888 39.3172 35.1052 39.3449C35.131 39.3883 35.1571 39.4315 35.1841 39.474C35.2021 39.5024 35.2206 39.5305 35.2392 39.5585C35.2667 39.5999 35.2948 39.6408 35.3235 39.6815C35.3429 39.7089 35.3625 39.7364 35.3825 39.7634C35.4127 39.8044 35.444 39.8447 35.4755 39.8849C35.4954 39.9101 35.515 39.9355 35.5353 39.9603C35.5708 40.0035 35.6074 40.0459 35.6444 40.0881C35.6624 40.1086 35.6798 40.1296 35.6982 40.1499C35.7541 40.2117 35.8114 40.2725 35.8707 40.3317C35.9298 40.3907 35.9906 40.448 36.0523 40.5038C36.0726 40.5222 36.0936 40.5396 36.1142 40.5576C36.1563 40.5945 36.1985 40.631 36.2416 40.6662C36.2666 40.6866 36.292 40.7063 36.3173 40.7261C36.3574 40.7576 36.3977 40.7888 36.4386 40.819C36.4656 40.8389 36.4929 40.8583 36.5203 40.8777C36.561 40.9065 36.602 40.9346 36.6434 40.9621C36.6713 40.9807 36.6993 40.9989 36.7275 41.0169C36.7702 41.044 36.8133 41.0702 36.8568 41.0959C36.8843 41.1122 36.9118 41.1288 36.9396 41.1446C36.987 41.1715 37.035 41.1971 37.0832 41.2224C37.1078 41.2353 37.1321 41.2488 37.157 41.2613C37.2212 41.2938 37.2863 41.3245 37.3518 41.354C37.3611 41.3582 37.3701 41.3629 37.3793 41.367C37.4541 41.4002 37.5299 41.4313 37.6063 41.4608C37.6102 41.4623 37.614 41.4641 37.618 41.4655L30.7085 47.4866ZM41.9092 39.2955C41.2052 39.9995 40.2307 40.376 39.2353 40.327C38.3563 40.2842 37.529 39.9177 36.906 39.2955C36.8282 39.2177 36.7542 39.1365 36.6845 39.0527C36.1964 38.4649 35.911 37.7347 35.8735 36.9644V36.9643C35.8258 35.9692 36.2022 34.995 36.9059 34.2912C37.5743 33.6229 38.4627 33.2548 39.4076 33.2548C40.3524 33.2548 41.2408 33.6229 41.9092 34.2912C43.2889 35.6709 43.2889 37.9158 41.9092 39.2955Z"
                                      fill="url(#paint3_lineaz)" />
                                <path d="M34.9149 41.2858C34.629 40.9998 34.1652 40.9998 33.8792 41.2858L32.8708 42.2942C32.5847 42.5802 32.5847 43.044 32.8708 43.3299C33.0137 43.4729 33.2012 43.5445 33.3886 43.5445C33.576 43.5445 33.7635 43.473 33.9065 43.3299L34.9149 42.3215C35.201 42.0355 35.201 41.5717 34.9149 41.2858Z"
                                      fill="url(#paint4_lineaz)" />
                                <defs>
                                    <linearGradient id="paint0_lineaz" x1="28.127" y1="20.4771" x2="28.127"
                                                    y2="22.1373" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#41AFC1" />
                                        <stop offset="1" stop-color="#D0E6EB" />
                                    </linearGradient>
                                    <linearGradient id="paint1_lineaz" x1="17.5078" y1="20.4771" x2="17.5078"
                                                    y2="22.1373" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#41AFC1" />
                                        <stop offset="1" stop-color="#D0E6EB" />
                                    </linearGradient>
                                    <linearGradient id="paint2_lineaz" x1="22.8177" y1="25.2681" x2="22.8177"
                                                    y2="28.1513" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#41AFC1" />
                                        <stop offset="1" stop-color="#D0E6EB" />
                                    </linearGradient>
                                    <linearGradient id="paint3_lineaz" x1="24.9999" y1="0" x2="24.9999" y2="50"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#41AFC1" />
                                        <stop offset="1" stop-color="#D0E6EB" />
                                    </linearGradient>
                                    <linearGradient id="paint4_lineaz" x1="33.8928" y1="41.0713" x2="33.8928"
                                                    y2="43.5445" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#41AFC1" />
                                        <stop offset="1" stop-color="#D0E6EB" />
                                    </linearGradient>
                                </defs>
                            </svg><span class="active-txt-order">Дикторский голос</span>
                        </div>
                        <div class="order-element">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clipz0)">
                                    <path d="M39.2191 20.376H15.9631C15.5584 20.376 15.2305 20.704 15.2305 21.1086C15.2305 21.5132 15.5585 21.8412 15.9631 21.8412H39.2191C39.6238 21.8412 39.9518 21.5132 39.9518 21.1086C39.9518 20.704 39.6238 20.376 39.2191 20.376Z"
                                          fill="url(#paintn0_linear)" />
                                    <path d="M39.2191 25.229H15.9631C15.5584 25.229 15.2305 25.557 15.2305 25.9616C15.2305 26.3662 15.5585 26.6943 15.9631 26.6943H39.2191C39.6238 26.6943 39.9518 26.3662 39.9518 25.9616C39.9518 25.557 39.6238 25.229 39.2191 25.229Z"
                                          fill="url(#paintn1_linear)" />
                                    <path d="M39.2191 30.0815H15.9631C15.5584 30.0815 15.2305 30.4096 15.2305 30.8142C15.2305 31.2187 15.5585 31.5468 15.9631 31.5468H39.2191C39.6238 31.5468 39.9518 31.2187 39.9518 30.8142C39.9518 30.4096 39.6238 30.0815 39.2191 30.0815Z"
                                          fill="url(#paintn2_linear)" />
                                    <path d="M39.2181 34.9346H27.59C27.1854 34.9346 26.8574 35.2626 26.8574 35.6672C26.8574 36.0718 27.1854 36.3998 27.59 36.3998H39.2181C39.6228 36.3998 39.9507 36.0718 39.9507 35.6672C39.9507 35.2626 39.6228 34.9346 39.2181 34.9346Z"
                                          fill="url(#paintn3_linear)" />
                                    <path d="M39.2181 39.7866H27.59C27.1854 39.7866 26.8574 40.1146 26.8574 40.5192C26.8574 40.9238 27.1854 41.2519 27.59 41.2519H39.2181C39.6228 41.2519 39.9507 40.9238 39.9507 40.5192C39.9507 40.1146 39.6228 39.7866 39.2181 39.7866Z"
                                          fill="url(#paintn4_linear)" />
                                    <path d="M44.214 34.6711C44.6186 34.6711 44.9466 34.3431 44.9466 33.9385V4.42314C44.9466 3.09297 43.8644 2.01074 42.5343 2.01074H11.7972C11.2231 0.821973 10.0055 0 8.59941 0C6.64268 0 5.05078 1.59189 5.05078 3.54854L5.05088 46.4262C5.05078 46.4346 5.05078 46.4429 5.05078 46.4514H5.05088C5.05088 48.408 6.64268 49.9999 8.59941 49.9999H37.1971C38.5272 49.9999 39.6094 48.9177 39.6094 47.5875V46.3699H42.5343C43.8644 46.3699 44.9466 45.2877 44.9466 43.9575V37.4062C44.9466 37.0017 44.6186 36.6736 44.214 36.6736C43.8093 36.6736 43.4813 37.0017 43.4813 37.4062V43.9575C43.4813 44.4797 43.0565 44.9046 42.5344 44.9046H12.148V3.54854C12.148 3.52422 12.1467 3.5002 12.1462 3.47598H42.5343C43.0564 3.47598 43.4812 3.90088 43.4812 4.42305V33.9385C43.4813 34.3431 43.8094 34.6711 44.214 34.6711ZM6.51611 3.54854C6.51611 2.3998 7.45068 1.46523 8.59941 1.46523C9.74814 1.46523 10.6827 2.3998 10.6827 3.54854V43.5855C9.42158 42.6688 7.74824 42.6837 6.51611 43.5804V3.54854ZM38.1441 47.5876C38.1441 48.1098 37.7193 48.5347 37.1972 48.5347H8.59941C7.45068 48.5347 6.51621 47.6001 6.51621 46.4514C6.51621 44.0643 9.90615 43.5683 10.5939 45.8489C10.6872 46.1583 10.9722 46.37 11.2954 46.37H38.1441V47.5876Z"
                                          fill="url(#paintn5_linear)" />
                                    <path d="M39.9519 7.85C39.9519 7.10801 39.3482 6.50439 38.6064 6.50439H22.71C22.3053 6.50439 21.9773 6.83242 21.9773 7.23701C21.9773 7.6416 22.3054 7.96963 22.71 7.96963H38.4865V16.1754H16.6958V7.96973H19.2849C19.6896 7.96973 20.0175 7.6417 20.0175 7.23711C20.0175 6.83252 19.6895 6.50449 19.2849 6.50449H16.5761C15.8341 6.50449 15.2305 7.10811 15.2305 7.8501V16.2954C15.2305 17.0374 15.8341 17.6409 16.5761 17.6409H38.6064C39.3482 17.6409 39.9519 17.0373 39.9519 16.2954V7.85Z"
                                          fill="url(#paintn6_linear)" />
                                    <path d="M16.5761 34.9346C15.8341 34.9346 15.2305 35.5382 15.2305 36.2801V39.907C15.2305 40.649 15.8341 41.2525 16.5761 41.2525H23.6815C24.4235 41.2525 25.0271 40.6489 25.0271 39.907V36.2801C25.0271 35.5381 24.4235 34.9346 23.6815 34.9346H16.5761ZM23.5618 39.7873H16.6958V36.3999H23.5618V39.7873Z"
                                          fill="url(#paintn7_linear)" />
                                </g>
                                <defs>
                                    <linearGradient id="paintn0_linear" x1="15.2305" y1="21.8412" x2="15.2984"
                                                    y2="19.9531" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn1_linear" x1="15.2305" y1="26.6943" x2="15.2984"
                                                    y2="24.8061" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn2_linear" x1="15.2305" y1="31.5468" x2="15.2984"
                                                    y2="29.6587" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn3_linear" x1="26.8574" y1="36.3998" x2="26.9852"
                                                    y2="34.5179" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn4_linear" x1="26.8574" y1="41.2519" x2="26.9852"
                                                    y2="39.37" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn5_linear" x1="5.05078" y1="49.9999" x2="36.1369"
                                                    y2="9.1309" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn6_linear" x1="15.2305" y1="17.6409" x2="18.8859"
                                                    y2="4.27107" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn7_linear" x1="15.2305" y1="41.2525" x2="17.9973"
                                                    y2="34.1836" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <clipPath id="clipz0">
                                        <rect width="50" height="50" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <span>Сценарий</span>
                        </div>
                        <div class="order-element">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clipz0)">
                                    <path d="M25.0003 0.413086C19.7632 0.413086 15.5176 4.65867 15.5176 9.89585V21.9648C15.5237 27.1994 19.7657 31.4414 25.0003 31.4476C30.2349 31.4414 34.477 27.1994 34.4831 21.9648V9.89585C34.4831 4.65867 30.2375 0.413086 25.0003 0.413086ZM32.759 11.62H27.5865C27.1105 11.62 26.7245 12.006 26.7245 12.4821C26.7245 12.9581 27.1105 13.3441 27.5865 13.3441H32.759V15.0683H27.5865C27.1105 15.0683 26.7245 15.4543 26.7245 15.9303C26.7245 16.4064 27.1105 16.7924 27.5865 16.7924H32.759V18.5165H27.5865C27.1105 18.5165 26.7245 18.9025 26.7245 19.3786C26.7245 19.8547 27.1105 20.2407 27.5865 20.2407H32.759V21.9648H27.5865C27.1105 21.9648 26.7245 22.3508 26.7245 22.8269C26.7245 23.303 27.1105 23.689 27.5865 23.689H32.559C32.117 25.6192 30.9553 27.3082 29.3107 28.4114V26.2752C29.3107 25.7991 28.9247 25.4131 28.4486 25.4131C27.9725 25.4131 27.5865 25.7991 27.5865 26.2752V29.2708C27.0293 29.4711 26.4508 29.6059 25.8624 29.6726V26.2752C25.8624 25.7991 25.4764 25.4131 25.0003 25.4131C24.5243 25.4131 24.1383 25.7991 24.1383 26.2752V29.6726C23.5499 29.6059 22.9714 29.4711 22.4141 29.2708V26.2752C22.4141 25.7991 22.0281 25.4131 21.5521 25.4131C21.076 25.4131 20.69 25.7991 20.69 26.2752V28.4114C19.0454 27.3082 17.8836 25.6192 17.4417 23.689H22.4141C22.8902 23.689 23.2762 23.303 23.2762 22.8269C23.2762 22.3508 22.8902 21.9648 22.4141 21.9648H17.2417V20.2407H22.4141C22.8902 20.2407 23.2762 19.8547 23.2762 19.3786C23.2762 18.9025 22.8902 18.5165 22.4141 18.5165H17.2417V16.7924H22.4141C22.8902 16.7924 23.2762 16.4064 23.2762 15.9303C23.2762 15.4543 22.8902 15.0683 22.4141 15.0683H17.2417V13.3441H22.4141C22.8902 13.3441 23.2762 12.9581 23.2762 12.4821C23.2762 12.006 22.8902 11.62 22.4141 11.62H17.2417V9.89585H22.4141C22.8902 9.89585 23.2762 9.50985 23.2762 9.03378C23.2762 8.5577 22.8902 8.17171 22.4141 8.17171H17.4417C17.8836 6.24143 19.0454 4.55242 20.69 3.44929V5.5855C20.69 6.06158 21.076 6.44757 21.5521 6.44757C22.0281 6.44757 22.4141 6.06158 22.4141 5.5855V2.58981C22.9714 2.38959 23.5499 2.25479 24.1383 2.18809V5.5855C24.1383 6.06158 24.5243 6.44757 25.0003 6.44757C25.4764 6.44757 25.8624 6.06158 25.8624 5.5855V2.18809C26.4508 2.25479 27.0293 2.38959 27.5865 2.58981V5.5855C27.5865 6.06158 27.9725 6.44757 28.4486 6.44757C28.9247 6.44757 29.3107 6.06158 29.3107 5.5855V3.44929C30.9553 4.55242 32.117 6.24143 32.559 8.17171H27.5865C27.1105 8.17171 26.7245 8.5577 26.7245 9.03378C26.7245 9.50985 27.1105 9.89585 27.5865 9.89585H32.759V11.62Z" fill="url(#paintn0_linear)" />
                                    <path d="M37.93 15.0686V13.3445C37.93 12.8684 37.544 12.4824 37.0679 12.4824C36.5918 12.4824 36.2058 12.8684 36.2058 13.3445V21.9652C36.2058 28.1546 31.1884 33.1721 24.9989 33.1721C18.8095 33.1721 13.792 28.1546 13.792 21.9652V13.3445C13.792 12.8684 13.406 12.4824 12.93 12.4824C12.4539 12.4824 12.0679 12.8684 12.0679 13.3445V15.0686H10.3438V16.7928H12.0679V21.9652C12.075 28.108 16.3958 33.4008 22.4127 34.6376V45.241H18.1024C15.7231 45.2438 13.7948 47.1721 13.792 49.5514V50.4135H36.2058V49.5514C36.203 47.1721 34.2748 45.2438 31.8955 45.241H27.5851V34.6376C33.6021 33.4008 37.9228 28.108 37.93 21.9652V16.7928H39.6541V15.0686H37.93ZM24.1369 34.8523C24.4231 34.8712 24.7075 34.8962 24.9989 34.8962C25.2903 34.8962 25.5748 34.8712 25.861 34.8523V45.241H24.1369V34.8523ZM31.8955 46.9652C32.9912 46.9665 33.9676 47.6568 34.3343 48.6893H15.6636C16.0303 47.6568 17.0067 46.9665 18.1024 46.9652H31.8955Z" fill="url(#paintn1_linear)" />
                                </g>
                                <defs>
                                    <linearGradient id="paintn0_linear" x1="15.5176" y1="31.4476" x2="35.5387" y2="11.2881" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn1_linear" x1="10.3438" y1="50.4135" x2="34.1177" y2="20.1444" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <clipPath id="clipz0">
                                        <rect width="50" height="50" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <span>Аудиоролики</span>
                        </div>
                        <div class="order-element">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.8185 44.792C19.4707 44.792 22.123 44.7106 24.7568 44.5476C26.5028 44.4396 27.9004 43.0954 28.0797 41.3516C28.432 37.9254 28.432 34.451 28.0797 31.025C27.9004 29.2812 26.5029 27.937 24.7568 27.8289C19.4892 27.503 14.1477 27.503 8.88017 27.8289C7.13413 27.9369 5.73663 29.2811 5.55723 31.025C5.20488 34.4511 5.20488 37.9254 5.55723 41.3515C5.73653 43.0953 7.13403 44.4395 8.88017 44.5476C11.5138 44.7105 14.1661 44.792 16.8185 44.792ZM7.0144 41.2016C6.6723 37.8749 6.6723 34.5014 7.0144 31.1747C7.12016 30.1468 7.94284 29.3545 8.9707 29.2909C11.5744 29.1298 14.1964 29.0491 16.8185 29.0491C19.4405 29.0491 22.0625 29.1297 24.6662 29.2909C25.6941 29.3545 26.5168 30.1467 26.6224 31.1748C26.9647 34.5014 26.9647 37.8749 26.6224 41.2016C26.5168 42.2295 25.6941 43.0217 24.6662 43.0853C19.459 43.4077 14.1782 43.4077 8.9707 43.0853C7.94284 43.0218 7.12007 42.2295 7.0144 41.2016Z" fill="url(#paintn0_linear)" />
                                <path d="M49.2676 26.2205C49.2676 26.2205 44.0873 26.2212 44.0848 26.2214C43.9643 26.2225 43.844 26.2526 43.7352 26.3134L39.8947 28.4561H36.8135C36.7898 28.2026 36.7664 27.949 36.7403 27.6957C36.5032 25.3875 34.8616 23.5406 32.689 22.9937C36.8599 21.1132 39.7704 16.9161 39.7704 12.0518C39.7704 11.3982 39.7172 10.7423 39.6123 10.1022C39.5469 9.70308 39.1704 9.43237 38.7711 9.4979C38.3719 9.56333 38.1014 9.94 38.1668 10.3392C38.2589 10.9012 38.3057 11.4774 38.3057 12.0518C38.3057 17.8582 33.5818 22.582 27.7754 22.582C21.969 22.582 17.2452 17.8582 17.2452 12.0518C17.2452 6.24537 21.969 1.52152 27.7754 1.52152C31.9061 1.52152 35.6742 3.95401 37.3755 7.71865C37.5421 8.08731 37.9758 8.25099 38.3446 8.08448C38.7132 7.91788 38.877 7.48408 38.7105 7.11541C36.7727 2.82741 32.4804 0.0566406 27.7754 0.0566406C21.6075 0.0566406 16.5126 4.73645 15.8532 10.7316C14.3138 8.36769 11.6479 6.80134 8.62268 6.80134C3.86807 6.80144 0 10.6695 0 15.4241C0 18.6837 1.81811 21.5263 4.49328 22.9919C2.31725 23.5368 0.672673 25.3851 0.43546 27.6956C-0.144144 33.3312 -0.144144 39.0457 0.43546 44.6802C0.680974 47.072 2.42545 48.9877 4.77649 49.4473C5.17298 49.5246 5.55825 49.2661 5.63589 48.869C5.71343 48.472 5.45463 48.0873 5.05755 48.0096C3.34374 47.6746 2.07193 46.2765 1.89272 44.5304C1.32337 38.9952 1.32337 33.3815 1.89272 27.8452C2.09136 25.9108 3.64023 24.42 5.57553 24.3003C14.2099 23.7655 22.9659 23.7655 31.6003 24.3003C33.5355 24.4201 35.0845 25.9109 35.2831 27.8453C35.8524 33.3815 35.8524 38.9951 35.2831 44.5305C35.0844 46.4654 33.5355 47.9567 31.6003 48.0765C23.7235 48.5641 15.7418 48.6076 7.87618 48.2059C7.47255 48.1853 7.12792 48.4961 7.10731 48.9001C7.0867 49.3041 7.39745 49.6482 7.80147 49.6689C11.3768 49.8516 14.9754 49.9428 18.5779 49.9428C22.956 49.9428 27.3396 49.808 31.6906 49.5387C34.3443 49.3745 36.468 47.3312 36.7403 44.6803C36.7664 44.4271 36.7898 44.1735 36.8135 43.9199H39.8939L43.7352 46.0631C43.8462 46.125 43.9692 46.156 44.092 46.156H49.2675C49.6721 46.156 49.9999 45.828 49.9999 45.4235V26.9529C50 26.5484 49.6722 26.2205 49.2676 26.2205ZM1.46488 15.4241C1.46488 11.4773 4.6758 8.26632 8.62268 8.26632C12.5696 8.26632 15.7805 11.4773 15.7805 15.4241C15.7805 19.371 12.5695 22.5819 8.62268 22.5819C4.6759 22.5819 1.46488 19.3709 1.46488 15.4241ZM13.5527 22.4943C15.2735 21.2908 16.537 19.4761 17.0247 17.3674C18.0837 19.5007 19.7586 21.2763 21.8162 22.4592C19.062 22.4175 16.305 22.4293 13.5527 22.4943ZM36.9381 29.921H39.3523V42.4551H36.9381C37.2531 38.2878 37.2531 34.0887 36.9381 29.921ZM43.3597 44.1761L40.8174 42.7577V29.6187L43.3597 28.2003V44.1761ZM48.5351 44.6911H44.8246V27.6854H48.5351V44.6911Z" fill="url(#paintn1_linear)" />
                                <path d="M13.7531 15.4243C13.7531 12.5954 11.4516 10.2939 8.62259 10.2939C5.79371 10.2939 3.49219 12.5955 3.49219 15.4243C3.49219 18.2533 5.79371 20.5548 8.62259 20.5548C11.4516 20.5548 13.7531 18.2533 13.7531 15.4243ZM4.95707 15.4243C4.95707 13.4031 6.60145 11.7588 8.62259 11.7588C10.6438 11.7588 12.2882 13.4032 12.2882 15.4243C12.2882 17.4456 10.6438 19.09 8.62259 19.09C6.60145 19.09 4.95707 17.4456 4.95707 15.4243Z" fill="url(#paintn2_linear)" />
                                <path d="M21.4746 12.052C21.4746 15.5259 24.3009 18.3521 27.7748 18.3521C31.2486 18.3521 34.0748 15.5259 34.0748 12.052C34.0748 8.5781 31.2487 5.75195 27.7748 5.75195C24.3009 5.75186 21.4746 8.5781 21.4746 12.052ZM32.61 12.052C32.61 14.7182 30.441 16.8872 27.7748 16.8872C25.1086 16.8872 22.9395 14.7181 22.9395 12.052C22.9395 9.38584 25.1086 7.21683 27.7748 7.21683C30.441 7.21683 32.61 9.38584 32.61 12.052Z" fill="url(#paintn3_linear)" />
                                <path d="M13.1035 32.5733H23.9209C24.3254 32.5733 24.6533 32.2453 24.6533 31.8408C24.6533 31.4363 24.3254 31.1084 23.9209 31.1084H13.1035C12.699 31.1084 12.3711 31.4363 12.3711 31.8408C12.3711 32.2453 12.699 32.5733 13.1035 32.5733Z" fill="url(#paintn4_linear)" />
                                <path d="M23.9221 34.4482H16.8184C16.4139 34.4482 16.0859 34.7762 16.0859 35.1807C16.0859 35.5852 16.4139 35.9131 16.8184 35.9131H23.9221C24.3266 35.9131 24.6545 35.5852 24.6545 35.1807C24.6545 34.7762 24.3267 34.4482 23.9221 34.4482Z" fill="url(#paintn5_linear)" />
                                <defs>
                                    <linearGradient id="paintn0_linear" x1="5.29297" y1="44.792" x2="13.639" y2="26.3707" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn1_linear" x1="0" y1="49.9428" x2="28.5193" y2="2.84516" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn2_linear" x1="3.49219" y1="20.5548" x2="9.36441" y2="10.8794" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn3_linear" x1="21.4746" y1="18.3521" x2="28.6855" y2="6.47078" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn4_linear" x1="12.3711" y1="32.5733" x2="12.5072" y2="30.693" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn5_linear" x1="16.0859" y1="35.9131" x2="16.28" y2="34.0431" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <span>Озвучка видео</span>
                        </div>
                        <div class="order-element">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clipz0)">
                                    <path d="M45.4612 45.9572H44.4193V36.9871C44.4193 35.7419 43.4063 34.7288 42.161 34.7288H40.5612C40.5219 33.1792 39.2501 31.9305 37.6912 31.9305H27.5354V30.7538C27.5354 30.3513 27.2091 30.0251 26.8067 30.0251C26.4042 30.0251 26.078 30.3513 26.078 30.7538V31.9305H21.8408C21.4384 31.9305 21.1121 32.2566 21.1121 32.6592C21.1121 33.0617 21.4384 33.3879 21.8408 33.3879H37.6912C38.4464 33.3879 39.0653 33.9829 39.1038 34.7288H14.9489C14.9873 33.9829 15.6062 33.3879 16.3614 33.3879H18.5135C18.9159 33.3879 19.2422 33.0617 19.2422 32.6592C19.2422 32.2566 18.9159 31.9305 18.5135 31.9305H16.3614C14.8025 31.9305 13.5307 33.1792 13.4914 34.7288H11.8916C10.6464 34.7288 9.6333 35.7419 9.6333 36.9871V40.3062C8.94326 40.179 8.53349 39.9215 8.29131 39.3071C8.02929 38.6425 7.23583 33.2253 7.59345 31.4954C7.97519 29.6483 9.46113 27.9207 11.6703 26.7555C14.0137 25.5195 16.8727 24.5668 19.1318 24.2693C26.3173 23.3239 33.6057 25.4397 39.169 30.0764L39.3138 30.6599C39.5919 31.7801 40.6107 32.5389 41.7207 32.5388C41.9028 32.5388 42.0876 32.5182 42.2716 32.4757L42.3099 32.4669C42.9616 32.3161 43.513 31.919 43.8627 31.3487C44.2121 30.7788 44.3159 30.1077 44.1549 29.459L37.3097 1.87884C36.9861 0.575122 35.6579 -0.239039 34.3523 0.0629144L34.3127 0.0719965C33.6615 0.222583 33.1105 0.619263 32.7611 1.18899C32.4116 1.75901 32.3078 2.4305 32.4688 3.07962L32.6415 3.77581C31.394 6.81781 29.6068 9.56225 27.3243 11.9343C25.0006 14.3493 22.2733 16.2674 19.2181 17.6359C18.3272 18.0349 17.3835 18.3393 16.3845 18.6614C15.5699 18.9241 14.7276 19.1958 13.9216 19.5226C12.3321 20.1672 10.2702 21.072 8.41797 22.3575C5.66151 24.2705 3.79003 26.7914 3.14842 29.4556C2.74813 31.1179 2.76913 33.0223 3.21249 35.2775C3.22225 35.3272 4.25966 40.3543 4.96942 41.4477C5.66571 42.5278 6.76767 43.3469 7.99062 43.6941C8.29463 43.7816 8.6082 43.8418 8.91963 43.873C9.07832 43.8895 9.23887 43.8983 9.39678 43.8991L9.49814 43.8997C9.49941 43.8997 9.50078 43.8997 9.50205 43.8997C9.50752 43.8997 9.51299 43.8996 9.51846 43.8995L9.63369 43.8962V45.9572H8.5914C7.66865 45.9572 6.91786 46.7079 6.91786 47.6307V48.3266C6.91786 49.2493 7.66855 50 8.5914 50H45.4612C46.384 50 47.1347 49.2493 47.1347 48.3266V47.6307C47.1347 46.708 46.384 45.9572 45.4612 45.9572ZM34.0033 1.951C34.1468 1.71692 34.3733 1.55393 34.643 1.49143L34.6774 1.48342C34.7534 1.46585 34.8295 1.45745 34.9047 1.45745C35.3619 1.45745 35.7809 1.76946 35.8952 2.22981L42.7404 29.8099C42.8066 30.0765 42.7638 30.3525 42.6202 30.5868C42.4763 30.8215 42.2494 30.9848 41.9788 31.0474L41.9452 31.0553C41.4074 31.1797 40.8616 30.8449 40.7285 30.3088L40.5258 29.4924C40.5258 29.4923 40.5258 29.4922 40.5258 29.4922L34.1137 3.65735C34.1137 3.65726 34.1137 3.65726 34.1136 3.65716L33.8832 2.72864C33.8168 2.46155 33.8595 2.18538 34.0033 1.951ZM9.6333 42.439L9.496 42.4423L9.40459 42.4417C9.29404 42.4411 9.18144 42.4349 9.06699 42.423C8.83965 42.4004 8.61279 42.3567 8.39052 42.2929C7.50156 42.0404 6.70097 41.4445 6.19267 40.6562C5.80907 40.0652 4.95878 36.6075 4.64208 34.9965C4.24003 32.9515 4.21474 31.2508 4.56483 29.797C5.12274 27.4807 6.78603 25.2638 9.24853 23.5549C10.9827 22.3513 12.9493 21.4896 14.4689 20.8733C15.2253 20.5665 16.0418 20.3032 16.8314 20.0486C17.8236 19.7286 18.8497 19.3976 19.8134 18.9661C23.04 17.521 25.9202 15.4952 28.3742 12.9451C30.3427 10.8992 31.9635 8.59164 33.2092 6.06459L38.6013 27.7897C32.9489 23.7099 25.8989 21.9086 18.9414 22.8246C16.486 23.1478 13.5138 24.1356 10.9903 25.4667C8.39472 26.8358 6.63642 28.9257 6.1662 31.2007C5.74306 33.2482 6.5998 38.9903 6.93544 39.8418C7.4999 41.2741 8.69726 41.6549 9.6333 41.7855V42.439ZM45.4612 48.5427H8.5914C8.47226 48.5427 8.37529 48.4458 8.37529 48.3267V47.6308C8.37529 47.5116 8.47226 47.4148 8.5914 47.4148H33.7582C34.1606 47.4148 34.4869 47.0886 34.4869 46.686C34.4869 46.2835 34.1606 45.9573 33.7582 45.9573H11.0908V37.2691V36.9872C11.0908 36.5456 11.4501 36.1864 11.8916 36.1864H42.161C42.6026 36.1864 42.9618 36.5457 42.9618 36.9872V45.9573H37.153C36.7505 45.9573 36.4243 46.2835 36.4243 46.686C36.4243 47.0886 36.7505 47.4148 37.153 47.4148H45.4611C45.5802 47.4148 45.6772 47.5116 45.6772 47.6308V48.3267H45.6773C45.6773 48.4458 45.5804 48.5427 45.4612 48.5427Z" fill="url(#paintn0_linear)" />
                                    <path d="M28.4153 37.5977C27.8281 37.5977 27.2701 37.7795 26.8067 38.1109C26.3433 37.7794 25.7852 37.5977 25.198 37.5977C23.6704 37.5977 22.4277 38.8403 22.4277 40.3679C22.4277 43.3954 26.3732 44.9741 26.5411 45.0399C26.6265 45.0733 26.7166 45.09 26.8067 45.09C26.8967 45.09 26.9868 45.0733 27.0722 45.0399C27.2402 44.9741 31.1856 43.3954 31.1856 40.3679C31.1856 38.8403 29.9429 37.5977 28.4153 37.5977ZM26.8117 43.5661C26.0506 43.2061 23.8852 42.0341 23.8852 40.3679C23.8852 39.644 24.4741 39.0551 25.198 39.0551C25.6045 39.0551 25.9817 39.2391 26.2327 39.56C26.3709 39.7363 26.5825 39.8395 26.8066 39.8395C27.0306 39.8395 27.2423 39.7363 27.3804 39.56C27.6315 39.2391 28.0087 39.0551 28.4152 39.0551C29.139 39.0551 29.728 39.644 29.728 40.3679C29.7281 41.9033 27.8222 43.0998 26.8117 43.5661Z" fill="url(#paintn1_linear)" />
                                </g>
                                <defs>
                                    <linearGradient id="paintn0_linear" x1="2.86328" y1="50" x2="32.949" y2="6.10819" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <linearGradient id="paintn1_linear" x1="22.4277" y1="45.09" x2="26.3813" y2="37.4755" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#483156" />
                                        <stop offset="1" stop-color="#39516E" />
                                    </linearGradient>
                                    <clipPath id="clipz0">
                                        <rect width="50" height="50" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <span>Музыка в рекламе</span>
                        </div>
                    </div>
                    @Html.Partial("_OrderSpeaker", model.SpeakerFormModel)
                </div>
            </div>
        </div>
        <div class="pages-box">
            <p class="adapt-left">* Примечание: время указано с момента оплаты</p>
            <p class="count-pages "><a>1</a><a>2</a><a>3</a>...<a>28</a></p>
        </div>
    </div>






    @*<table class="features-table">
            <thead>
                <tr style="height: 70px;">
                    <td class="grey players">Слушать</td>
                    <td>Фамилия, имя диктора</td>
                    <td class="grey">Статус</td>
                    @if ((bool)ViewData["isLang"])
                    {
                        <td class="grey">Язык</td>
                    }
                    @if (ViewData["price"].ToString() != "у.е.")
                    {
                        <td class="grey">Цена до 30 слов,<br> @ViewData["price"].</td>
                        <td class="grey">Цена до 70 слов,<br> @ViewData["price"].</td>
                    }
                    else
                    {
                        <td class="grey">Цена,<br> @ViewData["price"]</td>
                    }
                    <td class="green">Сроки выполнения*</td>
                    <td class="grey">Заказать</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td class="grey"></td>
                    <td nowrap></td>
                    <td class="grey"></td>
                    @if ((bool)ViewData["isLang"])
                    {
                        <td class="grey" colspan="2">@(ViewData["price"].ToString() == "у.е." ? "Цены указаны в долларах" : "")</td>
                    }
                    else if (ViewData["price"].ToString() == "у.е.")
                    {
                        <td class="grey">Цены указаны в долларах</td>
                    }
                    else
                    {
                        if (ViewData["price"].ToString() == "грн")
                        {
                            <td class="grey" colspan="2">Цены указаны в гривнах</td>
                        }
                        else
                        {
                            <td class="grey" colspan="2"></td>
                        }
                    }
                    <td class="green">*после момента оплаты</td>
                    <td class="grey"></td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    var status = EnumExtensions.GetDescription(item.Status);
                    <tr>
                        <td class="grey">
                            <audio controls><source src="@item.Demo" type="audio/mpeg"></audio>
                        </td>
                        <td>
                            @if (item.IsNovelty)
                            {<img class="new_img" alt="new" src="~/site/img/new.gif">}
                            <a class="white" title="заказать: @item.Name" href="@Url.Action("Inner", "Home", new {url = item.Url})">@item.Name @(item.VacationEndDate.HasValue && item.VacationEndDate > DateTime.Today ? $"(н/д до {item.VacationEndDate.Value.ToShortDateString()})" : "")</a>
                        </td>
                        <td class="grey">
                            @switch (item.Status)
                            {
                                case SpeakerStatuses.InStudio:
                                    <p style="display: none;">2</p>
                                    <img src="~/site/img/green.png" alt="@status" title="@status" style="width: 30px;">
                                    break;
                                case SpeakerStatuses.Order:
                                    <p style="display: none;">1</p> <img src="~/site/img/yellow.png" alt="@status" title="@status" style="width: 30px;">
                                    break;
                                case SpeakerStatuses.OutOfService:
                                    <img src="~/site/img/red.png" alt="@status" title="@status" style="width: 30px;">
                                    break;
                                case SpeakerStatuses.Offline:
                                    <img src="~/site/img/grey.png" alt="@status" title="@status" style="width: 30px;">
                                    break;
                            }
                        </td>
                        @if ((bool)ViewData["isLang"])
                        {
                            <td class="grey">@String.Join(", ", item.VoiceLanguages.Select(p => p.Name))</td>
                        }
                        @if (ViewData["price"].ToString() != "у.е.")
                        {
                            <td class="grey">@item.Price30</td>
                            <td class="grey">@item.Price90</td>
                        }
                        else
                        {
                            <td class="grey">@item.Price30</td>
                        }
                        <td class="green">@item.TermsStr</td>
                        <td class="grey">
                            <a href="@Url.Action("Order", "Home", new { speaker = item.Name })"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
