@using Pras.Shared.Enums
@using Pras.Shared.Enums.Extensions
@model AudioPageViewModel

@{
    ViewBag.Title = Model.Information != null ? Model.Information.MetaTitle ?? Model.Information.Title : "Аудиоролики";
    ViewBag.MetaDescription = Model.Information?.MetaDescription;
    Layout = "_Layout";
    int i = 0;
}
@section Styles{
    <link href="~/site2/css/styleaudio.css" rel="stylesheet" />
}
@section Scripts{
    @*<script src="~/site2/js/audio.js"></script>*@
}
<section id="1" class="home-page">
    <div class="home-box-text">
        <p class="sila-fm-txt">СИЛА FM</p>
        <h2 class="professional-txt">АУДИОРОЛИКИ</h2>
        <p class="txt-production">Производство и запись рекламных аудиороликов качественно и по доступным ценам</p>
        <button class="home-btn js_open-modal">
            СДЕЛАТЬ ЗАКАЗ
            <svg class="btn-svg" width="8" height="15">
                <use href="#order-svg"></use>
            </svg>
        </button>
    </div>
    <svg class="audiopage-sila" width="161" height="528">
        <use href="#sila"></use>
    </svg>
</section>
@Html.Partial("_MainPlayer")
<section class="services">
    @Html.Partial("_FloatingPanel")
    <div id="show" class="box-container">
        <div class="box-element-audio">
            <hr class="hr-for-box">
            <img src="~/site2/img/icons/globus.svg" style="margin: 15px 0; padding-bottom: 40px;" alt="">
            <h4 class="text-element">ЗАПИСЬ НА 50 ЯЗЫКАХ</h4>
        </div>
        <div class="box-element-audio for-other-bg2">
            <hr class="hr-for-box">
            <img src="~/site2/img/icons/gramota.svg" style="margin: 15px 0; padding-bottom: 40px;" alt="">
            <h4 class="text-element">ЛИЦЕНЗИОННАЯ МУЗЫКА</h4>
        </div>
        <div class="box-element-audio for-other-bg3">
            <hr class="hr-for-box">
            <img src="~/site2/img/icons/sand-clock.svg" style="margin: 15px 0; padding-bottom: 40px;" alt="">
            <h4 class="text-element">СРОКИ ОТ 1-2 ДНЕЙ</h4>
        </div>
        <div class="box-element-audio for-other-bg4">
            <hr class="hr-for-box">
            <img src="~/site2/img/icons/money.svg" style="margin: 15px 0; padding-bottom: 40px;" alt="">
            <h4 class="text-element">СТОИМОСТЬ ОТ 1000 ₽</h4>
        </div>
    </div>
</section>
<section class="about-us about-us-custom">
    <div id="showThird" class="box-about-us">
        <div class="box-about-element">
            <hr class="hr-for-slider">
            <p class="txt-about-us txt-audioslot">@Model.Information?.Title</p>
            <div class="info-about-us">
                @Html.Raw(Model.Information?.Text)
            </div>
            <p class="info-about-us"><b>Мы предлагаем следующие форматы аудиороликов:</b></p><br>
            @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
                <p class="info-about-us">
                    <i>
                        <svg class="icon-text-triangle">
                            <use xlink:href="#icon-triangle"></use>
                        </svg>
                        @group.Key.GetLocalizedDescription()
                    </i>
                </p>
            }
            <br>
            <p class="info-about-us"><b>Выберите интересующий формат аудиоролика:</b></p>
        </div>
    </div>
</section>
<section class="info-music">
    <a href="@Url.Action("Contact")" class="icon-message__inner">
        <div class="icon-message">
            <img src="~/site2/img/icons/messenger.svg" style="margin-top: -1200px;" alt="">
        </div>
    </a>
    <div class="base-speakers">
        @{
            foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
                <div class="base-box">
                    @if (group.Key == AudioTypes.Information)
                    {
                        <svg class="icon-card">
                            <use xlink:href="#icon-info"></use>
                        </svg>
                    }
                    else
                    {
                        <svg class="icon-card">
                            <use xlink:href="#icon-micro"></use>
                        </svg>
                    }

                    <h4>@group.Key.GetLocalizedDescription()</h4>
                    @*<p id="base-text1">
                            Это информационное сообщение в официально-деловом или позитивном тоне. Буквальный рассказ о
                            рекламируемом объекте. Такой вариант подойдет, если ваша аудитория серьезная и воспринимает только информацию
                            коротко и по делу.
                        </p>*@
                    <a href="#examples">
                        <button class="base-btn-page">
                            СЛУШАТЬ ПРИМЕРЫ
                            <svg class="icon-btn-triangle  icon-triangle">
                                <use xlink:href="#icon-triangle"></use>
                            </svg>
                        </button>
                    </a>
                </div>
                i++;
            }
        }
    </div>
</section>
<section class="example-audio">
    <div class="example-block">
        <hr class="hr-for-slider">
        <p class="txt-about-us txt-audioslot">ПРИМЕРЫ АУДИОРОЛИКОВ</p>
        <a name="examples"></a>

        <ul class="audio-list" data-ng-init="tab='all'">
            <li class="audio-list__item" data-ng-class="{'active': tab=='all'}" data-ng-click="tab='all'">ВСЕ</li>
            @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
            <li class="audio-list__item" data-ng-class="{'active': tab=='@group.Key'}" data-ng-click="tab='@group.Key'">
                @if (group.Key == AudioTypes.Information)
                {
                    <svg class="icon">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                }
                else
                {
                    <svg class="icon">
                        <use xlink:href="#icon-micro"></use>
                    </svg>
                }
                @group.Key.GetLocalizedDescription()
            </li>
            }
        </ul>
        <div class="container-playlist">
            @{
                foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
                {
                    foreach (var item in group)
                    {
                        <div class="playlist-element" data-ng-show="tab=='@group.Key'||tab=='all'">
                            <div class="txt-visa-free">@item.Title</div>
                            @*<img src="~/site2/img/icons/iconI-blue.svg" class="icon-playlist">*@
                            <p class="voices-people"><b>Голоса:</b><br> @item.Summary </p>
                            <a download href="@item.Path" class="btn-download">
                                СКАЧАТЬ
                                <img src="~/site2/img/icons/download.svg" alt="">
                            </a>
                            <section class="player audio-playlist light js_music-inner" data-play-state="play" data-mute-state="unmute">
                                <audio src="@item.Path"></audio>
                                <div class="details">
                                    <div class="now-playing"></div>
                                    <div class="track-art"></div>
                                    <div class="track-name"></div>
                                    <div class="track-artist"></div>
                                </div>
                                <div class="controls">
                                    <div class="play-controls">
                                        <button type="button" class="btn-control btn-play pause js_play">
                                            <svg class="icon-play">
                                                <use xlink:href="#icon-play"></use>
                                            </svg>
                                            <svg class="icon-pause">
                                                <use xlink:href="#icon-pause"></use>
                                            </svg>
                                        </button>
                                        <input type="range" class="control-range range-music js_range-track" max="100" value="0">
                                    </div>
                                    <div class="volume-controls">
                                        <button type="button" class="btn-control btn-volume js_volume">
                                            <svg class="icon-volume icon-volume-audio">
                                                <use xlink:href="#icon-volume"></use>
                                            </svg>
                                        </button>
                                        <input type="range" class="control-range range-volume js_range-volume" max="100" value="100">
                                    </div>
                                    <div>
                                        <button class="playrepeat-track"></button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
<section class="foreign-speakers">
    <div id="showFour" class="box-with-speakers">
        <hr class="hr-for-box hr-speakers">
        <img class="img-speakers" src="~/site2/img/microphone.png" alt="Microphone">
        <h3 class="text-recording">Хотите заказать запись<br> аудиоролика?</h3>
        <p class="text-description">Убедитесь в превосходном качестве нашей работы наших дикторов!</p>
        <p class="text-description with-blue">
            Мы самым строгим образом проверяем свои результаты и извлекаем уроки как
            из успехов, так и из неудач, достигая, тем самым, высокого качества наших услуг.
        </p>
        <button class="home-btn speakers-btn js_open-modal">СДЕЛАТЬ ЗАКАЗ
            <svg class="icon-btn-triangle btn-svg">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </button>
    </div>
</section>

@*<div class="miniblock">
        <div class="inside">
            <figure class="left_img"><img src="images/page1_img3.jpg" alt=""></figure>
            <h2>@Model.Information?.Title</h2>
            @Html.Raw(Model.Information?.Text)
            <h4>Выберите интересующий формат аудиоролика:</h4>
            <div id="accordion" class="panel-group">
                @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p=>p.Key))
                {
                    i++;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-@i" data-parent="#accordion" data-toggle="collapse">
                                    <span class="glyphicon glyphicon-chevron-right"></span> @EnumExtensions.GetDescription(group.Key)
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-@i" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="features-table">
                                    <thead>
                                        <tr style="height: 70px;">
                                            <td class="grey">Слушать</td>
                                            <td width="420px">Название ролика</td>
                                            <td class="grey">Скачать</td>
                                            <td class="grey">Голоса</td>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td class="grey"></td>
                                            <td></td>
                                            <td class="grey"></td>
                                            <td class="grey"></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in group)
                                        {
                                            <tr>
                                                <td class="grey" align="center">
                                                    <audio controls><source src="@item.Path" type="audio/mpeg"></audio>
                                                </td>
                                                <td>
                                                    @item.Title
                                                    @if (item.IsNovelty)
                                                    {
                                                        <img class="new_img" src="~/site/img/new.gif" alt="new">
                                                    }
                                                </td>
                                                <td class="grey" align="center"><a href="@item.Path" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                                <td class="grey">@item.Summary</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@
