@using Pras.Shared.Enums.Extensions
@model AudioPageViewModel

@{
    ViewBag.Title = Model.Information != null ? Model.Information.MetaTitle ?? Model.Information.Title : "Аудиоролики";
    ViewBag.MetaDescription = Model.Information?.MetaDescription;
    Layout = "_Layout";
    int i = 0;
}
@section Styles{
    <link href="~/site2/css/audio/audio.css" rel="stylesheet" />
}
@section Scripts{
    @*<script src="~/site2/js/audio/audio.js"></script>*@
}
<section id="1" class="home-page">
    <div class="home-box-text">
        <p class="sila-fm-txt">СИЛА FM</p>
        <h2 class="professional-txt">АУДИОРОЛИКИ</h2>
        <p class="txt-production">Производство и запись рекламных аудиороликов качественно и по доступным ценам</p>
        <button class="home-btn">
            СДЕЛАТЬ ЗАКАЗ
            <svg class="btn-svg" width="8" height="15">
                <use href="#order-svg"></use>
            </svg>
        </button>
    </div>
    <svg class="audiopage-sila" width="161" height="528">
        <use href="#sila"></use>
    </svg>
</section>
<section class="player">
    <div class="details">
        <div class="now-playing"></div>
        <div class="track-art"></div>
        <div class="track-name"></div>
        <div class="track-artist"></div>
    </div>
    <div class="buttons">
        <div class="playpause-track" onclick="playpauseTrack()"><img src="~/site2/img/play.png"></div>
    </div>
    <div class="slider_container">
        <input type="range" id="range-player" min="1" max="100" value="100" class="seek_slider" onchange="seekTo()">
    </div>
    <div class="slider_container">
        <img class="icon-volume" src="~/site2/img/volume.png">
        <input type="range" min="1" max="100" value="99" id="rng" name="rng" class="volume_slider __range" onchange="setVolume()">
    </div>
    <div>
        <div class="playrepeat-track" onclick="playTrackRepeat()"><img src="~/site2/img/repeat.png"></div>
    </div>
</section>
<section class="services">
    @Html.Partial("_FloatingPanel")
    <div id="show" class="box-container">
        <div class="box-element-audio">
            <hr class="hr-for-box">
            <svg width="76" height="90" viewBox="0 0 76 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M68.8086 60.383C68.7905 60.4011 68.7721 60.4183 68.754 60.4364L65.6407 57.3231C71.7417 51.2427 75.523 42.836 75.523 33.5623C75.523 15.0558 60.4671 0 41.9607 0C32.7167 0 24.3339 3.75662 18.2582 9.82336L15.1171 6.68232C15.799 5.99555 15.7978 4.88602 15.1127 4.20117C14.4263 3.51475 13.3131 3.51475 12.6268 4.20117C5.69983 11.1282 1.43608 20.3113 0.621335 30.0593C-0.183919 39.6921 2.40042 49.34 7.89833 57.2261C8.24005 57.7162 8.78638 57.9788 9.34184 57.9788C9.68884 57.9788 10.0393 57.8763 10.3456 57.6628C11.1418 57.1075 11.3375 56.0118 10.7822 55.2155C0.936688 41.0936 1.9012 22.3131 12.7451 9.2823L15.9009 12.4381C11.2127 18.2106 8.39843 25.5633 8.39843 33.5621C8.39843 52.0683 23.4543 67.1244 41.9607 67.1244C49.9296 67.1244 57.2572 64.3308 63.0198 59.6742L66.1477 62.8021C53.2777 73.4467 34.7071 74.5029 20.6794 64.9881C19.8759 64.4428 18.7829 64.6527 18.238 65.4562C17.693 66.2595 17.9026 67.3527 18.7061 67.8976C25.2567 72.3408 32.713 74.6735 40.2029 74.9821V79.4531H33.8748C29.0285 79.4531 25.0857 83.3959 25.0857 88.2422C25.0857 89.213 25.8727 90 26.8435 90H57.0779C58.0487 90 58.8357 89.213 58.8357 88.2422C58.8357 83.3959 54.8929 79.4531 50.0466 79.4531H43.7185V74.9779C53.8164 74.5414 63.7259 70.4377 71.2945 62.869C71.981 62.1826 71.981 61.0696 71.2945 60.383C70.6081 59.6967 69.4951 59.6967 68.8086 60.383ZM41.4588 8.13428L45.0175 3.67031C57.3925 4.92609 67.5717 13.7232 70.8748 25.3804L70.4555 25.7542C70.0616 26.1056 69.747 26.5312 69.5253 27.0005L69.1729 26.0313C69.021 25.6136 68.7974 25.2304 68.5086 24.8922L66.922 23.0347C66.2175 22.21 65.1914 21.7369 64.1068 21.7369H62.1646C61.3017 21.7369 60.5126 22.2096 60.1055 22.9706C59.7092 23.7115 59.7408 24.602 60.1848 25.3111C59.1546 26.1443 58.0002 26.8309 56.7776 27.3354L54.3643 22.7127V21.6904C54.3643 21.2101 54.1678 20.7506 53.8203 20.4189L51.4228 18.1301C51.2423 17.9578 51.0273 17.826 50.7918 17.7432L43.8312 15.2972C43.644 15.2314 43.4467 15.1979 43.2485 15.1979H37.1932C35.2137 15.1979 33.3831 16.1278 32.2036 17.6344L30.8199 15.696L32.5304 11.5495L40.6659 8.6973C40.9779 8.58779 41.2526 8.39268 41.4588 8.13428ZM50.2231 45.2044C50.6144 46.4672 50.6144 46.4672 50.0839 47.0445C49.9906 47.1459 49.9037 47.2386 49.8223 47.3251C49.2126 47.9742 48.6859 48.5348 48.2651 49.8604C48.1825 50.1205 48.0886 50.2265 47.8372 50.5093C47.611 50.764 47.3296 51.081 47.0624 51.5385C46.7307 52.1063 46.621 52.6526 46.541 53.0517C46.469 53.4106 46.4412 53.5131 46.3684 53.6024C45.7467 54.366 44.7465 55.0935 44.2337 55.2607C44.0326 54.9543 43.6331 54.2174 43.0853 52.5913C42.8922 52.0181 42.6301 51.4404 42.3764 50.8818C41.8886 49.8074 41.3358 48.5896 41.5557 47.9088L41.6515 47.6153C42.0996 46.2495 42.5629 44.8372 41.7248 42.8291C41.4588 42.1915 41.0385 41.7292 40.7009 41.3576C40.5662 41.2095 40.3653 40.9885 40.3133 40.889C40.2864 40.7605 40.2874 40.5875 40.2888 40.3717C40.2934 39.6628 40.3013 38.4762 39.1401 37.3892C37.5285 35.8803 35.6442 36.3465 34.5185 36.6249C34.1956 36.7049 33.8904 36.7803 33.6367 36.8102C32.0034 37.002 30.5458 36.3892 29.6398 35.1285C28.6843 33.799 28.5479 32.0055 29.2835 30.4481C29.646 29.681 30.2164 29.0392 30.8768 28.296C31.0278 28.1262 31.1802 27.9547 31.3323 27.7794C31.5993 27.4718 31.8821 27.0701 32.1818 26.6447C32.4931 26.2027 33.0683 25.3865 33.3328 25.1779C33.8284 24.9217 35.1701 24.8743 35.9769 24.8456C36.3542 24.8323 36.7115 24.8196 37.039 24.7938C37.0392 24.8825 37.046 24.9718 37.0599 25.061C37.1446 25.6064 37.4809 26.0803 37.9676 26.3408C38.1891 26.4593 38.5164 26.6774 38.8627 26.9084C39.9185 27.6121 41.1152 28.4099 42.3124 28.4862C43.5012 28.5618 44.174 27.8761 44.4274 27.6177C44.4387 27.6061 44.4498 27.5947 44.461 27.5834C44.5406 27.5168 44.618 27.4403 44.6897 27.3549C44.7959 27.3841 44.904 27.4133 45.0131 27.4428C45.6505 27.6154 46.9726 27.9733 47.2995 28.2456C47.7889 28.7728 48.2023 29.8429 48.5674 30.7879C48.7553 31.2745 48.9498 31.7774 49.1617 32.2305C49.2488 32.4163 49.3344 32.6078 49.4214 32.8017C50.0113 34.1179 50.7457 35.756 52.2901 36.7655C52.8479 37.1301 53.4934 37.296 54.0834 37.4024C53.7658 37.7425 53.3975 38.0855 53.0165 38.4404C51.4153 39.9317 49.222 41.9743 50.2231 45.2044ZM22.0788 50.4884L21.1698 55.2329C16.5438 50.793 13.3324 44.8915 12.2855 38.2788L14.9825 37.4027L20.0979 41.2921C20.312 41.4548 20.5607 41.5665 20.8248 41.618L24.0259 42.2436C24.3961 42.316 24.5888 42.561 24.6707 42.7006C24.7526 42.8402 24.8723 43.1279 24.7549 43.4865C24.4569 44.395 24.4555 45.3556 24.751 46.2649L25.159 47.5205C25.3228 48.0247 25.046 48.5678 24.5418 48.7317L23.262 49.1474C22.6527 49.3453 22.1992 49.8591 22.0788 50.4884ZM41.9605 63.6087C35.3446 63.6087 29.2225 61.4577 24.2532 57.8204L25.3357 52.1699L25.6276 52.075C27.9754 51.3125 29.2649 48.7819 28.5022 46.4342L28.0942 45.1786C28.0307 44.9833 28.0311 44.7769 28.0951 44.582C28.495 43.3628 28.3521 42.0288 27.7031 40.922C27.0541 39.8152 25.9595 39.0393 24.7 38.793L21.9 38.246L16.378 34.0472C15.9194 33.6988 15.3193 33.5969 14.7708 33.7748L11.9376 34.6952C11.9235 34.319 11.9141 33.9416 11.9141 33.5621C11.9141 17.444 24.6717 4.25109 40.6195 3.54691L39.0251 5.54678L30.6242 8.49217C30.1515 8.65793 29.7718 9.01758 29.5808 9.48076L27.1989 15.2548C26.9681 15.8145 27.0414 16.4537 27.3932 16.9465L31.0674 22.0936C31.1291 22.1799 31.1999 22.2569 31.2742 22.3295C30.6096 22.8145 30.0266 23.6007 29.308 24.6206C29.0719 24.9557 28.8277 25.3021 28.6773 25.4754C28.5342 25.6403 28.3909 25.8015 28.2489 25.9613C27.479 26.8276 26.6827 27.7235 26.1045 28.9471C24.8231 31.6594 25.0838 34.8144 26.7848 37.1811C28.4342 39.4761 31.1484 40.6424 34.0468 40.3024C34.5199 40.2469 34.9676 40.1361 35.3626 40.0384C36.3752 39.7879 36.5656 39.7958 36.7372 39.9565C36.7495 39.9679 36.7588 39.9776 36.7658 39.985C36.7748 40.0644 36.7737 40.2267 36.773 40.3494C36.7706 40.7037 36.7674 41.1889 36.9012 41.7396C37.1216 42.6477 37.6864 43.2691 38.0988 43.7228C38.234 43.8715 38.4382 44.0963 38.4799 44.1837C38.8 44.9506 38.7015 45.3284 38.3106 46.52L38.2097 46.8288C37.5716 48.8046 38.4605 50.7625 39.1749 52.3359C39.4024 52.8369 39.6172 53.3101 39.7534 53.7144C40.9686 57.3212 41.9385 58.1739 42.7271 58.5323C43.1722 58.7347 43.622 58.8213 44.0662 58.8212C46.6184 58.821 48.9784 55.9651 49.0942 55.8229C49.7265 55.0464 49.8837 54.2623 49.9877 53.7434C50.0225 53.57 50.0619 53.3735 50.0978 53.3122C50.1894 53.1552 50.3054 53.0248 50.4659 52.8439C50.8209 52.4442 51.3072 51.8964 51.6158 50.9244C51.795 50.3601 51.885 50.2643 52.3847 49.7324C52.4742 49.6371 52.5698 49.5353 52.6725 49.4237C54.5711 47.3579 54.0678 45.7342 53.5812 44.164C53.2793 43.1898 53.7245 42.5856 55.4127 41.0135C56.1529 40.3242 56.9183 39.6114 57.5242 38.7343C57.8132 38.3159 58.6926 37.0426 58.1143 35.7013C57.5453 34.3818 56.1624 34.1698 55.1526 34.0149C54.8558 33.9694 54.3615 33.8936 54.2033 33.8161C53.5274 33.3668 53.0711 32.3487 52.6297 31.3639C52.5348 31.1523 52.4411 30.9435 52.3462 30.7408C52.1857 30.3977 52.0212 29.9719 51.8472 29.5214C51.3631 28.2683 50.8144 26.8479 49.8471 25.8228C48.9436 24.8651 47.3438 24.432 45.9323 24.0499C45.4881 23.9296 45.0687 23.8159 44.8054 23.7189C44.4819 23.5995 44.1307 23.5779 43.795 23.6565C43.0646 23.8279 42.5983 24.0247 42.236 24.3153C42.114 24.4132 41.9964 24.5326 41.8923 24.6709C41.6114 24.508 41.3027 24.3083 41.0468 24.1392C41.1011 23.6225 40.9705 23.1993 40.8373 22.9175C39.9853 21.1152 37.3204 21.2433 36.7943 21.2873C36.538 21.3087 36.2051 21.3205 35.8528 21.333C35.3475 21.3509 34.7958 21.3706 34.2399 21.4235L34.5433 20.5782C34.9435 19.463 36.0086 18.7137 37.1933 18.7137H42.9489L49.2695 20.9347L50.8491 22.4427V23.1442C50.8491 23.4276 50.9176 23.7066 51.0486 23.9578L54.3816 30.3421C54.7908 31.1259 55.7182 31.4838 56.5481 31.1778L57.5186 30.8199C59.8364 29.9653 61.985 28.5899 63.7321 26.843C64.149 26.4259 64.3181 25.8427 64.2195 25.2904C64.2302 25.2984 64.2401 25.3078 64.2489 25.3181L65.8355 27.1756C65.8501 27.1928 65.8615 27.2122 65.8691 27.2331L67.62 32.0481C67.8253 32.6127 68.3049 33.0333 68.8913 33.1634C69.0178 33.1915 69.1453 33.2051 69.272 33.2051C69.7331 33.2051 70.1817 33.0235 70.515 32.6902L71.3485 31.8565C71.5603 31.6447 71.7481 31.4128 71.9114 31.1646C71.9741 31.9558 72.0072 32.7551 72.0072 33.5621C72.0072 50.1298 58.5283 63.6087 41.9605 63.6087ZM50.0468 82.9688C52.3385 82.9688 54.2933 84.4381 55.019 86.4844H28.9026C29.6281 84.4381 31.5831 82.9688 33.8749 82.9688H50.0468Z"
                      fill="url(#paint0_linnear)" />
                <path d="M13.8696 59.5879C12.8988 59.5879 12.1118 60.3749 12.1118 61.3457V61.6259C12.1118 62.5967 12.8988 63.3837 13.8696 63.3837C14.8405 63.3837 15.6274 62.5967 15.6274 61.6259V61.3457C15.6274 60.3749 14.8405 59.5879 13.8696 59.5879Z"
                      fill="url(#paint1_linnear)" />
                <defs>
                    <linearGradient id="paint0_linnear" x1="38" y1="0" x2="38" y2="90" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paint1_linnear" x1="13.8696" y1="59.5879" x2="13.8696" y2="63.3837"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                </defs>
            </svg>
            <h4 class="text-element">ЗАПИСЬ НА 50 ЯЗЫКАХ</h4>
        </div>
        <div class="box-element-audio for-other-bg2">
            <hr class="hr-for-box">
            <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M89.485 1.39395C89.158 1.06699 88.7045 0.878906 88.2422 0.878906H52.9541C51.9838 0.878906 51.1963 1.66816 51.1963 2.63672C51.1963 3.60527 51.9838 4.39453 52.9541 4.39453H86.4844V64.8633H62.3767C62.5069 64.0025 62.5781 63.1227 62.5781 62.2266C62.5781 61.3306 62.5103 60.4501 62.3804 59.5898H74.1797C75.15 59.5898 75.9375 58.8023 75.9375 57.832V57.8074C75.9375 54.9 78.3035 52.534 81.2109 52.534C82.1813 52.534 82.9688 51.7465 82.9688 50.7762V18.457C82.9688 17.4867 82.1813 16.6992 81.2109 16.6992C78.3035 16.6992 75.9375 14.3332 75.9375 11.4258C75.9375 10.4555 75.15 9.66797 74.1797 9.66797H15.8203C14.85 9.66797 14.0625 10.4555 14.0625 11.4258C14.0625 14.3332 11.6965 16.6992 8.78906 16.6992C7.81875 16.6992 7.03125 17.4867 7.03125 18.457V50.952C7.03125 51.9223 7.81875 52.7098 8.78906 52.7098C11.7457 52.7098 14.0625 54.9492 14.0625 57.8074V57.832C14.0625 58.8023 14.85 59.5898 15.8203 59.5898H27.6196C27.4897 60.4501 27.4219 61.3306 27.4219 62.2266C27.4219 63.1225 27.4897 64.003 27.6196 64.8633H3.51562V4.39453H37.1338C38.1023 4.39453 38.8916 3.60527 38.8916 2.63672C38.8916 1.66816 38.1023 0.878906 37.1338 0.878906H1.75781C1.29551 0.878906 0.841992 1.06699 0.515039 1.39395C0.188086 1.7209 0 2.17441 0 2.63672V66.6211C0 67.0834 0.188086 67.5369 0.515039 67.8639C0.841992 68.1908 1.29551 68.3789 1.75781 68.3789H28.0028L19.183 78.8889C18.7453 79.4109 18.6486 80.1387 18.9352 80.7574C19.2217 81.3762 19.8387 81.7734 20.5207 81.777L26.4885 81.8068L27.552 87.6762C27.675 88.3477 28.1725 88.8873 28.8316 89.0631C28.9811 89.1018 29.1322 89.1211 29.2816 89.1211C29.7949 89.1211 30.2906 88.8979 30.6281 88.4936L38.851 78.6939C40.766 79.4113 42.8377 79.8047 45 79.8047C47.1621 79.8047 49.2346 79.4127 51.1488 78.6937L59.3719 88.4936C59.7094 88.8979 60.2051 89.1211 60.7184 89.1211C60.8678 89.1211 61.0189 89.1018 61.1684 89.0631C61.8275 88.8873 62.325 88.3477 62.448 87.6762L63.5115 81.8068L69.4793 81.777C70.1613 81.7734 70.7783 81.3762 71.0648 80.7574C71.3514 80.1387 71.2547 79.4109 70.817 78.8889L61.9972 68.3789H88.2422C88.7045 68.3789 89.158 68.1908 89.485 67.8639C89.8119 67.5369 90 67.0834 90 66.6211V2.63672C90 2.17441 89.8119 1.7209 89.485 1.39395ZM17.4076 56.0742C16.7221 52.657 14.0344 50.0273 10.5469 49.3594V20.0391C13.9852 19.3377 16.701 16.6219 17.4023 13.1836H72.5977C73.299 16.6219 76.0148 19.3377 79.4531 20.0391V49.1941C76.0061 49.8973 73.2867 52.6236 72.5941 56.0742H61.4661C58.9669 49.407 52.5291 44.6484 45 44.6484C37.4788 44.6484 31.0468 49.3972 28.542 56.0533L17.4076 56.0742ZM30.3434 83.3643L29.6859 79.7414C29.5348 78.9082 28.8123 78.3018 27.965 78.2982L24.2842 78.2789L30.0303 71.4306C31.438 73.7116 33.3517 75.6482 35.6142 77.0827L30.3434 83.3643ZM45 76.2891C37.2463 76.2891 30.9375 69.9803 30.9375 62.2266C30.9375 54.4729 37.2463 48.1641 45 48.1641C52.7537 48.1641 59.0625 54.4729 59.0625 62.2266C59.0625 63.0475 58.9922 63.8525 58.8551 64.6348C58.616 66.0217 58.1713 67.3383 57.5561 68.5547C56.3326 70.9734 54.4307 72.9932 52.1016 74.3607C51.0504 74.9777 49.9131 75.4629 48.7125 75.7916C47.5295 76.1168 46.285 76.2891 45 76.2891ZM62.035 78.2982C61.1877 78.3018 60.4652 78.9082 60.3141 79.7414L59.6566 83.3643L54.385 77.0818C56.649 75.6492 58.5633 73.7121 59.9695 71.4305L65.7158 78.2789L62.035 78.2982Z"
                      fill="url(#paintt0_linear)" />
                <path d="M45.0439 4.39453C46.0148 4.39453 46.8018 3.60753 46.8018 2.63672C46.8018 1.66591 46.0148 0.878906 45.0439 0.878906C44.0731 0.878906 43.2861 1.66591 43.2861 2.63672C43.2861 3.60753 44.0731 4.39453 45.0439 4.39453Z"
                      fill="url(#paintt1_linear)" />
                <path d="M25.5762 46.9336H19.248C18.2772 46.9336 17.4902 47.7206 17.4902 48.6914C17.4902 49.6622 18.2772 50.4492 19.248 50.4492H25.5762C26.547 50.4492 27.334 49.6622 27.334 48.6914C27.334 47.7206 26.547 46.9336 25.5762 46.9336Z"
                      fill="url(#paintt2_linear)" />
                <path d="M70.752 46.9336H64.4238C63.453 46.9336 62.666 47.7206 62.666 48.6914C62.666 49.6622 63.453 50.4492 64.4238 50.4492H70.752C71.7228 50.4492 72.5098 49.6622 72.5098 48.6914C72.5098 47.7206 71.7228 46.9336 70.752 46.9336Z"
                      fill="url(#paintt3_linear)" />
                <path d="M75.7617 41.6602C75.7617 40.6893 74.9747 39.9023 74.0039 39.9023H15.9961C15.0253 39.9023 14.2383 40.6893 14.2383 41.6602C14.2383 42.631 15.0253 43.418 15.9961 43.418H74.0039C74.9747 43.418 75.7617 42.631 75.7617 41.6602Z"
                      fill="url(#paintt4_linear)" />
                <path d="M15.9961 36.3867H74.0039C74.9747 36.3867 75.7617 35.5997 75.7617 34.6289C75.7617 33.6581 74.9747 32.8711 74.0039 32.8711H15.9961C15.0253 32.8711 14.2383 33.6581 14.2383 34.6289C14.2383 35.5997 15.0253 36.3867 15.9961 36.3867Z"
                      fill="url(#paintt5_linear)" />
                <path d="M47.2852 27.5977C47.2852 28.5685 48.0721 29.3555 49.043 29.3555H70.4883C71.4591 29.3555 72.2461 28.5685 72.2461 27.5977C72.2461 26.6268 71.4591 25.8398 70.4883 25.8398H49.043C48.0721 25.8398 47.2852 26.6268 47.2852 27.5977Z"
                      fill="url(#paintt6_linear)" />
                <path d="M19.5117 29.3555H41.1328C42.1037 29.3555 42.8906 28.5685 42.8906 27.5977C42.8906 26.6268 42.1037 25.8398 41.1328 25.8398H19.5117C18.5409 25.8398 17.7539 26.6268 17.7539 27.5977C17.7539 28.5685 18.5409 29.3555 19.5117 29.3555Z"
                      fill="url(#paintt7_linear)" />
                <path d="M29.1797 22.3242H60.8203C61.7912 22.3242 62.5781 21.5372 62.5781 20.5664C62.5781 19.5956 61.7912 18.8086 60.8203 18.8086H29.1797C28.2088 18.8086 27.4219 19.5956 27.4219 20.5664C27.4219 21.5372 28.2088 22.3242 29.1797 22.3242Z"
                      fill="url(#paintt8_linear)" />
                <path d="M55.5469 62.2266C55.5469 56.411 50.8155 51.6797 45 51.6797C39.1845 51.6797 34.4531 56.411 34.4531 62.2266C34.4531 68.0421 39.1845 72.7734 45 72.7734C50.8155 72.7734 55.5469 68.0421 55.5469 62.2266ZM45 69.2578C41.123 69.2578 37.9688 66.1036 37.9688 62.2266C37.9688 58.3495 41.123 55.1953 45 55.1953C48.877 55.1953 52.0312 58.3495 52.0312 62.2266C52.0312 66.1036 48.877 69.2578 45 69.2578Z"
                      fill="url(#paintt9_linear)" />
                <defs>
                    <linearGradient id="paintt0_linear" x1="45" y1="0.878906" x2="45" y2="89.1211"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt1_linear" x1="45.0439" y1="0.878906" x2="45.0439" y2="4.39453"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt2_linear" x1="22.4121" y1="46.9336" x2="22.4121" y2="50.4492"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt3_linear" x1="67.5879" y1="46.9336" x2="67.5879" y2="50.4492"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt4_linear" x1="45" y1="39.9023" x2="45" y2="43.418" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt5_linear" x1="45" y1="32.8711" x2="45" y2="36.3867"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt6_linear" x1="59.7656" y1="25.8398" x2="59.7656" y2="29.3555"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt7_linear" x1="30.3223" y1="25.8398" x2="30.3223" y2="29.3555"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt8_linear" x1="45" y1="18.8086" x2="45" y2="22.3242"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintt9_linear" x1="45" y1="51.6797" x2="45" y2="72.7734"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                </defs>
            </svg>
            <h4 class="text-element">ЛИЦЕНЗИОННАЯ МУЗЫКА</h4>
        </div>
        <div class="box-element-audio for-other-bg3">
            <hr class="hr-for-box">
            <svg class="time-svg" width="54" height="90" viewBox="0 0 54 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27 56.7773C27.9702 56.7773 28.7578 55.9898 28.7578 55.0195C28.7578 54.0493 27.9702 53.2617 27 53.2617C26.0298 53.2617 25.2422 54.0493 25.2422 55.0195C25.2422 55.9898 26.0298 56.7773 27 56.7773Z"
                      fill="url(#paintte0_linear)" />
                <path d="M36.6124 43.4599C40.691 40.9818 44.0673 37.4936 46.3771 33.3717C48.6499 29.3156 49.8516 24.7261 49.8516 20.0988V10.2448C51.8978 9.51897 53.3672 7.56477 53.3672 5.27344V1.75781C53.3672 0.786896 52.5803 0 51.6094 0H2.39062C1.41971 0 0.632812 0.786896 0.632812 1.75781V5.27344C0.632812 7.56477 2.10223 9.51897 4.14844 10.2448V20.0988C4.14844 24.7261 5.35007 29.3156 7.62286 33.3717C9.93274 37.4936 13.3097 40.9824 17.3883 43.4599C17.9095 43.7764 18.2212 44.3525 18.2212 45C18.2212 45.6482 17.9095 46.2236 17.3883 46.5408C13.3097 49.0182 9.93274 52.5064 7.62286 56.6283C5.35007 60.6844 4.14844 65.2739 4.14844 69.9012V79.7552C2.10223 80.481 0.632812 82.4352 0.632812 84.7266V88.2422C0.632812 89.2131 1.41971 90 2.39062 90H51.6094C52.5803 90 53.3672 89.2131 53.3672 88.2422V84.7266C53.3672 82.4352 51.8978 80.481 49.8516 79.7552V69.9012C49.8516 65.2739 48.6499 60.6844 46.3771 56.6283C44.0673 52.5064 40.6903 49.0176 36.6117 46.5401C36.0905 46.2236 35.7788 45.6475 35.7788 45C35.7788 44.3518 36.0905 43.7764 36.6124 43.4599ZM4.14844 3.51562H49.8516V5.27344C49.8516 6.24298 49.0633 7.03125 48.0938 7.03125H5.90625C4.93671 7.03125 4.14844 6.24298 4.14844 5.27344V3.51562ZM49.8516 86.4844H4.14844V84.7266C4.14844 83.757 4.93671 82.9688 5.90625 82.9688H48.0938C49.0633 82.9688 49.8516 83.757 49.8516 84.7266V86.4844ZM34.7872 49.5449C42.0183 53.9381 46.3359 61.5482 46.3359 69.9012V79.4531H7.66406V69.9012C7.66406 61.5482 11.9817 53.9381 19.2128 49.5449C20.7934 48.5857 21.7369 46.8862 21.7369 45C21.7369 43.1138 20.7934 41.4143 19.2128 40.4551C11.9817 36.0619 7.66406 28.4518 7.66406 20.0988V10.5469H46.3359V20.0988C46.3359 28.4518 42.0183 36.0619 34.7872 40.4551C33.2066 41.4143 32.2631 43.1138 32.2631 45C32.2631 46.8862 33.2066 48.5857 34.7872 49.5449Z"
                      fill="url(#paintte1_linear)" />
                <path d="M28.4008 60.9014C28.0691 60.4592 27.5486 60.1982 26.9959 60.1982C26.9959 60.1982 26.9952 60.1982 26.9945 60.1982C26.4424 60.1982 25.922 60.4578 25.5903 60.8986C24.9277 61.7803 24.1024 62.5294 23.1376 63.1275C21.1244 64.3401 19.326 65.0981 17.7385 65.7676C14.2188 67.2522 11.1797 68.5341 11.1797 73.4066V74.1797C11.1797 75.1506 11.9666 75.9375 12.9375 75.9375H41.0625C42.0334 75.9375 42.8203 75.1506 42.8203 74.1797V73.4066C42.8203 68.5369 39.7737 67.2494 36.2464 65.758C34.6458 65.081 32.8317 64.3147 30.793 63.0876C29.8585 62.5074 29.0538 61.7713 28.4008 60.9014ZM39.2353 72.4219H14.764C15.0318 70.7973 16.1393 70.2576 19.1049 69.0072C20.7193 68.3261 22.7277 67.4794 24.9613 66.1336C24.9668 66.1295 24.973 66.1261 24.9785 66.1226C25.7077 65.6715 26.3813 65.1558 26.9931 64.5811C27.5898 65.1421 28.2435 65.6433 28.9501 66.0814C28.9563 66.0849 28.9624 66.089 28.9686 66.0924C31.2263 67.452 33.2505 68.3082 34.8772 68.9962C37.8552 70.2549 38.9669 70.7973 39.2353 72.4219Z"
                      fill="url(#paintte2_linear)" />
                <path d="M42.8203 20.109V16.8749C42.8203 16.2357 42.4736 15.6472 41.9146 15.3375C41.3557 15.0272 40.6732 15.0457 40.1307 15.3842C36.1894 17.8479 31.6493 19.1498 27 19.1498C22.3514 19.1498 17.8106 17.8479 13.8693 15.3842C13.3268 15.0457 12.6443 15.0279 12.0854 15.3375C11.5264 15.6472 11.1797 16.2357 11.1797 16.8749V20.109C11.1797 23.1495 12.3539 26.4221 14.5745 29.5724C16.7264 32.6252 19.7113 35.3519 23.207 37.4592C23.917 37.9007 24.6125 38.5269 25.2422 39.2836V47.9882C25.2422 48.9592 26.0291 49.746 27 49.746C27.9702 49.746 28.7578 48.9592 28.7578 47.9882V39.2871C29.3991 38.5215 30.1181 37.8808 30.8624 37.4194C38.0152 33.1052 42.8203 26.1502 42.8203 20.109ZM29.0387 34.4132C29.0332 34.4174 29.027 34.4201 29.0215 34.4242C28.3204 34.8575 27.6413 35.3938 27.0062 36.0104C26.3903 35.4075 25.7359 34.8905 25.0499 34.4654C25.0437 34.4613 25.0376 34.4579 25.0314 34.4538C18.8488 30.7301 14.6953 24.9657 14.6953 20.109V19.8502C18.5206 21.6986 22.7201 22.6654 27 22.6654C31.2799 22.6654 35.4794 21.6986 39.3047 19.8502V20.109C39.3047 24.8895 35.0832 30.7713 29.0387 34.4132Z"
                      fill="url(#paintte3_linear)" />
                <defs>
                    <linearGradient id="paintte0_linear" x1="27" y1="53.2617" x2="27" y2="56.7773"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintte1_linear" x1="27" y1="0" x2="27" y2="90" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintte2_linear" x1="27" y1="60.1982" x2="27" y2="75.9375"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="paintte3_linear" x1="27" y1="15.1169" x2="27" y2="49.746"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                </defs>
            </svg>
            <h4 class="text-element">СРОКИ ОТ 1-2 ДНЕЙ</h4>
        </div>
        <div class="box-element-audio for-other-bg4">
            <hr class="hr-for-box">
            <svg width="90" height="86" viewBox="0 0 90 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.993 85.108C20.2686 85.108 19.6038 84.6482 19.3477 83.9703C19.0858 83.2765 19.3009 82.4611 19.8768 81.9919C20.4553 81.5207 21.2851 81.467 21.9199 81.8585C22.5176 82.2273 22.8431 82.945 22.7264 83.6376C22.5849 84.4747 21.8436 85.108 20.993 85.108Z"
                      fill="url(#painet0_linear)" />
                <path d="M88.2283 57.3934C86.8674 56.0325 85.0581 55.283 83.1337 55.283C82.2971 55.283 81.4822 55.4246 80.7167 55.6966C80.546 55.5429 80.3767 55.3923 80.3119 55.3392C77.4382 52.9888 73.2898 53.1975 70.6622 55.8249L62.3587 64.1286C61.6642 64.8225 58.8301 66.4522 58.0057 66.5554H52.9369C52.048 66.5554 51.6985 65.8783 51.6126 65.6707C51.5398 65.4949 51.3626 64.9479 51.6912 64.4026L55.7058 63.2398C57.8763 62.6111 59.5517 60.9369 60.1875 58.7613C60.8105 56.6293 60.3151 54.3677 58.8607 52.7104C58.7929 52.6332 58.7233 52.5566 58.6517 52.481C57.4866 51.2507 55.3425 51.1226 51.2521 52.0384C48.37 52.6837 45.0398 53.7616 42.7536 54.5522C37.7901 56.2689 33.9405 60.087 32.2328 64.9094H30.4478V63.5307C30.4478 62.5599 29.6608 61.7729 28.69 61.7729H1.7578C0.786968 61.7729 0 62.5599 0 63.5307V83.3501C0 84.321 0.786968 85.1079 1.7578 85.1079H13.0141C13.9849 85.1079 14.7719 84.321 14.7719 83.3501C14.7719 82.3793 13.9849 81.5923 13.0141 81.5923H3.5156V65.2885H26.9318V83.3501C26.9318 84.321 27.7188 85.1079 28.6896 85.1079C29.6605 85.1079 30.4474 84.321 30.4474 83.3501V81.9715H35.7011C40.87 83.7342 46.2098 84.6221 51.6221 84.6221C52.81 84.6219 54.002 84.5792 55.1957 84.4936C61.9017 84.0123 68.3196 82.2028 74.271 79.1154C75.6966 78.3759 76.2093 78.0219 76.5076 77.7338L87.397 67.6264C87.413 67.6117 87.4287 67.5965 87.444 67.5812C88.7776 66.2483 89.6834 64.4808 89.9295 62.7322C90.2185 60.6759 89.6145 58.7797 88.2283 57.3934ZM73.1479 58.3109C74.3701 57.0886 76.2348 56.8882 77.6683 57.7643L69.735 65.6974C69.1818 66.2508 68.446 66.5556 67.6636 66.5556H64.9033L73.1479 58.3109ZM74.052 75.2184C74.0594 75.211 74.0675 75.2027 74.0766 75.1943C74.0683 75.2024 74.0601 75.2103 74.052 75.2184ZM86.448 62.243C86.3074 63.2423 85.7728 64.2724 84.9797 65.0737L74.0989 75.1732C74.0972 75.1748 74.0956 75.1762 74.0942 75.1778C74.0268 75.2277 73.7108 75.4462 72.6523 75.9953C61.6147 81.721 48.5064 82.6681 36.6901 78.5948L36.5681 78.5526C36.3837 78.4889 36.1902 78.4566 35.995 78.4566H30.4474V68.4257H33.5281C34.326 68.4257 35.0239 67.8883 35.2276 67.1168C36.3638 62.8158 39.6068 59.3611 43.9023 57.8754C53.2992 54.6257 55.7712 54.9115 56.2059 55.0159C56.2101 55.0209 56.2147 55.026 56.2189 55.0309C56.8842 55.789 57.1008 56.7896 56.8125 57.7755C56.5158 58.7905 55.7364 59.5709 54.7272 59.8633L50.1911 61.177C49.9063 61.2597 49.6468 61.4128 49.4371 61.6226C47.9947 63.0653 47.5835 65.1319 48.3642 67.0165C49.1446 68.9008 50.8968 70.0713 52.9366 70.0713H67.6636C69.3852 70.0713 71.0036 69.4009 72.2211 68.1836L80.5253 59.8794C81.2221 59.1826 82.1483 58.7989 83.1337 58.7989C84.1189 58.7989 85.0456 59.1828 85.7424 59.8794C86.3462 60.4832 86.5835 61.2785 86.448 62.243Z"
                      fill="url(#painet1_linear)" />
                <path d="M68.4306 22.7979C68.3445 22.7674 68.2603 22.7376 68.1779 22.7082V19.9254C68.2035 19.9523 68.226 19.9794 68.2448 20.0061C68.8026 20.8008 69.8989 20.9929 70.6935 20.4352C71.4882 19.8776 71.6803 18.7813 71.1225 17.9865C70.5275 17.1386 69.5001 16.4158 68.1707 16.1004C68.0905 15.2037 67.3373 14.501 66.42 14.501C65.4641 14.501 64.6863 15.264 64.6628 16.2145C64.5928 16.2337 64.5223 16.2539 64.4517 16.2751C62.6916 16.8055 61.3634 18.5086 61.2218 20.4171C61.0809 22.3174 62.0849 23.9649 63.9078 24.8244C64.0911 24.9109 64.3464 25.0197 64.6622 25.1466V28.8268C64.3836 28.6797 64.143 28.4967 63.9658 28.2766C63.3569 27.5204 62.2498 27.4014 61.4941 28.0103C60.7379 28.6192 60.6189 29.7259 61.2277 30.482C62.1247 31.5955 63.4001 32.2387 64.6781 32.5562C64.7941 33.4147 65.5297 34.0765 66.4199 34.0765C67.2664 34.0765 67.9733 33.478 68.1402 32.6808C70.4447 32.2384 72.0577 30.6811 72.3259 28.5696C72.6406 26.0932 71.0387 23.7198 68.4306 22.7979ZM68.8384 28.1268C68.7836 28.5593 68.5111 28.8321 68.1779 29.0038V26.642C68.6815 27.088 68.898 27.6582 68.8384 28.1268Z"
                      fill="url(#painet2_linear)" />
                <path d="M66.6016 39.8601C58.0154 39.8601 51.0303 32.8748 51.0303 24.2888C51.0303 15.7026 58.0154 8.71729 66.6016 8.71729C75.1877 8.71729 82.1731 15.7026 82.1731 24.2888C82.1731 32.8748 75.1876 39.8601 66.6016 39.8601ZM66.6016 12.2329C59.9541 12.2329 54.5459 17.6411 54.5459 24.2888C54.5459 30.9364 59.9541 36.3445 66.6016 36.3445C73.2492 36.3445 78.6575 30.9363 78.6575 24.2888C78.6575 17.6413 73.2492 12.2329 66.6016 12.2329Z"
                      fill="url(#painet3_linear)" />
                <path d="M66.6019 47.6864C53.7001 47.6864 43.2041 37.1903 43.2041 24.2887C43.2041 11.3871 53.7003 0.891113 66.6019 0.891113C79.5032 0.891113 89.9994 11.3873 89.9994 24.2887C89.9994 37.1903 79.5032 47.6864 66.6019 47.6864ZM66.6019 4.40672C55.6388 4.40672 46.7197 13.3258 46.7197 24.2887C46.7197 35.2516 55.6388 44.1708 66.6019 44.1708C77.5647 44.1708 86.4838 35.2517 86.4838 24.2887C86.4838 13.3256 77.5647 4.40672 66.6019 4.40672Z"
                      fill="url(#painet4_linear)" />
                <defs>
                    <linearGradient id="painet0_linear" x1="20.9936" y1="81.5979" x2="20.9936" y2="85.108"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="painet1_linear" x1="45.0001" y1="51.4407" x2="45.0001" y2="85.1079"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="painet2_linear" x1="66.602" y1="14.501" x2="66.602" y2="34.0765"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="painet3_linear" x1="66.6017" y1="8.71729" x2="66.6017" y2="39.8601"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                    <linearGradient id="painet4_linear" x1="66.6018" y1="0.891113" x2="66.6018" y2="47.6864"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#41AFC1" />
                        <stop offset="1" stop-color="#D0E6EB" />
                    </linearGradient>
                </defs>
            </svg>
            <h4 class="text-element">СТОИМОСТЬ ОТ 1000 ₽</h4>
        </div>
    </div>
</section>
<section class="about-us">
    <div id="showThird" class="box-about-us">
        <div class="box-about-element">
            <hr class="hr-for-slider">
            <p class="txt-about-us txt-audioslot">@Model.Information?.Title</p>
            <div class="info-about-us">
                @Html.Raw(Model.Information?.Text)
            </div>
            <p class="info-about-us"><b>Мы предлагаем следующие форматы аудиороликов:</b></p><br>
            @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
                <p class="info-about-us">
                    <i>
                        <svg class="svg-icon-text" width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#454545" stroke-width="1.5" />
                        </svg>
                        @group.Key.GetLocalizedDescription()
                    </i>
                </p>
            }
            <br>
            <p class="info-about-us"><b>Выберите интересующий формат аудиоролика:</b></p>
        </div>
    </div>
</section>
<section class="info-music">
    <div class="icon-message">
        <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
                <circle cx="80.5" cy="40.5" r="40.5" fill="#FEFEFF" />
                <circle cx="80.5" cy="40.5" r="40" stroke="url(#painnt0mes_linear)" />
            </g>
            <path d="M98.341 33.4595C98.0009 33.0037 97.3774 32.8673 96.8782 33.1394L84.9926 39.619L77.5984 33.2788C77.145 32.8901 76.4687 32.916 76.0465 33.3383L62.3323 47.0516C61.8873 47.4992 61.8895 48.2228 62.3372 48.6677C62.6952 49.0235 63.2441 49.1023 63.6878 48.8617L75.5733 42.3822L82.9744 48.7246C83.4278 49.1133 84.1041 49.0874 84.5263 48.6651L98.2405 34.9518C98.6401 34.5485 98.683 33.9128 98.341 33.4595Z"
                  fill="url(#paint1mes_linear)" />
            <defs>
                <filter id="filter0_d" x="0" y="0" width="129" height="129" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dx="-16" dy="24" />
                    <feGaussianBlur stdDeviation="12" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.04 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                </filter>
                <linearGradient id="painnt0mes_linear" x1="44.2078" y1="81" x2="124.221" y2="13.9764"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F7F7F7" />
                    <stop offset="1" stop-color="white" />
                </linearGradient>
                <linearGradient id="paint1mes_linear" x1="62" y1="49" x2="67.1206" y2="29.7152"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#483156" />
                    <stop offset="1" stop-color="#39516E" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="base-speakers">
        @{
            foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
                <div onmouseover="mouseOver@(i+1)()" onmouseout="mouseOut@(i+1)()" class="base-box">
                    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M60 0C71.8669 0 83.4672 3.51894 93.3342 10.1118C103.201 16.7047 110.891 26.0754 115.433 37.039C119.974 48.0026 121.162 60.0666 118.847 71.7054C116.532 83.3443 110.818 94.0353 102.426 102.426C94.0352 110.818 83.3442 116.532 71.7054 118.847C60.0665 121.162 48.0025 119.974 37.039 115.433C26.0754 110.892 16.7047 103.201 10.1118 93.3342C3.51891 83.4673 -3.05176e-05 71.8669 -3.05176e-05 60C0.0178375 44.0925 6.34499 28.8416 17.5933 17.5933C28.8416 6.34501 44.0925 0.0178658 60 0V0ZM60 116.719C71.2179 116.719 82.1839 113.392 91.5112 107.16C100.839 100.928 108.108 92.0693 112.401 81.7053C116.694 71.3413 117.817 59.9371 115.629 48.9347C113.44 37.9324 108.038 27.826 100.106 19.8938C92.1739 11.9615 82.0676 6.55959 71.0653 4.37108C60.0629 2.18258 48.6586 3.3058 38.2946 7.59871C27.9306 11.8916 19.0724 19.1614 12.8401 28.4888C6.60772 37.8161 3.28122 48.7821 3.28122 60C3.29834 75.0375 9.27955 89.4542 19.9127 100.087C30.5458 110.72 44.9625 116.702 60 116.719ZM9.37497 60C9.37497 73.4266 14.7087 86.3033 24.2027 95.7973C33.6967 105.291 46.5734 110.625 60 110.625C73.4266 110.625 86.3032 105.291 95.7973 95.7973C105.291 86.3033 110.625 73.4266 110.625 60C110.625 59.5649 110.452 59.1476 110.144 58.8399C109.837 58.5322 109.419 58.3594 108.984 58.3594C108.549 58.3594 108.132 58.5322 107.824 58.8399C107.517 59.1476 107.344 59.5649 107.344 60C107.356 71.011 103.534 81.6827 96.5339 90.1825C89.5341 98.6823 79.7934 104.48 68.9845 106.58C58.1755 108.68 46.9727 106.951 37.2997 101.69C27.6267 96.4288 20.0872 87.9643 15.9757 77.7497C11.8642 67.535 11.4374 56.2076 14.7684 45.7125C18.0995 35.2174 24.9807 26.2095 34.2303 20.2356C43.4799 14.2616 54.5208 11.6944 65.4572 12.9748C76.3935 14.2552 86.5429 19.3033 94.1625 27.2522C94.3106 27.4118 94.4889 27.5402 94.6872 27.6302C94.8854 27.7201 95.0996 27.7697 95.3172 27.7761C95.5348 27.7824 95.7515 27.7454 95.9546 27.6671C96.1578 27.5889 96.3433 27.471 96.5005 27.3204C96.6576 27.1697 96.7832 26.9893 96.8699 26.7896C96.9566 26.5899 97.0027 26.3749 97.0055 26.1573C97.0083 25.9396 96.9678 25.7235 96.8862 25.5217C96.8047 25.3198 96.6838 25.1362 96.5306 24.9816C89.5432 17.6825 80.5306 12.6425 70.6536 10.5107C60.7766 8.37887 50.4876 9.25281 41.1117 13.02C31.7357 16.7872 23.7023 23.275 18.0461 31.648C12.3898 40.021 9.36981 49.8956 9.37497 60ZM108.235 44.6138C107.644 42.7642 106.947 40.9506 106.146 39.1819C106.057 38.9856 105.93 38.8088 105.773 38.6616C105.615 38.5143 105.431 38.3994 105.229 38.3236C105.027 38.2477 104.813 38.2123 104.597 38.2194C104.382 38.2265 104.17 38.2759 103.974 38.3648C103.778 38.4538 103.601 38.5805 103.454 38.7378C103.306 38.8951 103.191 39.0798 103.116 39.2815C103.04 39.4832 103.004 39.6978 103.011 39.9131C103.018 40.1285 103.068 40.3403 103.157 40.5366C103.905 42.1891 104.557 43.8835 105.11 45.6113C105.173 45.8192 105.277 46.0126 105.415 46.18C105.554 46.3475 105.724 46.4858 105.917 46.5868C106.109 46.6878 106.32 46.7496 106.536 46.7685C106.753 46.7875 106.971 46.7632 107.178 46.6971C107.385 46.631 107.577 46.5244 107.743 46.3836C107.908 46.2427 108.044 46.0703 108.142 45.8765C108.241 45.6827 108.3 45.4712 108.316 45.2544C108.332 45.0377 108.304 44.8199 108.235 44.6138ZM68.2622 36.4453H51.7387C50.0604 36.4453 48.4508 35.7786 47.2641 34.5919C46.0773 33.4051 45.4106 31.7955 45.4106 30.1172C45.4106 28.4389 46.0773 26.8293 47.2641 25.6425C48.4508 24.4558 50.0604 23.7891 51.7387 23.7891H68.2622C69.9405 23.7891 71.5501 24.4558 72.7368 25.6425C73.9236 26.8293 74.5903 28.4389 74.5903 30.1172C74.5903 31.7955 73.9236 33.4051 72.7368 34.5919C71.5501 35.7786 69.9405 36.4453 68.2622 36.4453ZM68.2622 27.0703H51.7387C50.9306 27.0703 50.1557 27.3913 49.5843 27.9627C49.0129 28.5341 48.6918 29.3091 48.6918 30.1172C48.6918 30.9253 49.0129 31.7003 49.5843 32.2717C50.1557 32.8431 50.9306 33.1641 51.7387 33.1641H68.2622C69.0702 33.1641 69.8452 32.8431 70.4166 32.2717C70.988 31.7003 71.309 30.9253 71.309 30.1172C71.309 29.3091 70.988 28.5341 70.4166 27.9627C69.8452 27.3913 69.0702 27.0703 68.2622 27.0703ZM66.3281 83.5547V55.2103H68.2622C69.9405 55.2103 71.5501 54.5436 72.7368 53.3568C73.9236 52.1701 74.5903 50.5605 74.5903 48.8822C74.5903 47.2039 73.9236 45.5943 72.7368 44.4075C71.5501 43.2208 69.9405 42.5541 68.2622 42.5541H51.7387C50.0604 42.5541 48.4508 43.2208 47.2641 44.4075C46.0773 45.5943 45.4106 47.2039 45.4106 48.8822C45.4106 50.5605 46.0773 52.1701 47.2641 53.3568C48.4508 54.5436 50.0604 55.2103 51.7387 55.2103H53.6718V83.5547H51.7387C51.3036 83.5547 50.8863 83.7275 50.5786 84.0352C50.2709 84.3429 50.0981 84.7602 50.0981 85.1953C50.0981 85.6304 50.2709 86.0477 50.5786 86.3554C50.8863 86.6631 51.3036 86.8359 51.7387 86.8359H55.3125C55.528 86.8361 55.7414 86.7937 55.9405 86.7113C56.1396 86.6289 56.3205 86.5081 56.4728 86.3557C56.6252 86.2033 56.7461 86.0224 56.8285 85.8233C56.9109 85.6242 56.9532 85.4108 56.9531 85.1953V53.5697C56.9532 53.3542 56.9109 53.1408 56.8285 52.9417C56.7461 52.7426 56.6252 52.5617 56.4728 52.4093C56.3205 52.2569 56.1396 52.1361 55.9405 52.0537C55.7414 51.9713 55.528 51.9289 55.3125 51.9291H51.7387C50.9306 51.9291 50.1557 51.6081 49.5843 51.0367C49.0129 50.4653 48.6918 49.6903 48.6918 48.8822C48.6918 48.0741 49.0129 47.2991 49.5843 46.7277C50.1557 46.1563 50.9306 45.8353 51.7387 45.8353H68.2622C69.0702 45.8353 69.8452 46.1563 70.4166 46.7277C70.988 47.2991 71.309 48.0741 71.309 48.8822C71.309 49.6903 70.988 50.4653 70.4166 51.0367C69.8452 51.6081 69.0702 51.9291 68.2622 51.9291H64.6875C64.2523 51.9291 63.835 52.1019 63.5274 52.4096C63.2197 52.7173 63.0468 53.1346 63.0468 53.5697V85.1953C63.0468 85.6304 63.2197 86.0477 63.5274 86.3554C63.835 86.6631 64.2523 86.8359 64.6875 86.8359H68.2622C69.0702 86.8359 69.8452 87.1569 70.4166 87.7283C70.988 88.2998 71.309 89.0747 71.309 89.8828C71.309 90.6909 70.988 91.4659 70.4166 92.0373C69.8452 92.6087 69.0702 92.9297 68.2622 92.9297H51.7387C51.3036 92.9297 50.8863 93.1025 50.5786 93.4102C50.2709 93.7179 50.0981 94.1352 50.0981 94.5703C50.0981 95.0054 50.2709 95.4227 50.5786 95.7304C50.8863 96.0381 51.3036 96.2109 51.7387 96.2109H68.2622C69.9405 96.2109 71.5501 95.5442 72.7368 94.3575C73.9236 93.1707 74.5903 91.5611 74.5903 89.8828C74.5903 88.2045 73.9236 86.5949 72.7368 85.4081C71.5501 84.2214 69.9405 83.5547 68.2622 83.5547H66.3281Z"
                              fill="#39516e" />
                    </svg>
                    <svg id="base-svg1" width="120" height="120" viewBox="0 0 120 120" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M60 0C71.8669 0 83.4672 3.51894 93.3342 10.1118C103.201 16.7047 110.891 26.0754 115.433 37.039C119.974 48.0026 121.162 60.0666 118.847 71.7054C116.532 83.3443 110.818 94.0353 102.426 102.426C94.0352 110.818 83.3442 116.532 71.7054 118.847C60.0665 121.162 48.0025 119.974 37.039 115.433C26.0754 110.892 16.7047 103.201 10.1118 93.3342C3.51891 83.4673 -3.05176e-05 71.8669 -3.05176e-05 60C0.0178375 44.0925 6.34499 28.8416 17.5933 17.5933C28.8416 6.34501 44.0925 0.0178658 60 0V0ZM60 116.719C71.2179 116.719 82.1839 113.392 91.5112 107.16C100.839 100.928 108.108 92.0693 112.401 81.7053C116.694 71.3413 117.817 59.9371 115.629 48.9347C113.44 37.9324 108.038 27.826 100.106 19.8938C92.1739 11.9615 82.0676 6.55959 71.0653 4.37108C60.0629 2.18258 48.6586 3.3058 38.2946 7.59871C27.9306 11.8916 19.0724 19.1614 12.8401 28.4888C6.60772 37.8161 3.28122 48.7821 3.28122 60C3.29834 75.0375 9.27955 89.4542 19.9127 100.087C30.5458 110.72 44.9625 116.702 60 116.719ZM9.37497 60C9.37497 73.4266 14.7087 86.3033 24.2027 95.7973C33.6967 105.291 46.5734 110.625 60 110.625C73.4266 110.625 86.3032 105.291 95.7973 95.7973C105.291 86.3033 110.625 73.4266 110.625 60C110.625 59.5649 110.452 59.1476 110.144 58.8399C109.837 58.5322 109.419 58.3594 108.984 58.3594C108.549 58.3594 108.132 58.5322 107.824 58.8399C107.517 59.1476 107.344 59.5649 107.344 60C107.356 71.011 103.534 81.6827 96.5339 90.1825C89.5341 98.6823 79.7934 104.48 68.9845 106.58C58.1755 108.68 46.9727 106.951 37.2997 101.69C27.6267 96.4288 20.0872 87.9643 15.9757 77.7497C11.8642 67.535 11.4374 56.2076 14.7684 45.7125C18.0995 35.2174 24.9807 26.2095 34.2303 20.2356C43.4799 14.2616 54.5208 11.6944 65.4572 12.9748C76.3935 14.2552 86.5429 19.3033 94.1625 27.2522C94.3106 27.4118 94.4889 27.5402 94.6872 27.6302C94.8854 27.7201 95.0996 27.7697 95.3172 27.7761C95.5348 27.7824 95.7515 27.7454 95.9546 27.6671C96.1578 27.5889 96.3433 27.471 96.5005 27.3204C96.6576 27.1697 96.7832 26.9893 96.8699 26.7896C96.9566 26.5899 97.0027 26.3749 97.0055 26.1573C97.0083 25.9396 96.9678 25.7235 96.8862 25.5217C96.8047 25.3198 96.6838 25.1362 96.5306 24.9816C89.5432 17.6825 80.5306 12.6425 70.6536 10.5107C60.7766 8.37887 50.4876 9.25281 41.1117 13.02C31.7357 16.7872 23.7023 23.275 18.0461 31.648C12.3898 40.021 9.36981 49.8956 9.37497 60ZM108.235 44.6138C107.644 42.7642 106.947 40.9506 106.146 39.1819C106.057 38.9856 105.93 38.8088 105.773 38.6616C105.615 38.5143 105.431 38.3994 105.229 38.3236C105.027 38.2477 104.813 38.2123 104.597 38.2194C104.382 38.2265 104.17 38.2759 103.974 38.3648C103.778 38.4538 103.601 38.5805 103.454 38.7378C103.306 38.8951 103.191 39.0798 103.116 39.2815C103.04 39.4832 103.004 39.6978 103.011 39.9131C103.018 40.1285 103.068 40.3403 103.157 40.5366C103.905 42.1891 104.557 43.8835 105.11 45.6113C105.173 45.8192 105.277 46.0126 105.415 46.18C105.554 46.3475 105.724 46.4858 105.917 46.5868C106.109 46.6878 106.32 46.7496 106.536 46.7685C106.753 46.7875 106.971 46.7632 107.178 46.6971C107.385 46.631 107.577 46.5244 107.743 46.3836C107.908 46.2427 108.044 46.0703 108.142 45.8765C108.241 45.6827 108.3 45.4712 108.316 45.2544C108.332 45.0377 108.304 44.8199 108.235 44.6138ZM68.2622 36.4453H51.7387C50.0604 36.4453 48.4508 35.7786 47.2641 34.5919C46.0773 33.4051 45.4106 31.7955 45.4106 30.1172C45.4106 28.4389 46.0773 26.8293 47.2641 25.6425C48.4508 24.4558 50.0604 23.7891 51.7387 23.7891H68.2622C69.9405 23.7891 71.5501 24.4558 72.7368 25.6425C73.9236 26.8293 74.5903 28.4389 74.5903 30.1172C74.5903 31.7955 73.9236 33.4051 72.7368 34.5919C71.5501 35.7786 69.9405 36.4453 68.2622 36.4453ZM68.2622 27.0703H51.7387C50.9306 27.0703 50.1557 27.3913 49.5843 27.9627C49.0129 28.5341 48.6918 29.3091 48.6918 30.1172C48.6918 30.9253 49.0129 31.7003 49.5843 32.2717C50.1557 32.8431 50.9306 33.1641 51.7387 33.1641H68.2622C69.0702 33.1641 69.8452 32.8431 70.4166 32.2717C70.988 31.7003 71.309 30.9253 71.309 30.1172C71.309 29.3091 70.988 28.5341 70.4166 27.9627C69.8452 27.3913 69.0702 27.0703 68.2622 27.0703ZM66.3281 83.5547V55.2103H68.2622C69.9405 55.2103 71.5501 54.5436 72.7368 53.3568C73.9236 52.1701 74.5903 50.5605 74.5903 48.8822C74.5903 47.2039 73.9236 45.5943 72.7368 44.4075C71.5501 43.2208 69.9405 42.5541 68.2622 42.5541H51.7387C50.0604 42.5541 48.4508 43.2208 47.2641 44.4075C46.0773 45.5943 45.4106 47.2039 45.4106 48.8822C45.4106 50.5605 46.0773 52.1701 47.2641 53.3568C48.4508 54.5436 50.0604 55.2103 51.7387 55.2103H53.6718V83.5547H51.7387C51.3036 83.5547 50.8863 83.7275 50.5786 84.0352C50.2709 84.3429 50.0981 84.7602 50.0981 85.1953C50.0981 85.6304 50.2709 86.0477 50.5786 86.3554C50.8863 86.6631 51.3036 86.8359 51.7387 86.8359H55.3125C55.528 86.8361 55.7414 86.7937 55.9405 86.7113C56.1396 86.6289 56.3205 86.5081 56.4728 86.3557C56.6252 86.2033 56.7461 86.0224 56.8285 85.8233C56.9109 85.6242 56.9532 85.4108 56.9531 85.1953V53.5697C56.9532 53.3542 56.9109 53.1408 56.8285 52.9417C56.7461 52.7426 56.6252 52.5617 56.4728 52.4093C56.3205 52.2569 56.1396 52.1361 55.9405 52.0537C55.7414 51.9713 55.528 51.9289 55.3125 51.9291H51.7387C50.9306 51.9291 50.1557 51.6081 49.5843 51.0367C49.0129 50.4653 48.6918 49.6903 48.6918 48.8822C48.6918 48.0741 49.0129 47.2991 49.5843 46.7277C50.1557 46.1563 50.9306 45.8353 51.7387 45.8353H68.2622C69.0702 45.8353 69.8452 46.1563 70.4166 46.7277C70.988 47.2991 71.309 48.0741 71.309 48.8822C71.309 49.6903 70.988 50.4653 70.4166 51.0367C69.8452 51.6081 69.0702 51.9291 68.2622 51.9291H64.6875C64.2523 51.9291 63.835 52.1019 63.5274 52.4096C63.2197 52.7173 63.0468 53.1346 63.0468 53.5697V85.1953C63.0468 85.6304 63.2197 86.0477 63.5274 86.3554C63.835 86.6631 64.2523 86.8359 64.6875 86.8359H68.2622C69.0702 86.8359 69.8452 87.1569 70.4166 87.7283C70.988 88.2998 71.309 89.0747 71.309 89.8828C71.309 90.6909 70.988 91.4659 70.4166 92.0373C69.8452 92.6087 69.0702 92.9297 68.2622 92.9297H51.7387C51.3036 92.9297 50.8863 93.1025 50.5786 93.4102C50.2709 93.7179 50.0981 94.1352 50.0981 94.5703C50.0981 95.0054 50.2709 95.4227 50.5786 95.7304C50.8863 96.0381 51.3036 96.2109 51.7387 96.2109H68.2622C69.9405 96.2109 71.5501 95.5442 72.7368 94.3575C73.9236 93.1707 74.5903 91.5611 74.5903 89.8828C74.5903 88.2045 73.9236 86.5949 72.7368 85.4081C71.5501 84.2214 69.9405 83.5547 68.2622 83.5547H66.3281Z"
                              fill="url(#paint0_linear)" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="120" y1="120" x2="51.325" y2="6.84635"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <h4 id="base-block1">@group.Key.GetLocalizedDescription()</h4>
                    @*<p id="base-text1">
                            Это информационное сообщение в официально-деловом или позитивном тоне. Буквальный рассказ о
                            рекламируемом объекте. Такой вариант подойдет, если ваша аудитория серьезная и воспринимает только информацию
                            коротко и по делу.
                        </p>*@
                    <button id="btn-audio-page" class="base-btn-page">
                        СЛУШАТЬ ПРИМЕРЫ
                        <svg class="btn-svg" width="11" height="17">
                            <use href="#order-svg"></use>
                        </svg>
                    </button>
                </div>
                i++;
            }
        }
    </div>
</section>
<section class="example-audio">
    <div class="example-block">
        <hr class="hr-for-slider">
        <p class="txt-about-us txt-audioslot">ПРИМЕРЫ АУДИОРОЛИКОВ</p>
        <button class="example-btn-all">ВСЕ</button><br class="over-btnall">
        <span class="adaptive-block">
            @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p => p.Key))
            {
                <span class="example-block-elem">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 0C26.3512 0 30.6047 1.29028 34.2225 3.70767C37.8404 6.12506 40.6602 9.56099 42.3253 13.581C43.9905 17.6009 44.4261 22.0244 43.5773 26.292C42.7284 30.5596 40.6331 34.4796 37.5563 37.5564C34.4796 40.6331 30.5596 42.7284 26.292 43.5773C22.0244 44.4261 17.6009 43.9905 13.581 42.3253C9.56098 40.6602 6.12505 37.8404 3.70766 34.2225C1.29027 30.6047 -1.14441e-05 26.3512 -1.14441e-05 22C0.00653935 16.1672 2.32649 10.5753 6.45087 6.45089C10.5753 2.32651 16.1672 0.0065508 22 0ZM22 42.7969C26.1132 42.7969 30.1341 41.5772 33.5541 39.292C36.9741 37.0068 39.6397 33.7588 41.2138 29.9586C42.7879 26.1585 43.1997 21.9769 42.3973 17.9427C41.5948 13.9085 39.6141 10.2029 36.7056 7.29439C33.7971 4.38589 30.0915 2.40518 26.0573 1.60273C22.0231 0.800279 17.8415 1.21213 14.0414 2.78619C10.2412 4.36026 6.99321 7.02585 4.70802 10.4459C2.42283 13.8659 1.20311 17.8868 1.20311 22C1.20939 27.5137 3.4025 32.7999 7.30131 36.6987C11.2001 40.5975 16.4862 42.7906 22 42.7969ZM3.43749 22C3.43749 26.9231 5.39317 31.6445 8.87432 35.1257C12.3555 38.6068 17.0769 40.5625 22 40.5625C26.9231 40.5625 31.6445 38.6068 35.1257 35.1257C38.6068 31.6445 40.5625 26.9231 40.5625 22C40.5625 21.8405 40.4991 21.6874 40.3863 21.5746C40.2735 21.4618 40.1205 21.3984 39.9609 21.3984C39.8014 21.3984 39.6484 21.4618 39.5356 21.5746C39.4227 21.6874 39.3594 21.8405 39.3594 22C39.3637 26.0374 37.9623 29.9503 35.3958 33.0669C32.8292 36.1835 29.2576 38.3093 25.2943 39.0792C21.331 39.8492 17.2233 39.2152 13.6766 37.2862C10.1298 35.3572 7.36529 32.2536 5.85775 28.5082C4.35021 24.7628 4.1937 20.6095 5.4151 16.7612C6.63649 12.913 9.15957 9.61014 12.5511 7.4197C15.9426 5.22926 19.991 4.28796 24.001 4.75744C28.011 5.22691 31.7324 7.07787 34.5262 9.99247C34.5805 10.051 34.6459 10.0981 34.7186 10.1311C34.7913 10.164 34.8698 10.1822 34.9496 10.1846C35.0294 10.1869 35.1089 10.1733 35.1834 10.1446C35.2579 10.1159 35.3259 10.0727 35.3835 10.0175C35.4411 9.96222 35.4872 9.89606 35.519 9.82284C35.5507 9.74963 35.5677 9.67081 35.5687 9.591C35.5697 9.51118 35.5548 9.43196 35.5249 9.35795C35.4951 9.28394 35.4507 9.21662 35.3946 9.15991C32.8325 6.4836 29.5279 4.6356 25.9063 3.85393C22.2848 3.07225 18.5121 3.3927 15.0743 4.77399C11.6364 6.15529 8.69085 8.53418 6.61689 11.6043C4.54294 14.6744 3.4356 18.295 3.43749 22ZM39.6863 16.3584C39.4696 15.6802 39.2138 15.0152 38.9201 14.3667C38.8874 14.2947 38.841 14.2299 38.7833 14.1759C38.7256 14.1219 38.6579 14.0798 38.5839 14.052C38.51 14.0242 38.4313 14.0112 38.3523 14.0138C38.2734 14.0164 38.1957 14.0345 38.1238 14.0671C38.0518 14.0997 37.987 14.1462 37.933 14.2039C37.879 14.2615 37.8369 14.3293 37.809 14.4032C37.7812 14.4772 37.7682 14.5559 37.7708 14.6348C37.7734 14.7138 37.7916 14.7914 37.8242 14.8634C38.0985 15.4693 38.3376 16.0906 38.5402 16.7241C38.5634 16.8004 38.6015 16.8713 38.6523 16.9327C38.7031 16.9941 38.7656 17.0448 38.8362 17.0818C38.9067 17.1189 38.984 17.1415 39.0634 17.1485C39.1428 17.1554 39.2227 17.1465 39.2987 17.1223C39.3746 17.098 39.4449 17.059 39.5056 17.0073C39.5663 16.9557 39.6162 16.8925 39.6522 16.8214C39.6883 16.7503 39.7099 16.6728 39.7157 16.5933C39.7216 16.5138 39.7116 16.434 39.6863 16.3584ZM25.0295 13.3633H18.9709C18.3555 13.3633 17.7653 13.1188 17.3302 12.6837C16.895 12.2485 16.6506 11.6584 16.6506 11.043C16.6506 10.4276 16.895 9.8374 17.3302 9.40226C17.7653 8.96712 18.3555 8.72266 18.9709 8.72266H25.0295C25.6448 8.72266 26.235 8.96712 26.6702 9.40226C27.1053 9.8374 27.3498 10.4276 27.3498 11.043C27.3498 11.6584 27.1053 12.2485 26.6702 12.6837C26.235 13.1188 25.6448 13.3633 25.0295 13.3633ZM25.0295 9.92578H18.9709C18.6746 9.92578 18.3904 10.0435 18.1809 10.253C17.9714 10.4625 17.8537 10.7467 17.8537 11.043C17.8537 11.3393 17.9714 11.6234 18.1809 11.8329C18.3904 12.0425 18.6746 12.1602 18.9709 12.1602H25.0295C25.3258 12.1602 25.6099 12.0425 25.8194 11.8329C26.0289 11.6234 26.1466 11.3393 26.1466 11.043C26.1466 10.7467 26.0289 10.4625 25.8194 10.253C25.6099 10.0435 25.3258 9.92578 25.0295 9.92578ZM24.3203 30.6367V20.2438H25.0295C25.6448 20.2438 26.235 19.9993 26.6702 19.5642C27.1053 19.129 27.3498 18.5389 27.3498 17.9235C27.3498 17.3081 27.1053 16.7179 26.6702 16.2828C26.235 15.8476 25.6448 15.6032 25.0295 15.6032H18.9709C18.3555 15.6032 17.7653 15.8476 17.3302 16.2828C16.895 16.7179 16.6506 17.3081 16.6506 17.9235C16.6506 18.5389 16.895 19.129 17.3302 19.5642C17.7653 19.9993 18.3555 20.2438 18.9709 20.2438H19.6797V30.6367H18.9709C18.8113 30.6367 18.6583 30.7001 18.5455 30.8129C18.4327 30.9257 18.3693 31.0787 18.3693 31.2383C18.3693 31.3978 18.4327 31.5508 18.5455 31.6636C18.6583 31.7765 18.8113 31.8398 18.9709 31.8398H20.2812C20.3602 31.8399 20.4385 31.8244 20.5115 31.7941C20.5845 31.7639 20.6508 31.7196 20.7067 31.6638C20.7626 31.6079 20.8069 31.5415 20.8371 31.4685C20.8673 31.3955 20.8828 31.3173 20.8828 31.2383V19.6422C20.8828 19.5632 20.8673 19.485 20.8371 19.412C20.8069 19.339 20.7626 19.2726 20.7067 19.2167C20.6508 19.1609 20.5845 19.1166 20.5115 19.0864C20.4385 19.0561 20.3602 19.0406 20.2812 19.0407H18.9709C18.6746 19.0407 18.3904 18.923 18.1809 18.7134C17.9714 18.5039 17.8537 18.2198 17.8537 17.9235C17.8537 17.6272 17.9714 17.343 18.1809 17.1335C18.3904 16.924 18.6746 16.8063 18.9709 16.8063H25.0295C25.3258 16.8063 25.6099 16.924 25.8194 17.1335C26.0289 17.343 26.1466 17.6272 26.1466 17.9235C26.1466 18.2198 26.0289 18.5039 25.8194 18.7134C25.6099 18.923 25.3258 19.0407 25.0295 19.0407H23.7187C23.5592 19.0407 23.4062 19.104 23.2934 19.2169C23.1806 19.3297 23.1172 19.4827 23.1172 19.6422V31.2383C23.1172 31.3978 23.1806 31.5508 23.2934 31.6636C23.4062 31.7765 23.5592 31.8398 23.7187 31.8398H25.0295C25.3258 31.8398 25.6099 31.9575 25.8194 32.1671C26.0289 32.3766 26.1466 32.6607 26.1466 32.957C26.1466 33.2533 26.0289 33.5375 25.8194 33.747C25.6099 33.9565 25.3258 34.0742 25.0295 34.0742H18.9709C18.8113 34.0742 18.6583 34.1376 18.5455 34.2504C18.4327 34.3632 18.3693 34.5162 18.3693 34.6758C18.3693 34.8353 18.4327 34.9883 18.5455 35.1012C18.6583 35.214 18.8113 35.2773 18.9709 35.2773H25.0295C25.6448 35.2773 26.235 35.0329 26.6702 34.5977C27.1053 34.1626 27.3498 33.5724 27.3498 32.957C27.3498 32.3416 27.1053 31.7515 26.6702 31.3163C26.235 30.8812 25.6448 30.6367 25.0295 30.6367H24.3203Z"
                              fill="#94a0b0">
                            <defs>
                            </defs>
                    </svg>
                    @group.Key.GetLocalizedDescription()
                </span>
                <br class="over-btnall" />
            }
        </span>
        <div class="container-playlist">
        @{
            foreach (var item in Model.Audio)
            {
                <div class="playlist-element">
                    <div class="txt-visa-free">@item.Title</div>
                    <p class="voices-people"><b>Голоса:</b><br> @item.Summary </p>
                    <a download href="@item.Path" class="btn-download">
                        СКАЧАТЬ
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1966 8.66044C14.1004 8.44788 13.8891 8.3125 13.6563 8.3125H11.2813V0.59375C11.2813 0.266 11.0153 0 10.6876 0H8.31257C7.98482 0 7.71882 0.266 7.71882 0.59375V8.3125H5.34382C5.11107 8.3125 4.8997 8.44906 4.80351 8.66044C4.70614 8.873 4.74414 9.12119 4.89732 9.29694L9.05357 14.0469C9.16638 14.1764 9.32907 14.25 9.50007 14.25C9.67107 14.25 9.83376 14.1752 9.94657 14.0469L14.1028 9.29694C14.2572 9.12237 14.2928 8.873 14.1966 8.66044Z" fill="#C7DEE1"/>
                            <path d="M16.0312 13.0625V16.625H2.96875V13.0625H0.59375V17.8125C0.59375 18.4692 1.12575 19 1.78125 19H17.2188C17.8754 19 18.4062 18.4692 18.4062 17.8125V13.0625H16.0312Z" fill="#C7DEE1"/>
                        </svg>
                    </a>
                    <section class="player audio-playlist">
                        <div class="details">
                            <div class="now-playing"></div>
                            <div class="track-art"></div>
                            <div class="track-name"></div>
                            <div class="track-artist"></div>
                        </div>
                        <div class="buttons">
                            <div class="playpause-track1 playpause-audio" onclick="playpauseTrack()"><img src="~/site2/img/play.png"></div>
                        </div>
                        <div class="slider_container">
                            <input type="range" id="audio-player" min="1" max="100" value="100" class="seek_slider" onchange="seekTo()">
                        </div>
                        <div class="slider_container">
                            <img class="icon-volume icon-volume-audio" src="~/site2/img/volume.png">
                            <input type="range" min="1" max="100" value="99" id="audio-volume" name="rng" class="volume_slider __range" onchange="setVolume()">
                        </div>
                        <div>
                            <div class="playrepeat-track1 repeat" onclick="handleRepeat()">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4999 14.9917C22.4999 16.2344 21.4924 17.2417 20.2499 17.2417H2.56041L5.52287 14.2792L4.46233 13.2187L0.219589 17.4614C-0.0731964 17.7544 -0.0731964 18.2292 0.219589 18.522L4.46233 22.7647L5.52287 21.7042L2.56041 18.7417H20.2499C22.3199 18.7393 23.9973 17.0617 23.9999 14.9917V11.9917H22.4999V14.9917Z"/>
                                    <path d="M1.5 8.99176C1.5 7.74921 2.50745 6.74176 3.75 6.74176H21.4395L18.477 9.70422L19.5375 10.7648L23.7803 6.52203C24.0731 6.22906 24.0731 5.75446 23.7803 5.46149L19.5375 1.21875L18.477 2.2793L21.4395 5.24176H3.75C1.67999 5.24432 0.00256348 6.92175 0 8.99176V11.9918H1.5V8.99176Z"/>
                                </svg>
                            </div>
                        </div>
                    </section>
                </div>
            }
        }
        </div>
    </div>
</section>
<section class="foreign-speakers">
    <div id="showFour" class="box-with-speakers">
        <hr class="hr-for-box hr-speakers">
        <img class="img-speakers" src="~/site2/img/microphone.png" alt="Microphone">
        <h3 class="text-recording">Хотите заказать запись<br> аудиоролика?</h3>
        <p class="text-description">Убедитесь в превосходном качестве нашей работы наших дикторов!</p>
        <p class="text-description with-blue">
            Мы самым строгим образом проверяем свои результаты и извлекаем уроки как
            из успехов, так и из неудач, достигая, тем самым, высокого качества наших услуг.
        </p>
        <button class="home-btn speakers-btn">
            СДЕЛАТЬ ЗАКАЗ<svg class="btn-svg" width="8" height="15" viewBox="0 0 9 17"
                              fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.73931 2.65887L7.53919 8.62078L1.66678 14.3337L1.73931 2.65887Z" stroke="white"
                      stroke-width="1.5" />
            </svg>
        </button>
    </div>
</section>

@*<div class="miniblock">
        <div class="inside">
            <figure class="left_img"><img src="images/page1_img3.jpg" alt=""></figure>
            <h2>@Model.Information?.Title</h2>
            @Html.Raw(Model.Information?.Text)
            <h4>Выберите интересующий формат аудиоролика:</h4>
            <div id="accordion" class="panel-group">
                @foreach (var group in Model.Audio.GroupBy(p => p.Type).OrderBy(p=>p.Key))
                {
                    i++;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-@i" data-parent="#accordion" data-toggle="collapse">
                                    <span class="glyphicon glyphicon-chevron-right"></span> @EnumExtensions.GetDescription(group.Key)
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-@i" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="features-table">
                                    <thead>
                                        <tr style="height: 70px;">
                                            <td class="grey">Слушать</td>
                                            <td width="420px">Название ролика</td>
                                            <td class="grey">Скачать</td>
                                            <td class="grey">Голоса</td>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td class="grey"></td>
                                            <td></td>
                                            <td class="grey"></td>
                                            <td class="grey"></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in group)
                                        {
                                            <tr>
                                                <td class="grey" align="center">
                                                    <audio controls><source src="@item.Path" type="audio/mpeg"></audio>
                                                </td>
                                                <td>
                                                    @item.Title
                                                    @if (item.IsNovelty)
                                                    {
                                                        <img class="new_img" src="~/site/img/new.gif" alt="new">
                                                    }
                                                </td>
                                                <td class="grey" align="center"><a href="@item.Path" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                                <td class="grey">@item.Summary</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@
