@model List<PersonViewModel>
@{
    ViewBag.Title = "Контакты";
    Layout = "_Layout";
}
@section Slider
    {
    @Html.Partial("_Slider")
}

<div class="fillcontainer">
    <div class="row">
        <div class="about">
            <div class="col-md-3 col-sm-4">
                @await Component.InvokeAsync("SidebarContent")
                <br><br>
            </div>
            <div class="col-md-9 col-sm-8">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-3">
                            <figure><img src="@item.Image" alt="@item.Name"></figure>
                        </div>
                        <div class="col-md-9">
                            <h4 class="nospace">@item.Name</h4>
                            <p class="cursive">@item.Position</p>
                            @if (!String.IsNullOrEmpty(item.Summary))
                            {
                                <p class="littext">@item.Summary</p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
