@using Pras.Web.Extensions
@model HomeViewModel
@{
    ViewBag.Title = Model.Settings != null ? Model.Settings.MetaTitle?? "Главная" : "Главная";
    ViewBag.MetaDescription = Model.Settings != null ? Model.Settings.MetaDescription : null;
}
@section Slider {
    @Html.Partial("_Slider")
}
@section Counters {
    @Html.Partial("_Counters")
}
@section Scripts{
    @if (!String.IsNullOrEmpty((string) TempData["Error"]))
    {
        <script>
            $(document).ready(function() {
                $('#modal-1').modal("show");
            });
        </script>
    }
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="miniblock">
            <div class="red">
                <h3>Услуги студии</h3>
            </div>
            <ol class="quikblock">
                <li> &nbsp;<a href="@Url.Action("Speakers")">Запись дикторов</a> </li>
                <li> &nbsp;<a href="@Url.Action("Audio")">Изготовление аудиороликов</a></li>
                <li> &nbsp;<a href="@Url.Action("Video")">Озвучание видео</a></li>
                <li> &nbsp;<a href="@Url.Action("Scenario")">Создание сценариев</a></li>
                <li> &nbsp;<a href="@Url.Action("Speakers")#ex9">Вокальные аудиоролики</a> </li>
                <li> &nbsp;<a href="@Url.Action("Audio")">Джинглы</a></li>
                <li> &nbsp;<a href="@Url.Action("Video")">Закадровый перевод</a></li>
                <li> &nbsp;<a href="http://ivr-voice.com">Голосовое меню</a></li>
            </ol>
            <br>
            <hr>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="miniblock">
            <div class="blue">
                <h3>Новые работы</h3>
            </div>
            <ol class="quikblock">
                @foreach (var item in Model.LastProjects)
                {
                    <li> &nbsp;@item </li>
                }
            </ol>
            <a href="@Url.Action("Audio")" class="link1">Узнать больше</a>
            <hr>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="miniblock">
            <div class="yeelow">
                <h3>Новые дикторы</h3>
            </div>
            <ol class="quikblock">
                @foreach (var item in Model.LastSpeakers)
                {
                    <li> &nbsp;@item</li>
                }
            </ol>
            <a href="@Url.Action("Speakers")" class="link1">Узнать больше</a>
            <hr>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="miniblock">
            <div class="grn">
                <h3>Озвучание видео</h3>
            </div>
            <ol class="quikblock">
                <li> &nbsp;Закадровый голос</li>
                <li> &nbsp;Дубляж</li>
                <li> &nbsp;Синхрон</li>
                <li> &nbsp;Липсинг</li>
                <li> &nbsp;Шумовое оформление</li>
                <li> &nbsp;Финальное сведение</li>
                <li> &nbsp;Озвучка маппингов</li>
                <br>
            </ol>
            <a href="@Url.Action("Video")" class="link1">Узнать больше</a>
            <hr>
        </div>
    </div>
</div>
<div class="fillcontainer">
    <div class="row">
        <div class="about">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="circle_wrap"> <a href="@Url.Action("Contact")" class="btn_circle"><br><br>Информация<br> о нас</a> </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"> </a>
                <div class="basictext">@Html.Raw(Model.Settings?.About)</div>
            </div>
        </div>
    </div>
    <div class="progressboard">
        <div class="row">
            <div class="col-md-12">
                <div class="moveone">
                    <div class="box_blue">
                        <a href="@Model.Settings?.Block1Link" class="h1block">
                            @Model.Settings?.Block1Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block1Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_blue"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="moveone">
                    <div class="box_red">
                        <a href="@Model.Settings?.Block2Link" class="h1block">
                            @Model.Settings?.Block2Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block2Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_red"></div>
                    <div class="rectangle1"></div>
                    <div class="rectangle2"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 clearfix">
                <div class="moveone">
                    <div class="box_green">
                        <a href="@Model.Settings?.Block3Link" class="h1block">
                            @Model.Settings?.Block3Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block3Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_l"></div>
                    <div class="rect_gr_l"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="moveone">
                    <div class="box_yellow">
                        <a href="@Model.Settings?.Block4Link" class="h1block">
                            @Model.Settings?.Block4Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block4Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_r"></div>
                    <div class="rect_yel_r"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="moveone">
                    <div class="box_yellow">
                        <a href="@Model.Settings?.Block5Link" class="h1block">
                            @Model.Settings?.Block5Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block5Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_l"></div>
                    <div class="rect_yel_l"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="moveone">
                    <div class="box_green">
                        <a href="@Model.Settings?.Block6Link" class="h1block">
                            @Model.Settings?.Block6Title
                            <h2 class="h2block">@Html.Raw(Model.Settings?.Block6Subtitle?.ToMultiline())</h2>
                        </a>
                    </div>
                    <div class="rect_r"></div>
                    <div class="rect_gr_r"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="boxend_blue">
                    <h1 class="h1block"><i class="fa fa-check-square-o"></i> НАШИ ЦАРАПИНЫ</h1>
                    <div class="scratches clearfix">
                        <a href="@Url.Action("Audio")">
                            <figure class="sign">
                                <p><img src="~/site/img/radio.png" alt="silafm" class="incircle"></p>
                                <figcaption>Аудиоролики</figcaption>
                            </figure>
                        </a>
                        <a href="@Url.Action("Video")">
                            <figure class="sign">
                                <p><img src="~/site/img/tv.png" alt="silafm" class="incircle"></p>
                                <figcaption>Озвучки</figcaption>
                            </figure>
                        </a>
                        <a href="@Url.Action("VideoCreating")">
                            <figure class="sign">
                                <p><img src="~/site/img/film.png" alt="silafm" class="incircle"></p>
                                <figcaption>Видеоролики</figcaption>
                            </figure>
                        </a>
                        <a href="@Url.Action("Music")">
                            <figure class="sign">
                                <p><img src="~/site/img/gramafon.png" alt="silafm" class="incircle"></p>
                                <figcaption>Музыка</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="rectend_l"></div>
                <div class="rectend_r"></div>
            </div>
        </div>
    </div>
    <div class="reviews">
        @foreach (var review in Model.LastReviews)
        {
            <div class="row">
                <div class="col-md-2"> <img src="@review.Image" alt="feedback" class="round"> </div>
                <div class="col-md-9 col-md-offset-1">
                    <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"> </a>
                    <h2>@review.Name</h2>
                    <p class="feedback">@review.Text</p>
                    <hr>
                </div>
            </div>
        }
    </div>
</div>