@using Pras.Shared.Enums
@model SpeakersPageViewModel

@{
    ViewBag.Title = Model.Information.MetaTitle ?? Model.Information.Title;
    Layout = "_Layout";
}
@*@section Styles {
        <link rel="stylesheet" type="text/css" href="~/site/libs/dataTables/jquery.dataTables.min.css">
    }

    <div class="miniblock">
        <div class="serij">
            <h1>@Model.Information.Title</h1>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="leftbar">
                    @Html.Partial("_SpeakersLeftbar")
                </div>
            </div>
            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="rightbar">
                    @Html.Raw(Model.Information.Text)
                </div>
            </div>
        </div>
    </div>

    @section AfterContent {
        @if (Model.Information.Type == InformationTypes.SpeakersRu)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Дикторы России</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male && p.Type != SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Дикторы России</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female && p.Type != SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersFederal)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex3">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Федеральные дикторы России</h2>
                        </div>
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male && p.Type == SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex4">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Федеральные дикторы России</h2>
                        </div>
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female && p.Type == SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersUk)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Дикторы Украины</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Дикторы Украины</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Иностранные мужские голоса</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_SpeakersFor", Model.Speakers.Where(p => p.Gender == Gender.Male).ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Иностранные женские голоса</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_SpeakersFor", Model.Speakers.Where(p => p.Gender == Gender.Female).ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            var speakers = Model.Speakers.OrderBy(p=>p.GroupTitle).GroupBy(p => p.GroupTitle);
            int i = 1;

            foreach (var group in speakers)
            {
                <div class="container">
                    <div class="fillcontainer">
                        <section id="ex@(i)">
                            <div class="title">
                                <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                                <h2>@group.Key</h2>
                            </div>
                            <div>
                                @Html.Partial("_Speakers", group.ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                            </div>
                        </section>
                    </div>
                </div>
                i++;
            }
        }
    }

    @section Scripts {
        <script type="text/javascript" charset="utf8" src="~/site/libs/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="~/site/libs/dataTables/dataTables.bootstrap.min.js"></script>
    }*@

@section Styles{
    <link href="~/site2/css/audio/audio.css" rel="stylesheet" />
    <link href="~/site2/css/speakers/speakers.css" rel="stylesheet" />
    <link href="~/site2/css/pay/pay.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/site2/js/speakers/speakers.js"></script>
}
<section id="1" class="speak-page">
    <div class="home-box-text">
        <p class="sila-fm-txt">СИЛА FM</p>
        <h2 class="professional-txt">@Model.Information.Title</h2>
        <p class="txt-production txt-office">Чтобы заказать начитку диктора, достаточно воспользоваться формой <a href="@Url.Action("Order", "Home")" target="_blank"> онлайн-заказа</a>, либо выслать текст на электронный адрес: <a href="mailto: info@sila.fm?subject=Заказ голоса">info@sila.fm </a></p>
        <button class="home-btn">
            СДЕЛАТЬ ЗАКАЗ
            <svg class="btn-svg" width="8" height="15">
                <use href="#order-svg"></use>
            </svg>
        </button>
    </div>
    <svg class="contactpage-sila" width="161" height="528" viewBox="0 0 161 528" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M154.563 100.075L154.531 100.747L155.076 100.773L155.213 100.245L154.563 100.075ZM108.218 1.0063L108.202 1.67922L108.203 1.67923L108.218 1.0063ZM6.65906 100.964L6.00716 101.127L6.13939 101.657L6.68412 101.636L6.65906 100.964ZM30.3857 100.075L30.4109 100.747L31.1818 100.718L31.0474 99.9579L30.3857 100.075ZM52.7819 27.4394L52.7577 26.7667L52.7505 26.767L52.7819 27.4394ZM108.218 27.4394L108.194 28.1121L108.197 28.1122L108.218 27.4394ZM130.836 98.9644L130.175 98.8452L130.038 99.6011L130.804 99.6368L130.836 98.9644ZM154.563 100.075C155.213 100.245 155.213 100.244 155.213 100.244V100.243C155.213 100.243 155.214 100.241 155.214 100.24C155.215 100.237 155.216 100.233 155.217 100.227C155.221 100.216 155.225 100.2 155.23 100.178C155.241 100.134 155.257 100.07 155.279 99.9861C155.321 99.8172 155.384 99.5675 155.463 99.2437C155.622 98.5955 155.847 97.6498 156.119 96.455C156.661 94.0661 157.384 90.6831 158.107 86.7009C159.551 78.7434 161 68.3694 161 58.7593H159.656C159.656 68.2523 158.223 78.5361 156.784 86.4606C156.066 90.4192 155.347 93.7834 154.809 96.1568C154.539 97.3428 154.315 98.2818 154.158 98.9233C154.08 99.2437 154.018 99.4901 153.976 99.6556C153.955 99.7391 153.939 99.8017 153.928 99.8434C153.923 99.8643 153.919 99.8805 153.916 99.8906C153.915 99.896 153.914 99.8993 153.914 99.902C153.913 99.9034 153.912 99.9047 153.912 99.9047C153.912 99.9047 153.912 99.9054 154.563 100.075ZM161 58.7593C161 23.9871 137.226 1.00878 108.234 0.333373L108.203 1.67923C136.42 2.33659 159.656 24.6722 159.656 58.7593H161ZM108.234 0.333386C89.8186 -0.111128 71.1814 -0.111129 52.7657 0.333386L52.7976 1.67923C71.1916 1.23524 89.8079 1.23523 108.202 1.67922L108.234 0.333386ZM52.7657 0.333386C23.7765 1.00871 1.34391e-06 23.5393 0 58.7593H1.34391C1.34391 24.2315 24.5766 2.33666 52.7976 1.67923L52.7657 0.333386ZM0 58.7593C-6.71953e-07 67.9271 1.5053 78.5253 3.00432 86.812C3.75458 90.959 4.50481 94.5359 5.06758 97.0763C5.34899 98.3464 5.58359 99.3581 5.74798 100.052C5.83017 100.399 5.89482 100.667 5.93899 100.849C5.96108 100.94 5.97804 101.009 5.98953 101.056C5.99527 101.079 5.99964 101.097 6.0026 101.108C6.00407 101.114 6.0052 101.119 6.00596 101.122C6.00634 101.124 6.00663 101.124 6.00684 101.126L6.00707 101.126C6.00707 101.126 6.00716 101.127 6.65906 100.964C7.31092 100.8 7.31092 100.8 7.31092 100.8L7.31072 100.799C7.31072 100.799 7.31032 100.798 7.30998 100.797C7.30931 100.794 7.30823 100.789 7.30682 100.784C7.30407 100.772 7.29983 100.756 7.29426 100.733C7.28304 100.688 7.26644 100.62 7.24467 100.53C7.20112 100.352 7.13716 100.086 7.05565 99.7418C6.89256 99.0532 6.65946 98.0482 6.3796 96.7848C5.81975 94.2579 5.0732 90.6985 4.32669 86.5717C2.83215 78.3099 1.3439 67.806 1.34391 58.7593H0ZM6.68412 101.636L30.4109 100.747L30.3606 99.4025L6.63393 100.291L6.68412 101.636ZM30.3857 100.075C31.0474 99.9579 31.0474 99.9579 31.0474 99.9579L31.0472 99.9565C31.0472 99.9565 31.0468 99.9545 31.0465 99.9525C31.0459 99.9491 31.045 99.9437 31.0438 99.937C31.0414 99.9235 31.0377 99.9027 31.0329 99.8751C31.0233 99.8205 31.009 99.7391 30.9904 99.6321C30.9531 99.418 30.8985 99.1023 30.8288 98.6958C30.6896 97.8833 30.4906 96.7081 30.2518 95.2589C29.7742 92.3604 29.1374 88.3669 28.5006 83.9849C27.2247 75.2048 25.9576 64.9227 25.9576 58.7593H24.6137C24.6137 65.0351 25.8966 75.4108 27.1707 84.1788C27.809 88.5708 28.4472 92.5738 28.9258 95.4783C29.1652 96.9309 29.3646 98.1088 29.5043 98.924C29.5741 99.3312 29.629 99.6482 29.6665 99.8636C29.6852 99.9707 29.6996 100.053 29.7093 100.108C29.7141 100.136 29.7178 100.157 29.7203 100.171C29.7215 100.178 29.7224 100.183 29.7231 100.187C29.7234 100.189 29.7238 100.191 29.7238 100.191L29.724 100.192C29.724 100.192 29.7241 100.192 30.3857 100.075ZM25.9576 58.7593C25.9576 48.9208 29.2275 41.4316 34.1934 36.322C39.1651 31.2064 45.8736 28.4376 52.8134 28.1118L52.7505 26.767C45.4986 27.1076 38.459 30.003 33.2304 35.383C27.9961 40.7689 24.6137 48.6065 24.6137 58.7593H25.9576ZM52.8062 28.1121C71.1948 27.4463 89.5835 27.4463 108.194 28.1121L108.242 26.7667C89.5996 26.0998 71.1787 26.0997 52.7577 26.7667L52.8062 28.1121ZM108.197 28.1122C122.019 28.5449 135.042 39.5686 135.042 58.7593H136.386C136.386 38.8557 122.801 27.2225 108.239 26.7666L108.197 28.1122ZM135.042 58.7593C135.042 65.2573 133.83 75.2641 132.61 83.68C132.001 87.8802 131.392 91.6725 130.935 94.4148C130.707 95.7852 130.517 96.8939 130.384 97.6585C130.317 98.0415 130.265 98.3384 130.229 98.5389C130.211 98.6399 130.198 98.716 130.188 98.7678C130.184 98.7934 130.18 98.8129 130.178 98.8257C130.177 98.8324 130.176 98.8371 130.175 98.8405C130.175 98.8418 130.175 98.8439 130.175 98.8439V98.8452C130.175 98.8452 130.175 98.8452 130.836 98.9644C131.497 99.0835 131.497 99.0835 131.497 99.0835V99.0822C131.497 99.0822 131.498 99.0801 131.499 99.0788C131.499 99.0754 131.5 99.07 131.501 99.064C131.503 99.0505 131.507 99.031 131.511 99.0047C131.521 98.9529 131.534 98.8755 131.552 98.7745C131.588 98.5719 131.641 98.2737 131.708 97.8901C131.841 97.122 132.032 96.0107 132.261 94.6362C132.719 91.8873 133.33 88.0855 133.94 83.8732C135.159 75.4626 136.386 65.3669 136.386 58.7593H135.042ZM130.804 99.6368L154.531 100.747L154.594 99.4025L130.868 98.2919L130.804 99.6368ZM2.88939 245.018H2.21744V245.691H2.88939V245.018ZM158.111 245.018V245.691H158.783V245.018H158.111ZM158.111 215.92H158.783V215.523L158.437 215.331L158.111 215.92ZM59.8778 161.276L60.204 160.687L60.1735 160.671L60.1416 160.657L59.8778 161.276ZM40.1425 152.836L40.1935 152.164L39.8786 153.454L40.1425 152.836ZM60.543 154.39L60.492 155.062L60.5175 155.064H60.543V154.39ZM158.111 154.39V155.064H158.783V154.39H158.111ZM158.111 128.624H158.783V127.951H158.111V128.624ZM2.8894 128.624V127.951H2.21744V128.624H2.8894ZM2.8894 157.722H2.21744V158.118L2.56318 158.311L2.8894 157.722ZM101.122 212.366L100.796 212.954L100.827 212.971L100.858 212.984L101.122 212.366ZM120.858 220.806L120.808 221.478L121.122 220.187L120.858 220.806ZM99.7918 219.252L99.8408 218.58L99.8166 218.578H99.7918V219.252ZM2.88939 219.252V218.578H2.21744V219.252H2.88939ZM2.88939 245.691H158.111V244.345H2.88939V245.691ZM158.783 245.018V215.92H157.439V245.018H158.783ZM158.437 215.331L60.204 160.687L59.5515 161.865L157.785 216.508L158.437 215.331ZM60.1416 160.657L40.4064 152.216L39.8786 153.454L59.6139 161.895L60.1416 160.657ZM40.0915 153.507L60.492 155.062L60.594 153.719L40.1935 152.164L40.0915 153.507ZM60.543 155.064H158.111V153.717H60.543V155.064ZM158.783 154.39V128.624H157.439V154.39H158.783ZM158.111 127.951H2.8894V129.297H158.111V127.951ZM2.21744 128.624V157.722H3.56135V128.624H2.21744ZM2.56318 158.311L100.796 212.954L101.448 211.777L3.21561 157.133L2.56318 158.311ZM100.858 212.984L120.593 221.425L121.122 220.187L101.386 211.746L100.858 212.984ZM120.907 220.135L99.8408 218.58L99.7427 219.923L120.808 221.478L120.907 220.135ZM99.7918 218.578H2.88939V219.925H99.7918V218.578ZM2.21744 219.252V245.018H3.56134V219.252H2.21744ZM158.111 293.796H158.783V293.123H158.111V293.796ZM2.88939 266.03L3.26281 265.47L2.21744 264.77V266.03H2.88939ZM2.88939 294.018H2.21744V294.39L2.53128 294.588L2.88939 294.018ZM133.497 319.341H134.169V318.668H133.497V319.341ZM133.497 364.655V365.328H134.169V364.655H133.497ZM2.88939 364.655V363.982H2.21744V364.655H2.88939ZM2.88938 390.643H2.21743V391.317H2.88938V390.643ZM158.111 390.643V391.317H158.783V390.643H158.111ZM158.111 293.123H102.009V294.469H158.111V293.123ZM102.009 293.123C73.2886 293.123 48.5936 286.206 31.0757 279.286C22.3179 275.827 15.3578 272.369 10.5899 269.777C8.20603 268.481 6.37059 267.402 5.13286 266.648C4.51402 266.271 4.04464 265.975 3.7309 265.774C3.57404 265.674 3.45608 265.597 3.3778 265.546C3.33867 265.521 3.30945 265.501 3.29026 265.488C3.28065 265.482 3.27356 265.478 3.26898 265.474C3.2667 265.473 3.26504 265.472 3.264 265.471L3.26281 265.47C3.26281 265.47 3.26281 265.47 2.88939 266.03C2.51597 266.59 2.51679 266.59 2.51679 266.59L2.51856 266.592C2.52006 266.592 2.5222 266.594 2.52496 266.596C2.53048 266.599 2.53852 266.604 2.54907 266.612C2.57018 266.626 2.60132 266.646 2.6424 266.673C2.72456 266.727 2.84648 266.806 3.0074 266.909C3.32922 267.115 3.80703 267.416 4.43463 267.798C5.68982 268.562 7.54436 269.653 9.94881 270.96C14.7575 273.574 21.7673 277.057 30.5827 280.539C48.2114 287.502 73.0763 294.469 102.009 294.469V293.123ZM2.21744 266.03V294.018H3.56134V266.03H2.21744ZM2.88939 294.018C2.53128 294.588 2.5321 294.588 2.5321 294.588L2.53384 294.589C2.5353 294.59 2.53738 294.592 2.54006 294.593C2.54544 294.596 2.55325 294.601 2.56349 294.608C2.58398 294.621 2.61419 294.639 2.65404 294.664C2.73372 294.713 2.85196 294.786 3.00804 294.879C3.32021 295.067 3.7838 295.342 4.39329 295.69C5.61224 296.388 7.41487 297.382 9.75703 298.574C14.4411 300.959 21.2843 304.136 29.9327 307.311C47.228 313.662 71.7545 320.014 100.679 320.014V318.668C71.9494 318.668 47.5812 312.358 30.3952 306.047C21.8031 302.893 15.0089 299.738 10.3659 297.374C8.04443 296.193 6.26106 295.209 5.05987 294.522C4.45929 294.178 4.00428 293.908 3.70037 293.725C3.54842 293.634 3.43424 293.564 3.35853 293.517C3.32068 293.494 3.29244 293.476 3.2739 293.465C3.26463 293.459 3.25779 293.455 3.25339 293.452C3.25119 293.451 3.24862 293.449 3.24862 293.449L3.24759 293.449C3.24759 293.449 3.2475 293.449 2.88939 294.018ZM100.679 320.014H133.497V318.668H100.679V320.014ZM132.825 319.341V364.655H134.169V319.341H132.825ZM133.497 363.982H2.88939V365.328H133.497V363.982ZM2.21744 364.655L2.21743 390.643H3.56134L3.56134 364.655H2.21744ZM2.88938 391.317H158.111V389.97H2.88938V391.317ZM158.783 390.643V293.796H157.439V390.643H158.783ZM158.111 461.779H158.783V461.285L158.312 461.137L158.111 461.779ZM2.88938 412.911L3.09085 412.269L2.21743 411.995V412.911H2.88938ZM2.88938 440.233H2.21743V440.73L2.69177 440.877L2.88938 440.233ZM43.2469 452.672H43.9189V452.175L43.4445 452.029L43.2469 452.672ZM43.2469 504.206L43.4445 504.849L43.9189 504.703V504.206H43.2469ZM2.88938 516.645L2.69177 516.001L2.21743 516.148V516.645H2.88938ZM158.111 495.098L158.313 495.741L158.783 495.592V495.098H158.111ZM67.4171 496.875H66.7451V497.774L67.6059 497.522L67.4171 496.875ZM67.4171 460.002L67.6099 459.358L66.7451 459.098V460.002H67.4171ZM129.506 478.661L129.694 479.307L131.87 478.669L129.698 478.016L129.506 478.661ZM158.312 461.137L3.09085 412.269L2.68792 413.554L157.909 462.422L158.312 461.137ZM2.21743 412.911V440.233H3.56134V412.911H2.21743ZM2.69177 440.877L43.0493 453.316L43.4445 452.029L3.087 439.59L2.69177 440.877ZM42.575 452.672V504.206H43.9189V452.672H42.575ZM43.0493 503.562L2.69177 516.001L3.08699 517.288L3.56134 517.142L43.4445 504.849L43.0493 503.562ZM158.783 495.098V461.779H157.439V494.606V495.098H158.783ZM68.089 496.875V460.002H66.7451V496.875H68.089ZM67.2242 460.647L129.313 479.306L129.698 478.016L67.6099 459.358L67.2242 460.647ZM129.317 478.015L67.2283 496.229L67.6059 497.522L129.694 479.307L129.317 478.015Z"
              fill="url(#paint0_linear)" />
        <path d="M2.88938 516.645H2.21743L2.21743 527.979H3.56133L3.56134 517.142L3.08699 517.288L2.88938 516.645Z"
              fill="url(#paint1_linear)" />
        <path d="M158.313 495.741L158.111 495.098H157.439V494.606L51.8463 528H56.3096L158.313 495.741Z"
              fill="url(#paint2_linear)" />
        <defs>
            <linearGradient id="paint0_linear" x1="80.5" y1="0" x2="80.5" y2="528" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B6E1E8" />
                <stop offset="1" stop-color="#DCDCDC" stop-opacity="0.63" />
            </linearGradient>
            <linearGradient id="paint1_linear" x1="80.5" y1="0" x2="80.5" y2="528" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B6E1E8" />
                <stop offset="1" stop-color="#DCDCDC" stop-opacity="0.63" />
            </linearGradient>
            <linearGradient id="paint2_linear" x1="80.5" y1="0" x2="80.5" y2="528" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B6E1E8" />
                <stop offset="1" stop-color="#DCDCDC" stop-opacity="0.63" />
            </linearGradient>
        </defs>
    </svg>


</section>

<section class="services">
    @Html.Partial("_FloatingPanel")
</section>
@if (!string.IsNullOrEmpty(Model.Information.Text))
{
    <section class="wait-question">
        <div class="question-block">
            <hr class="hr-for-slider">
            <p class="txt-about-us txt-question">Услуги</p>
            <div class="info-pay">
                @Html.Raw(Model.Information.Text)
            </div>
        </div>
    </section>
}
@Html.Partial("_SpeakersLeftbar")
<div class="bg-white"></div>
<section class="actors">
    <div class="box-actors">
        <hr class="hr-for-slider">
        <p class="txt-about-us txt-audioslot">@Model.Information.Title</p>
        @if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            <div class="choose-lgs">
                <select name="sources" id="sources" class="custom-selects sources" placeholder="Выбрать язык">
                    <option id="option" class="adapt-lgs" value="ru">Русский</option>
                    <option id="option" class="adapt-lgs" value="ua">Украинский</option>
                    <option id="option" class="adapt-lgs" value="en">Английский</option>
                </select>
            </div>
        }
        <div class="box-inputs">
            <input id="site-search" class="search-input" placeholder="Поиск">
            <button class="search-btn">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.7312 20.4353L15.475 14.179C16.6868 12.6821 17.4165 10.78 17.4165 8.70835C17.4165 3.90685 13.5097 0 8.70821 0C3.90676 0 0 3.9068 0 8.7083C0 13.5098 3.90681 17.4167 8.70825 17.4167C10.7799 17.4167 12.682 16.687 14.1788 15.4752L20.435 21.7314C20.6138 21.9102 20.8484 22 21.0831 22C21.3178 22 21.5525 21.9102 21.7312 21.7314C22.0896 21.373 22.0896 20.7937 21.7312 20.4353ZM8.70825 15.5833C4.91695 15.5833 1.83333 12.4997 1.83333 8.7083C1.83333 4.91696 4.91695 1.8333 8.70825 1.8333C12.4996 1.8333 15.5832 4.91696 15.5832 8.7083C15.5832 12.4997 12.4995 15.5833 8.70825 15.5833Z" fill="url(#paintb0_linear)" />
                    <defs>
                        <linearGradient id="paintb0_linear" x1="0" y1="22" x2="12.5904" y2="1.25516" gradientUnits="userSpaceOnUse"><stop stop-color="#483156" /><stop offset="1" stop-color="#39516E" /></linearGradient>
                    </defs>
                </svg>
            </button>
        </div>
        @if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            @Html.Partial("_Speakers", Model.Speakers.ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
        }
        else
        {
            @Html.Partial("_Speakers", Model.Speakers.ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
        }
</section>
<section class="foreign-speakers">
    <div id="showFour" class="box-with-speakers">
        <hr class="hr-for-box hr-speakers">
        <img class="img-speakers" src="~/site2/img/speakmicrophone.png" alt="Microphone">
        <h3 class="text-recording">ХОТИТЕ Оформить заказ?</h3>
        <p class="text-description">Убедитесь в превосходном качестве нашей работы наших дикторов!</p>
        <p class="text-description with-blue">
            Мы самым строгим образом проверяем свои результаты и извлекаем уроки
            как из успехов, так и из неудач, достигая, тем самым, высокого качества наших услуг.
        </p>
        <button class="home-btn speakers-btn modal-btn-calculator">
            ПОДБОР ДИКТОРА<svg class="btn-svg" width="8"
                               height="15" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.73931 2.65887L7.53919 8.62078L1.66678 14.3337L1.73931 2.65887Z" stroke="white"
                      stroke-width="1.5" />
            </svg>
        </button>
        <button id="btn-know-speak" class="home-btn speakers-btn modal-btn-speakers">
            ОПОЗНАТЬ ДИКТОРА<svg class="btn-svg" width="8" height="15" viewBox="0 0 9 17" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1.73931 2.65887L7.53919 8.62078L1.66678 14.3337L1.73931 2.65887Z" stroke="white"
                      stroke-width="1.5" />
            </svg>
        </button>
    </div>
    <div class="modal-overlay-calculator">
        <div class="modal-calculator">
            <a class="close-modal-calculator">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9886 18.0008L35.5879 2.40143C36.1371 1.85222 36.1371 0.96178 35.5879 0.41264C35.0387 -0.1365 34.1482 -0.13657 33.5991 0.41264L17.9997 16.012L2.40045 0.41264C1.85124 -0.13657 0.960803 -0.13657 0.411663 0.41264C-0.137476 0.96185 -0.137547 1.85229 0.411663 2.40143L16.011 18.0007L0.411663 33.6001C-0.137547 34.1493 -0.137547 35.0397 0.411663 35.5889C0.686233 35.8634 1.04616 36.0007 1.40609 36.0007C1.76602 36.0007 2.12588 35.8634 2.40052 35.5889L17.9997 19.9896L33.599 35.5889C33.8736 35.8634 34.2335 36.0007 34.5935 36.0007C34.9534 36.0007 35.3132 35.8634 35.5879 35.5889C36.1371 35.0397 36.1371 34.1492 35.5879 33.6001L19.9886 18.0008Z"
                          fill="url(#painct0_linear)" />
                    <defs>
                        <linearGradient id="painct0_linear" x1="-0.000244141" y1="36.0007" x2="20.6022" y2="2.05459"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#483156" />
                            <stop offset="1" stop-color="#39516E" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            <div class="modal-content-calculator">
                <h3 class="txt-chronomer online-calculate">ПОДБОР ДИКТОРА</h3>
                <div class="container-speaker">
                    <form>
                        <div class="form-speakers">
                            <div class="box-email">
                                <label class="txt-label-speaker email-txt-sp">EMAIL</label>
                                <input class="input-speaker" placeholder="ваш электронный адрес">
                            </div>
                            <div>
                                <label class="txt-label-speaker your-cash">ВАШ БЮДЖЕТ ДЛЯ ЗАПИСИ</label>
                                <input class="input-speaker" placeholder="ваш бюджет на даный момент">
                            </div>
                        </div>
                        <div class="form-speakers">
                            <div class="form_radio form-speak">
                                <p class="txt-label-speaker voices-txt">ГОЛОС</p>
                                <input id="radio-3" type="radio" name="radio" value="3" checked>
                                <label for="radio-3" class="page-txt-chrono txt-calcul-range">мужской</label><br>
                                <input id="radio-4" type="radio" name="radio" value="4">
                                <label for="radio-4" class="page-txt-chrono  txt-calcul-range">женский</label><br>
                                <input id="radio-5" type="radio" name="radio" value="5">
                            </div>
                            <div class="pick-file">
                                <label class="txt-label-speaker">ПРИКРЕПИТЕ ЗАДАНИЕ</label>
                                <label for="file-upload" class="custom-file-upload">
                                    Выбрать файл<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.3789 3.84755L14.9483 3.84755C13.5089 3.84755 12.2147 5.14178 12.2147 6.58112L12.2147 21.7233C12.2147 22.6003 12.5561 23.4249 13.1763 24.0452L14.0103 24.8792C14.742 25.6108 15.9319 25.6108 16.6636 24.8792L17.4976 24.0452C18.1178 23.4249 18.4592 22.6003 18.4592 21.7233L18.4592 8.29638C18.4592 8.03725 18.2493 7.82738 17.9902 7.82741C17.7311 7.82741 17.5212 8.03729 17.5212 8.29638L17.5212 21.7233C17.5212 22.3497 17.2773 22.9388 16.8343 23.3819L16.0003 24.2159C15.6346 24.5815 15.0393 24.5815 14.6737 24.2159L13.8397 23.3819C13.3966 22.9388 13.1527 22.3497 13.1527 21.7233L13.1527 6.58112C13.1527 5.63541 14.0026 4.78552 14.9483 4.78552L18.3789 4.78552C18.8518 4.78552 19.3143 4.97727 19.6485 5.31152C19.9827 5.64576 20.1745 6.10826 20.1745 6.58112L20.1745 23.9885C20.1745 24.8656 19.8328 25.6899 19.2129 26.3098L16.6636 28.8591C15.932 29.5907 14.742 29.5907 14.0103 28.8591L11.4611 26.3098C10.8411 25.6898 10.4994 24.8656 10.4994 23.9885L10.4995 8.29641C10.4995 8.03729 10.2896 7.82741 10.0305 7.82744C9.77138 7.82744 9.56151 8.03732 9.56154 8.29641L9.56151 23.9885C9.56151 25.1156 10.0003 26.1757 10.7978 26.9731L13.347 29.5224C14.4444 30.6197 16.2296 30.6197 17.3269 29.5224L19.8762 26.9731C20.6736 26.1757 21.1124 25.1156 21.1124 23.9885L21.1124 6.58112C21.1124 5.86145 20.8206 5.15701 20.3118 4.64821C19.803 4.13938 19.0985 3.84755 18.3789 3.84755Z"
                                              fill="#38366D" stroke="#38366D" stroke-width="0.5" />
                                    </svg>
                                </label>
                                <input id="file-upload" type="file" /><span class="nofile">Файл не выбрано </span>

                            </div>
                        </div>
                        <span id="correct-task" class="txt-label-speaker copy-task">
                            или скопируйте сюда
                            задание
                        </span>
                        <textarea placeholder="если задание не было прикреплено файлом"
                                  class="input-paste-text input-paste-speak" type="text" name="message"></textarea>
                        <br> <label class="txt-label-speaker copy-task place-txt">МЕСТО РАЗМЕЩЕНИЯ</label>
                        <input class="input-speaker input-width"
                               placeholder="ТВ, радио, интернет, игровое приложение, ТЦ и тд">
                        <br> <label class="txt-label-speaker copy-task wish-txt">ВАШИ ПОЖЕЛАНИЯ</label>
                        <input class="input-speaker input-width" placeholder="не обязательно">
                    </form>

                </div>
                <button class="cost-btn-open btn-send btn-send-speaker">
                    ОТПРАВИТЬ<svg width="9" height="17"
                                  viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.73931 2.65887L7.53919 8.62078L1.66678 14.3337L1.73931 2.65887Z" stroke="white"
                              stroke-width="1.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-overlay-speakers">
        <div class="modal-speakers">
            <a class="close-modal-speakers">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9886 18.0008L35.5879 2.40143C36.1371 1.85222 36.1371 0.96178 35.5879 0.41264C35.0387 -0.1365 34.1482 -0.13657 33.5991 0.41264L17.9997 16.012L2.40045 0.41264C1.85124 -0.13657 0.960803 -0.13657 0.411663 0.41264C-0.137476 0.96185 -0.137547 1.85229 0.411663 2.40143L16.011 18.0007L0.411663 33.6001C-0.137547 34.1493 -0.137547 35.0397 0.411663 35.5889C0.686233 35.8634 1.04616 36.0007 1.40609 36.0007C1.76602 36.0007 2.12588 35.8634 2.40052 35.5889L17.9997 19.9896L33.599 35.5889C33.8736 35.8634 34.2335 36.0007 34.5935 36.0007C34.9534 36.0007 35.3132 35.8634 35.5879 35.5889C36.1371 35.0397 36.1371 34.1492 35.5879 33.6001L19.9886 18.0008Z"
                          fill="url(#painct0_linear)" />
                    <defs>
                        <linearGradient id="painct0_linear" x1="-0.000244141" y1="36.0007" x2="20.6022" y2="2.05459"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#483156" />
                            <stop offset="1" stop-color="#39516E" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            <div class="modal-content-speakers">
                <h3 class="txt-chronomer online-calculate">
                    <svg width="42" height="54" viewBox="0 0 42 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.6961 37.5526C39.6899 37.5425 39.6839 37.5323 39.6778 37.5221C39.633 37.449 39.5872 37.3765 39.5403 37.3045C39.5145 37.2648 39.4885 37.2252 39.4621 37.1859C39.4299 37.1381 39.3975 37.0906 39.3643 37.0434C39.3215 36.9821 39.278 36.9216 39.2337 36.8615C39.2205 36.8436 39.2083 36.8253 39.1951 36.8075C39.1856 36.7949 39.1756 36.7829 39.1661 36.7703C39.1129 36.6997 39.0585 36.6301 39.0033 36.5613C38.9839 36.5371 38.9648 36.5129 38.9453 36.4891C38.8903 36.4219 38.834 36.3557 38.7771 36.2902C38.7534 36.2629 38.73 36.2353 38.7061 36.2083C38.6587 36.1548 38.61 36.1025 38.5613 36.0503C38.525 36.0112 38.489 35.9718 38.4521 35.9335C38.4244 35.9048 38.3958 35.8769 38.3677 35.8486C37.2906 34.7583 35.9633 33.9621 34.4689 33.5222C34.4433 33.5146 34.4173 33.5083 34.391 33.5034C34.3907 33.5034 27.3393 32.1935 27.339 32.1934C27.3265 32.1911 27.314 32.1905 27.3016 32.1885C26.9716 32.1349 26.6345 32.1791 26.332 32.3116C26.0865 32.0101 25.9248 31.5961 25.9248 31.2135V29.9369C26.3704 29.6523 26.8032 29.3325 27.2209 28.9728C28.9684 27.4682 30.069 25.2963 30.3064 22.927C31.5895 22.8678 32.615 21.8054 32.615 20.5079V18.689C32.615 17.9534 32.2854 17.2728 31.7305 16.8184V12.637C34.2802 11.3804 34.8343 9.91541 34.8343 8.88175C34.8343 7.10814 33.1824 4.88812 30.5232 3.08789C28.8196 1.93472 25.2528 0 20.5058 0C15.7587 0 12.192 1.93472 10.4884 3.08789C7.82925 4.88802 6.17734 7.10804 6.17734 8.88175C6.17734 9.91541 6.73141 11.3804 9.28115 12.637V16.8184C8.72635 17.2728 8.39664 17.9534 8.39664 18.689V20.5079C8.39664 21.8054 9.42209 22.8678 10.7052 22.927C10.9425 25.2963 12.0432 27.4683 13.7907 28.9728C14.2084 29.3325 14.6412 29.6523 15.0869 29.9369V31.2135C15.0869 31.5961 14.9251 32.01 14.6797 32.3115C14.3656 32.1739 14.0143 32.1298 13.6726 32.1934L6.62075 33.5034C6.59443 33.5083 6.56843 33.5146 6.54284 33.5222C5.04913 33.9619 3.72247 34.7575 2.64553 35.8469C2.61672 35.8759 2.5876 35.9045 2.5592 35.9339C2.5228 35.9716 2.48733 36.0105 2.45155 36.049C2.40235 36.1019 2.35326 36.1547 2.30521 36.2087C2.2816 36.2353 2.2585 36.2626 2.2351 36.2895C2.1779 36.3553 2.12142 36.4218 2.06619 36.4893C2.04674 36.513 2.02781 36.5371 2.00857 36.5611C1.95323 36.6301 1.89873 36.6997 1.84548 36.7703C1.83601 36.7829 1.82603 36.7948 1.81656 36.8075C1.80325 36.8253 1.79097 36.8436 1.77787 36.8615C1.73366 36.9216 1.69008 36.9821 1.64733 37.0434C1.61415 37.0907 1.5816 37.1383 1.54946 37.1861C1.52314 37.2253 1.49725 37.2647 1.47155 37.3043C1.42465 37.3764 1.37867 37.449 1.33384 37.5221C1.32771 37.5322 1.32157 37.5424 1.31554 37.5525C0.453386 38.9732 0 40.5864 0 42.269V43.2201C0 43.6511 0.349374 44.0004 0.780294 44.0004C1.21121 44.0004 1.56059 43.651 1.56059 43.2201V42.269C1.56059 41.5085 1.67334 40.7653 1.89051 40.0553C2.34972 40.4205 2.90702 40.615 3.48626 40.615C3.57883 40.615 3.67213 40.61 3.76542 40.5999C4.44867 40.5267 5.06255 40.1917 5.49389 39.6568L6.34304 38.6036C6.77437 38.0687 6.97158 37.3977 6.89835 36.7145C6.84011 36.1715 6.61607 35.6727 6.25827 35.2741C6.48251 35.1829 6.71155 35.1006 6.9463 35.0302L11.4459 34.1944L15.0164 39.1908C15.3738 39.6907 15.9334 39.9663 16.5138 39.9663C16.7573 39.9663 17.0044 39.9178 17.2418 39.817L17.4794 39.716L18.5185 40.924L17.0198 51.6932H7.21424V45.3658C7.21424 44.9348 6.86486 44.5855 6.43394 44.5855C6.00302 44.5855 5.65365 44.9348 5.65365 45.3658V51.6932H2.53226C1.9965 51.6932 1.5608 51.2574 1.5608 50.7217V46.851C1.5608 46.42 1.21142 46.0707 0.780502 46.0707C0.349582 46.0707 0.000208305 46.4201 0.000208305 46.851V50.7217C0.000208305 52.1179 1.13612 53.2539 2.53237 53.2539H38.4796C39.8758 53.2539 41.0117 52.1179 41.0117 50.7217V42.2692C41.0115 40.5865 40.5582 38.9733 39.6961 37.5526ZM5.12808 37.6243L4.27893 38.6775C4.10928 38.8879 3.86787 39.0196 3.59911 39.0485C3.33076 39.0772 3.06647 38.9998 2.85605 38.8301L2.53039 38.5676C2.60029 38.4429 2.67351 38.3206 2.74986 38.2007C2.75069 38.1993 2.75173 38.198 2.75256 38.1965C2.81809 38.0938 2.88705 37.9937 2.95725 37.8946C2.97858 37.8646 2.99979 37.8347 3.02153 37.8049C3.08415 37.7192 3.14853 37.6351 3.21458 37.5523C3.23164 37.5309 3.24838 37.5091 3.26565 37.4879C3.34022 37.3965 3.41719 37.3072 3.49593 37.2196C3.51892 37.1939 3.54232 37.1687 3.56562 37.1434C3.64363 37.0589 3.72288 36.9756 3.80474 36.8947C3.81171 36.8878 3.81857 36.8806 3.82565 36.8736C4.12738 36.5777 4.4545 36.3067 4.80471 36.0635L4.9757 36.2014C5.18612 36.371 5.3179 36.6124 5.34671 36.8812C5.37531 37.1499 5.29782 37.4136 5.12808 37.6243ZM36.036 36.2012L36.207 36.0633C36.5573 36.3064 36.8843 36.5775 37.1861 36.8734C37.1931 36.8804 37.1999 36.8876 37.207 36.8945C37.2888 36.9754 37.3681 37.0588 37.4461 37.1432C37.4694 37.1685 37.4928 37.1937 37.5158 37.2194C37.5945 37.307 37.6715 37.3964 37.7461 37.4877C37.7633 37.5089 37.7801 37.5307 37.7971 37.5521C37.8632 37.6349 37.9276 37.7191 37.9902 37.8047C38.0119 37.8344 38.0332 37.8644 38.0545 37.8944C38.1247 37.9935 38.1936 38.0937 38.2592 38.1963C38.2601 38.1977 38.261 38.199 38.2619 38.2005C38.3383 38.3204 38.4115 38.4427 38.4813 38.5673L38.1557 38.8299C37.9451 38.9995 37.6811 39.0769 37.4126 39.0483C37.1438 39.0195 36.9024 38.8877 36.7327 38.6772L35.8835 37.6241C35.5332 37.1897 35.6018 36.5515 36.036 36.2012ZM26.7194 33.9126C26.7204 33.9119 26.7215 33.9111 26.7225 33.9102L26.9267 33.7575C26.963 33.7304 27.0095 33.7199 27.0538 33.7279L27.8723 33.88L24.7255 38.2834C24.6468 38.3936 24.5047 38.4336 24.38 38.3806L22.0601 37.3951L26.7194 33.9126ZM20.5058 36.6084L15.9587 33.2097C16.3883 32.6458 16.6476 31.928 16.6476 31.2135V30.7567C17.8512 31.261 19.1373 31.5246 20.4971 31.5398C20.5 31.5398 20.5029 31.5398 20.5059 31.5398C20.5088 31.5398 20.5117 31.5398 20.5146 31.5398C21.8744 31.5245 23.1605 31.2608 24.3642 30.7567V31.2135C24.3642 31.9281 24.6235 32.6458 25.0529 33.2097L20.5058 36.6084ZM22.0247 39.0758L21.3139 39.9021H19.6979L18.9871 39.0758L20.5059 38.4306L22.0247 39.0758ZM9.28115 10.8582C8.27827 10.2399 7.73804 9.55699 7.73804 8.88164C7.73804 7.47499 9.61721 5.56222 11.3633 4.38023C12.9188 3.32733 16.175 1.56069 20.5058 1.56069C24.8365 1.56069 28.0927 3.32733 29.6483 4.38034C31.3943 5.56232 33.2735 7.47509 33.2735 8.88175C33.2735 9.55699 32.7332 10.24 31.7304 10.8583V9.43925C31.7304 8.33725 30.9845 7.37691 29.9164 7.10388C27.8962 6.58757 23.9237 5.72136 20.0172 5.7198C20.0137 5.7198 20.0108 5.7198 20.0072 5.7198C16.6245 5.7198 13.2636 6.46462 11.0396 7.08973C10.0042 7.38076 9.28115 8.33496 9.28115 9.41012V10.8582ZM11.9874 13.5978C11.9765 13.5909 11.9654 13.584 11.9546 13.577C11.904 13.5447 11.8553 13.5121 11.808 13.4795C11.7888 13.4662 11.7697 13.4528 11.751 13.4394C11.7123 13.412 11.6748 13.3843 11.6384 13.3566C11.6133 13.3375 11.5891 13.3184 11.5651 13.2992C11.5364 13.2763 11.5082 13.2535 11.4812 13.2305C11.4524 13.2059 11.425 13.1815 11.3982 13.1569C11.378 13.1385 11.3576 13.1202 11.3385 13.1018C11.3079 13.0723 11.2793 13.0428 11.2515 13.0134C11.2382 12.9994 11.2243 12.9852 11.2116 12.9712C11.2103 12.9696 11.2091 12.968 11.2078 12.9666H24.3084C24.7393 12.9666 25.0887 12.6172 25.0887 12.1863C25.0887 11.7553 24.7393 11.406 24.3084 11.406H10.8418V9.41023C10.8418 9.03121 11.0968 8.69484 11.4619 8.59228C13.5917 7.99359 16.8019 7.28049 20.0072 7.28049C20.0101 7.28049 20.0136 7.28049 20.0165 7.28049C23.7525 7.28205 27.5806 8.11778 29.5299 8.616C29.9065 8.71221 30.1696 9.05077 30.1696 9.43925V11.4059H28.0769C27.6459 11.4059 27.2966 11.7553 27.2966 12.1862C27.2966 12.6173 27.6459 12.9666 28.077 12.9666H29.8042C29.8028 12.9681 29.8017 12.9697 29.8003 12.9712C29.7876 12.9852 29.7737 12.9994 29.7604 13.0134C29.7325 13.0428 29.704 13.0723 29.6734 13.1018C29.6543 13.1202 29.6339 13.1385 29.6137 13.1569C29.5869 13.1815 29.5595 13.2059 29.5307 13.2305C29.5037 13.2535 29.4755 13.2763 29.4468 13.2992C29.4229 13.3184 29.3986 13.3375 29.3736 13.3566C29.3372 13.3843 29.2996 13.412 29.2609 13.4394C29.2422 13.4527 29.2232 13.4662 29.2039 13.4795C29.1565 13.5121 29.1079 13.5447 29.0574 13.577C29.0466 13.584 29.0355 13.5909 29.0245 13.5978C28.7002 13.8019 28.3138 13.9988 27.8722 14.1814C27.8629 14.1853 27.8546 14.1907 27.8455 14.1949C26.1737 14.884 23.6613 15.4048 20.506 15.4048C17.3507 15.4048 14.8383 14.884 13.1664 14.1949C13.1573 14.1907 13.149 14.1853 13.1398 14.1814C12.6981 13.9988 12.3117 13.8019 11.9874 13.5978ZM12.0611 15.4112V16.9314C11.632 16.709 11.1979 16.5894 10.8419 16.5254V14.7121C11.1767 14.95 11.5792 15.1848 12.0611 15.4112ZM28.9506 15.4111C29.4324 15.1848 29.8349 14.95 30.1697 14.7121V16.5252C29.8137 16.5892 29.3796 16.7089 28.9506 16.9313V15.4111ZM14.8089 27.7901C13.2108 26.4141 12.2669 24.352 12.2193 22.1325C12.2102 21.7082 11.8635 21.3689 11.4392 21.3689H10.8183C10.3436 21.3689 9.95733 20.9827 9.95733 20.5079V18.689C9.95733 18.4272 10.0754 18.1846 10.2739 18.023C10.5491 18.0473 11.0627 18.1298 11.4983 18.4065C11.5026 18.4093 11.5069 18.412 11.5113 18.4148C11.5727 18.4545 11.6324 18.4983 11.6897 18.5463C11.6964 18.5518 11.7031 18.5574 11.7096 18.5631C11.7375 18.5872 11.7648 18.6119 11.7914 18.6381C11.8146 18.661 11.8388 18.6823 11.8635 18.7027C11.8708 18.7087 11.8782 18.7144 11.8856 18.7202C11.9043 18.7349 11.9234 18.7488 11.9428 18.762C11.9505 18.7672 11.958 18.7725 11.9658 18.7775C11.9922 18.7946 12.0189 18.8107 12.0465 18.8251C12.0466 18.8252 12.0468 18.8253 12.0469 18.8254C12.0749 18.8401 12.1035 18.8532 12.1325 18.8653C12.1405 18.8686 12.1486 18.8716 12.1568 18.8748C12.1788 18.8834 12.201 18.8912 12.2234 18.8983C12.2319 18.901 12.2402 18.9037 12.2487 18.9061C12.2781 18.9146 12.3078 18.9221 12.3377 18.928C12.3383 18.9281 12.3387 18.9282 12.3392 18.9283C12.37 18.9343 12.4011 18.9386 12.4323 18.9419C12.4407 18.9429 12.4491 18.9434 12.4575 18.944C12.4811 18.946 12.5048 18.9471 12.5286 18.9475C12.534 18.9476 12.5393 18.9482 12.5446 18.9482C12.548 18.9482 12.5516 18.9477 12.555 18.9477C12.5857 18.9474 12.6165 18.9461 12.6473 18.9432C12.6481 18.9431 12.6489 18.9431 12.6497 18.9431C12.6812 18.94 12.7127 18.9351 12.7441 18.929C12.7529 18.9274 12.7618 18.9253 12.7706 18.9234C12.7939 18.9183 12.8171 18.9125 12.8403 18.906C12.8495 18.9034 12.8586 18.9009 12.8678 18.8979C12.8986 18.8882 12.9291 18.8776 12.9594 18.865C13.3617 18.697 13.6217 18.3072 13.6217 17.8716V16.0054C15.6309 16.6382 18.1015 16.9654 20.5058 16.9654C22.91 16.9654 25.3806 16.6382 27.3899 16.0054V17.8716C27.3899 18.3072 27.6498 18.6971 28.0521 18.865C28.0825 18.8777 28.1133 18.8884 28.1441 18.8982C28.1529 18.9009 28.1616 18.9032 28.1704 18.9058C28.1941 18.9126 28.2179 18.9186 28.2418 18.9237C28.2501 18.9255 28.2585 18.9275 28.2669 18.929C28.33 18.9411 28.3937 18.9472 28.4571 18.9478C28.4603 18.9478 28.4637 18.9483 28.4669 18.9483C28.4719 18.9483 28.4769 18.9477 28.482 18.9476C28.5064 18.9472 28.5308 18.946 28.5551 18.944C28.563 18.9434 28.5709 18.9429 28.5788 18.942C28.6412 18.9355 28.7029 18.9234 28.7632 18.906C28.7714 18.9036 28.7796 18.901 28.7878 18.8984C28.8104 18.8913 28.8328 18.8833 28.8551 18.8746C28.8631 18.8715 28.8712 18.8685 28.8791 18.8652C28.9081 18.8531 28.9368 18.84 28.9648 18.8253C28.965 18.8252 28.9652 18.8251 28.9654 18.825C28.9929 18.8106 29.0196 18.7945 29.0459 18.7775C29.0537 18.7725 29.0613 18.7671 29.0691 18.7619C29.0885 18.7487 29.1075 18.7348 29.1261 18.7202C29.1336 18.7144 29.1411 18.7086 29.1484 18.7026C29.1731 18.6821 29.1974 18.6609 29.2205 18.638C29.2467 18.612 29.2739 18.5876 29.3015 18.5638C29.3087 18.5575 29.3159 18.5514 29.3232 18.5452C29.3488 18.5238 29.3747 18.5031 29.4012 18.4835C29.4037 18.4816 29.406 18.4797 29.4085 18.4778C29.4372 18.4567 29.4664 18.437 29.496 18.4177C29.5039 18.4125 29.5119 18.4075 29.5199 18.4024C29.5462 18.3859 29.5728 18.3699 29.5996 18.3547C29.6034 18.3525 29.6073 18.3501 29.6112 18.3479C29.6417 18.331 29.6724 18.315 29.7033 18.2997C29.711 18.2958 29.7187 18.2922 29.7264 18.2884C29.754 18.2751 29.7818 18.2622 29.8096 18.2502C29.8134 18.2485 29.8172 18.2467 29.821 18.2451C29.8531 18.2313 29.8851 18.2185 29.917 18.2064C29.9227 18.2042 29.9284 18.2021 29.9341 18.2C29.9645 18.1887 29.9947 18.178 30.0249 18.168C30.0265 18.1675 30.0282 18.1668 30.0299 18.1663C30.0637 18.1552 30.0973 18.1449 30.1305 18.1353C30.1317 18.135 30.133 18.1346 30.1342 18.1343C30.3719 18.0661 30.5897 18.036 30.7378 18.0228C30.9364 18.1845 31.0545 18.427 31.0545 18.6889V20.5078C31.0545 20.9826 30.6682 21.3688 30.1935 21.3688H29.5726C29.1482 21.3688 28.8016 21.7081 28.7926 22.1324C28.7449 24.3519 27.801 26.414 26.2029 27.79C24.5457 29.2169 22.6292 29.9534 20.5061 29.979C18.3828 29.9535 16.4664 29.2171 14.8089 27.7901ZM16.6315 38.3806C16.5066 38.4335 16.3646 38.3934 16.286 38.2835L13.1392 33.8801L13.9577 33.728C14.0022 33.7199 14.0485 33.7305 14.0848 33.7576L14.289 33.9102C14.2901 33.9111 14.2912 33.9119 14.2923 33.9127L18.9513 37.3951L16.6315 38.3806ZM18.5954 51.6932L20.019 41.4628H20.9925L22.4161 51.6932H18.5954ZM38.4795 51.6932H35.3583V45.3658C35.3583 44.9348 35.0089 44.5855 34.578 44.5855C34.1471 44.5855 33.7977 44.9348 33.7977 45.3658V51.6932H23.992L22.4933 40.924L23.5324 39.716L23.7701 39.817C24.0074 39.9178 24.2544 39.9663 24.4979 39.9663C25.0782 39.9663 25.6381 39.6908 25.9954 39.1907L29.5658 34.1944L34.0654 35.0302C34.3002 35.1006 34.5293 35.1829 34.7536 35.2741C33.9283 36.1961 33.8671 37.6097 34.6684 38.6035L35.5176 39.6568C35.949 40.1917 36.5627 40.5266 37.246 40.5998C37.3394 40.6099 37.4326 40.6149 37.5253 40.6149C38.1043 40.6149 38.6617 40.4203 39.1209 40.0552C39.3381 40.7652 39.4508 41.5084 39.4508 42.2689V50.7217H39.4509C39.451 51.2574 39.0151 51.6932 38.4795 51.6932Z"
                              fill="url(#painst0_linear)" />
                        <path d="M31.1576 44.5856H27.0482C26.3453 44.5856 25.7734 45.1574 25.7734 45.8603V48.0497C25.7734 48.7526 26.3453 49.3244 27.0482 49.3244H31.1576C31.8605 49.3244 32.4323 48.7526 32.4323 48.0497V45.8603C32.4323 45.1573 31.8604 44.5856 31.1576 44.5856ZM27.3339 47.7636V46.1462H30.8715V47.7636H27.3339Z"
                              fill="url(#painst1_linear)" />
                        <path d="M13.9622 44.5856H9.85278C9.14987 44.5856 8.57812 45.1574 8.57812 45.8603V48.0497C8.57812 48.7526 9.14998 49.3244 9.85278 49.3244H13.9622C14.6651 49.3244 15.2369 48.7526 15.2369 48.0497V45.8603C15.237 45.1574 14.6651 44.5856 13.9622 44.5856ZM13.6763 47.7637H10.1388V46.1463H13.6763V47.7637Z"
                              fill="url(#painst2_linear)" />
                        <defs>
                            <linearGradient id="painst0_linear" x1="0" y1="53.2539" x2="33.4045" y2="10.867"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                            <linearGradient id="painst1_linear" x1="25.7734" y1="49.3244" x2="27.9992" y2="44.1713"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                            <linearGradient id="painst2_linear" x1="8.57812" y1="49.3244" x2="10.8039" y2="44.1713"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#483156" />
                                <stop offset="1" stop-color="#39516E" />
                            </linearGradient>
                        </defs>
                    </svg>
                    ОПОЗНАНИЯ ДИКТОРА
                </h3>
                <p class="text-definition">
                    Мы можем опознать диктора, который вас заинтересовал. Для этого загрузите
                    ролик, либо укажите <br>ссылку на ресурс с ним.
                </p>
                <div class="container-speaker">
                    <form>
                        <div class="form-speakers">
                            <div class="box-email">
                                <label class="txt-label-speaker email-txt-sp">EMAIL</label>
                                <input id="email-width" class="input-speaker" placeholder="ваш электронный адрес">
                            </div>
                        </div>
                        <div class="form-speakers">
                            <div class="pick-file identifi-task">
                                <label class="txt-label-speaker">ПРИКРЕПИТЕ ЗАДАНИЕ</label>
                                <label for="file-upload" class="custom-file-upload">
                                    Выбрать файл<svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.3789 3.84755L14.9483 3.84755C13.5089 3.84755 12.2147 5.14178 12.2147 6.58112L12.2147 21.7233C12.2147 22.6003 12.5561 23.4249 13.1763 24.0452L14.0103 24.8792C14.742 25.6108 15.9319 25.6108 16.6636 24.8792L17.4976 24.0452C18.1178 23.4249 18.4592 22.6003 18.4592 21.7233L18.4592 8.29638C18.4592 8.03725 18.2493 7.82738 17.9902 7.82741C17.7311 7.82741 17.5212 8.03729 17.5212 8.29638L17.5212 21.7233C17.5212 22.3497 17.2773 22.9388 16.8343 23.3819L16.0003 24.2159C15.6346 24.5815 15.0393 24.5815 14.6737 24.2159L13.8397 23.3819C13.3966 22.9388 13.1527 22.3497 13.1527 21.7233L13.1527 6.58112C13.1527 5.63541 14.0026 4.78552 14.9483 4.78552L18.3789 4.78552C18.8518 4.78552 19.3143 4.97727 19.6485 5.31152C19.9827 5.64576 20.1745 6.10826 20.1745 6.58112L20.1745 23.9885C20.1745 24.8656 19.8328 25.6899 19.2129 26.3098L16.6636 28.8591C15.932 29.5907 14.742 29.5907 14.0103 28.8591L11.4611 26.3098C10.8411 25.6898 10.4994 24.8656 10.4994 23.9885L10.4995 8.29641C10.4995 8.03729 10.2896 7.82741 10.0305 7.82744C9.77138 7.82744 9.56151 8.03732 9.56154 8.29641L9.56151 23.9885C9.56151 25.1156 10.0003 26.1757 10.7978 26.9731L13.347 29.5224C14.4444 30.6197 16.2296 30.6197 17.3269 29.5224L19.8762 26.9731C20.6736 26.1757 21.1124 25.1156 21.1124 23.9885L21.1124 6.58112C21.1124 5.86145 20.8206 5.15701 20.3118 4.64821C19.803 4.13938 19.0985 3.84755 18.3789 3.84755Z"
                                              fill="#38366D" stroke="#38366D" stroke-width="0.5" />
                                    </svg>
                                </label>
                                <input id="file-upload" type="file" /><span class="nofile">Файл не выбрано </span>

                            </div>
                        </div>
                        <br>
                        <div class="href-for">
                            <label class="txt-label-speaker copy-task place-txt give-txt">
                                скопируйте сюда ссылку на
                                ролик
                            </label>
                            <input id="task-pick" class="input-speaker input-width"
                                   placeholder="если задание не было прикреплено файлом">
                        </div>
                        <div class="give-comment">
                            <p id="correct-task" class="txt-label-speaker copy-task give-txt">
                                Оставьте ваши
                                коментарии
                            </p>
                            <textarea id="text-comment" placeholder="тайминг, например"
                                      class="input-paste-text input-paste-speak" type="text" name="message"></textarea>
                        </div>
                    </form>

                </div>
                <button class="cost-btn-open btn-send btn-send-speaker">
                    ОТПРАВИТЬ<svg width="9" height="17"
                                  viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.73931 2.65887L7.53919 8.62078L1.66678 14.3337L1.73931 2.65887Z" stroke="white"
                              stroke-width="1.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>