@using Pras.Shared.Enums
@using Pras.Web.Models.Forms
@model SpeakersPageViewModel

@{
    ViewBag.Title = Model.Information.MetaTitle ?? Model.Information.Title;
    Layout = "_Layout";
}
@*@section Styles {
        <link rel="stylesheet" type="text/css" href="~/site/libs/dataTables/jquery.dataTables.min.css">
    }

    <div class="miniblock">
        <div class="serij">
            <h1>@Model.Information.Title</h1>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="leftbar">
                    @Html.Partial("_SpeakersLeftbar")
                </div>
            </div>
            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="rightbar">
                    @Html.Raw(Model.Information.Text)
                </div>
            </div>
        </div>
    </div>

    @section AfterContent {
        @if (Model.Information.Type == InformationTypes.SpeakersRu)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Дикторы России</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male && p.Type != SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Дикторы России</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female && p.Type != SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersFederal)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex3">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Федеральные дикторы России</h2>
                        </div>
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male && p.Type == SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex4">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Федеральные дикторы России</h2>
                        </div>
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female && p.Type == SpeakerTypes.Federal).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersUk)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Мужские голоса. Дикторы Украины</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Male).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Женские голоса. Дикторы Украины</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_Speakers", Model.Speakers.Where(p => p.Gender == Gender.Female).ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            <div class="container">
                <div class="fillcontainer">
                    <section id="ex1">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Иностранные мужские голоса</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_SpeakersFor", Model.Speakers.Where(p => p.Gender == Gender.Male).ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
                        </div>
                    </section>
                </div>
                <div class="fillcontainer">
                    <section id="ex2">
                        <div class="title">
                            <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                            <h2>Иностранные женские голоса</h2>
                        </div>
                        <hr />
                        <div>
                            @Html.Partial("_SpeakersFor", Model.Speakers.Where(p => p.Gender == Gender.Female).ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            var speakers = Model.Speakers.OrderBy(p=>p.GroupTitle).GroupBy(p => p.GroupTitle);
            int i = 1;

            foreach (var group in speakers)
            {
                <div class="container">
                    <div class="fillcontainer">
                        <section id="ex@(i)">
                            <div class="title">
                                <a class="palitra"><img src="~/site/images/palit.png" alt="silafm"></a>
                                <h2>@group.Key</h2>
                            </div>
                            <div>
                                @Html.Partial("_Speakers", group.ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
                            </div>
                        </section>
                    </div>
                </div>
                i++;
            }
        }
    }

    @section Scripts {
        <script type="text/javascript" charset="utf8" src="~/site/libs/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="~/site/libs/dataTables/dataTables.bootstrap.min.js"></script>
    }*@

@section Styles{
    <link href="~/site2/css/styleaudio.css" rel="stylesheet" />
    <link href="~/site2/css/speakers.css" rel="stylesheet" />
    <link href="~/site2/css/pay.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/site2/js/speakers.js"></script>
    <script>
        $(document).ready(function(){
            $('.example-block-elem').click(function(){
                var category = $(this).attr('id');
                if(category == 'all'){
                    $('.playlist-element').hide();
                    setTimeout(function(){
                        $('.playlist-element').show();
                    }, 300);
                }
                else{
                    $('.playlist-element').hide();
                    setTimeout(function(){
                        $('.' + category).show();
                    }, 300);
                }
            })
        });

        $(document).ready(function(){
            $('.modal-btn-order').click(function(){
                $('.modal-overlay').show();
            })
        })

    </script>
}
<section id="1" class="speak-page">
    <div class="home-box-text">
        <p class="sila-fm-txt">СИЛА FM</p>
        <h2 class="professional-txt">@Model.Information.Title</h2>
        <p class="txt-production txt-office">Чтобы заказать начитку диктора, достаточно воспользоваться формой <a href="@Url.Action("Order", "Home")" target="_blank"> онлайн-заказа</a>, либо выслать текст на электронный адрес: <a href="mailto: info@sila.fm?subject=Заказ голоса">info@sila.fm </a></p>
        <a href="#" class="home-btn js_open-modal">
            СДЕЛАТЬ ЗАКАЗ
            <svg class="icon-btn-triangle btn-svg">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </a>
    </div>
    <img src="~/site2/img/icons/sila2.svg" alt="" class="contactpage-sila">
</section>

<section class="services">
    @Html.Partial("_FloatingPanel")
</section>
@if (!string.IsNullOrEmpty(Model.Information.Text))
{
    <section class="wait-question">
        <div class="question-block">
            <hr class="hr-for-slider"/>
            <p class="txt-about-us txt-question">Услуги</p>
            <div class="info-pay">
                @Html.Raw(Model.Information.Text)
            </div>
        </div>
    </section>
}
@Html.Partial("_SpeakersLeftbar")
<div class="bg-white"></div>
<section class="actors">
    <div class="box-actors">
    <hr class="hr-for-slider"/>
        <p class="txt-about-us txt-audioslot">@Model.Information.Title</p>
        @if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            <div class="choose-lgs">
                <select name="sources" id="sources" class="custom-selects sources" placeholder="Выбрать язык">
                    <option id="option" class="adapt-lgs" value="ru">Русский</option>
                    <option id="option" class="adapt-lgs" value="ua">Украинский</option>
                    <option id="option" class="adapt-lgs" value="en">Английский</option>
                </select>
            </div>
        }
    <div class="box-inputs">
        <input id="site-search" class="search-input" placeholder="Поиск" onkeyup="myFunction()">
        <button class="search-btn">
            <svg>
                <use xlink:href="#icon-search"></use>
            </svg>
        </button>
    </div>
        @if (Model.Information.Type == InformationTypes.SpeakersFor)
        {
            @Html.Partial("_Speakers", Model.Speakers.ToList(), new ViewDataDictionary(ViewData) { { "price", "у.е." }, { "isLang", true } })
        }
        else
        {
            @Html.Partial("_Speakers", Model.Speakers.ToList(), new ViewDataDictionary(ViewData) { { "price", "руб" }, { "isLang", false } })
        }
</section>
<section class="foreign-speakers">
    <div id="showFour" class="box-with-speakers">
        <hr class="hr-for-box hr-speakers">
        <img class="img-speakers" src="~/site2/img/speakmicrophone.png" alt="Microphone">
        <h3 class="text-recording">ХОТИТЕ Оформить заказ?</h3>
        <p class="text-description">Убедитесь в превосходном качестве нашей работы наших дикторов!</p>
        <p class="text-description with-blue">
            Мы самым строгим образом проверяем свои результаты и извлекаем уроки
            как из успехов, так и из неудач, достигая, тем самым, высокого качества наших услуг.
        </p>
        <button class="home-btn speakers-btn modal-btn-calculator">
            ПОДБОР ДИКТОРА
            <svg class="icon-btn-triangle btn-svg">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </button>
        <button id="btn-know-speak" class="home-btn speakers-btn modal-btn-speakers">
            ОПОЗНАТЬ ДИКТОРА
            <svg class="icon-btn-triangle btn-svg">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </button>
    </div>
    @Html.Partial("_ChoiceSpeaker", new ChoiceSpeakerViewModel())
    @Html.Partial("_IdentityVoice", new IdentifyVoiceViewModel())
</section>