@using Pras.Shared.Enums
@using Pras.Web.Helpers
@{
    const string className = "active";
}
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header text-upper">Меню</li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Admin", "Index", className)">
            <a href="@Url.Action("Index", "Admin")">
                <i class="fa fa-files-o"></i> <span>Файловый менеджер</span>
            </a>
        </li>
        <li class="header text-upper">Медиа</li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Audio", className)">
            <a href="@Url.Action("Index", "Audio")">
                <i class="fa fa-music"></i> <span>Аудиоролики</span>
            </a>
        </li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Video", className)">
            <a href="@Url.Action("Index", "Video")">
                <i class="fa fa-play-circle"></i> <span>Видеоролики</span>
            </a>
        </li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Speakers", className)">
            <a href="@Url.Action("Index", "Speakers")">
                <i class="fa fa-microphone"></i> <span>Дикторы</span>
            </a>
        </li>
        <li class="header text-upper">Информация</li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Settings", className)">
            <a href="@Url.Action("Edit", "Settings")">
                <i class="fa fa-gears"></i> <span>Общее</span>
            </a>
        </li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "News", className)">
            <a href="@Url.Action("Index", "News")">
                <i class="fa fa-newspaper-o"></i> <span>Новости</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-file-text"></i>
                <span>Внутренние страницы</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i>
                        <span>Дикторы</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersChild})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersChild})"><i class="fa fa-angle-double-right"></i>Текст "Детские голоса"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersRu})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersRu})"><i class="fa fa-angle-double-right"></i>Текст "Дикторы России"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersUk})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersUk})"><i class="fa fa-angle-double-right"></i>Текст "Дикторы Украины"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersFor})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersFor})"><i class="fa fa-angle-double-right"></i>Текст "Иностранные д-ры"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersParodist})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersParodist})"><i class="fa fa-angle-double-right"></i>Текст "Пародисты"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersVocalist})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersVocalist})"><i class="fa fa-angle-double-right"></i>Текст "Вокалисты"</a>
                        </li>
                        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.SpeakersVip})">
                            <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.SpeakersVip})"><i class="fa fa-angle-double-right"></i>Текст "VIP-голоса"</a>
                        </li>
                    </ul>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Audio})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Audio})"><i class="fa fa-angle-double-right"></i>Текст "Аудиоролики"</a>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Video})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Video})"><i class="fa fa-angle-double-right"></i>Текст "Созд-е видеороликов"</a>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Games})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Games})"><i class="fa fa-angle-double-right"></i>Текст "Озвучивание игр"</a>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Music})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Music})"><i class="fa fa-angle-double-right"></i>Текст "Музык. подложки"</a>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Scenario})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Scenario})"><i class="fa fa-angle-double-right"></i>Текст "Сценарии"</a>
                </li>
                <li class="@Html.CurrentMenu(ViewContext.RouteData, "Information", "Edit", className, new ObjectValue{Type = typeof(InformationTypes), Value = InformationTypes.Payment})">
                    <a href="@Url.Action("Edit", "Information", new {type = InformationTypes.Payment})"><i class="fa fa-angle-double-right"></i>Текст "Оплата"</a>
                </li>
            </ul>
        </li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Team", className)">
            <a href="@Url.Action("Index", "Team")">
                <i class="fa fa-users"></i> <span>Команда</span>
            </a>
        </li>
        <li class="@Html.CurrentMenu(ViewContext.RouteData, "Reviews", className)">
            <a href="@Url.Action("Index", "Reviews")">
                <i class="fa fa-comments"></i> <span>Отзывы</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->