@using Pras.Shared.Enums
@using Pras.Shared.Enums.Extensions
@using Pras.Web.Areas.Administration.Models.HelperModels
@model Pras.Web.Areas.Administration.Models.VideoViewModel

@{
    ViewBag.Title = "Видеоролики";
    Layout = "_Layout";
    ViewBag.Breadcrumb = new List<UIBreadcrumbs>
{
new UIBreadcrumbs{ Link = Url.Action("Index", "Admin"), Title = "Главная"},
new UIBreadcrumbs{ Link = Url.Action("Index", "Video"), Title = ViewBag.Title},
new UIBreadcrumbs{ Link = string.Empty, Title = Model.IsNew ? "Создание" : "Редактирование"}
};

    Html.RenderPartial("_ResultMessages");
}
@section Styles{
    <link rel="stylesheet" href="plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" />
}
@section Scripts{
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/moment/moment-with-locales.min.js"></script>
    <script src="~/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
}
<div class="col-sm-12 col-md-7 col-lg-9">
    <div class="box box-danger">
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div class="box-header with-border">
                <h3 class="box-title">@(Model.IsNew ? "Создание" : "Редактирование")</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Type, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Type, VideoTypes.Animation.ToSelectList(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Summary, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Summary, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Summary)
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Path, new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Path, new { @class = "form-control", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <a onclick=" loadElfinder('Path'); " class="btn btn-danger btn-flat">Выбрать файл</a>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Path)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Created, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Created, new { @class = "form-control datetimepicker" })
                        @Html.ValidationMessageFor(model => model.Created)
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-danger btn-lg pull-right" value="Сохранить" />
            </div>
        </form>
    </div>
</div>