@model Pras.Web.Areas.Administration.Models.HelperModels.Item

<div class="box box-solid" data-ng-repeat="item in model.@ViewData["Array"] track by $index">
    <div class="box-body">
        <div class="row">
            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.Label, new { @class = "control-label" })
                @Html.TextBox($"{ViewData["Array"]}[{{{{$index}}}}].Label", null, new { @class = "form-control", data_ng_model = "item.Label" })
                @Html.ValidationMessage($"{ViewData["Array"]}[{{$index}}].Label")
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Value, new { @class = "control-label" })
                @Html.TextBox($"{ViewData["Array"]}[{{{{$index}}}}].Value", null, new { @class = "form-control", data_ng_model = "item.Value" })
                @Html.ValidationMessage($"{ViewData["Array"]}[{{$index}}].Value")
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Link, new { @class = "control-label" })
                @Html.TextBox($"{ViewData["Array"]}[{{{{$index}}}}].Link", null, new { @class = "form-control", data_ng_model = "item.Link" })
                @Html.ValidationMessage($"{ViewData["Array"]}[{{{{$index}}}}].Link")
            </div>
            <div class="col-lg-1"><a href="#" data-ng-click="deleteItem($event, model.@ViewData["Array"], item)" title="" class=""><i class="fa fa-remove" data-original-title="" title=""></i></a></div>
        </div>
    </div>
</div>