@model ContactsViewModel
@*@if (Model.FullContactsGroups != null && Model.FullContactsGroups.Any())
    {
        <h2>Наши контакты</h2>
        <hr>
        <br>
        foreach (var group in Model.FullContactsGroups)
        {
            <h4>@group.Title</h4>
            foreach (var item in group.Items)
            {
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p class="littext">@item.Label</p>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6">
                        @if (String.IsNullOrEmpty(item.Link))
                        {
                            <p class="littext">@item.Value</p>
                        }
                        else
                        {
                            <p class="littext"><a href="@item.Link" class="link2">@item.Value</a></p>
                        }
                    </div>
                </div>
            }
            <br>
        }
    }

    @if (Model.ProjectsList != null && Model.ProjectsList.Any())
    {
        <h2>Наши проекты</h2>
        <hr>
        foreach (var item in Model.ProjectsList)
        {
            if (String.IsNullOrEmpty(item.Link))
            {
                <p>@item.Value</p>
            }
            else
            {
                <p><a href="@item.Link" class="link2">@item.Value</a></p>
            }
        }
        <br>
    }
    @if (Model.PartnersList != null && Model.PartnersList.Any())
    {
        <h2>Наши партнеры</h2>
        <hr>
        foreach (var item in Model.PartnersList)
        {
            if (String.IsNullOrEmpty(item.Link))
            {
                <p>@item.Value</p>
            }
            else
            {
                <p><a href="@item.Link" class="link2">@item.Value</a></p>
            }
        }
    }*@

@if (Model != null && Model.Contacts != null)
{
    <div class="base-box">
        <svg class="base-svg" width="90" height="90" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.00401 28.1809C2.53993 30.1555 4.34069 31.52 6.38665 31.5017C6.68159 31.5019 6.97601 31.4738 7.26567 31.4177L16.3551 29.6748L23.3475 28.1403C25.6491 27.7266 27.232 25.5945 26.9622 23.2717L26.1089 16.7276C26.0024 15.9131 27.8697 15.0102 29.6111 14.7477C39.7057 13.1145 49.9951 13.0878 60.098 14.6683C62.8742 15.1467 63.4877 15.5923 63.6197 15.7588C63.8986 16.4476 63.9394 17.2099 63.7352 17.9246L63.1231 22.2744C62.779 23.6807 63.0233 25.1665 63.7997 26.3886C64.8868 27.5373 66.3554 28.2502 67.9304 28.394C68.9803 28.5949 69.7888 28.7974 70.5972 28.9939C71.4551 29.2069 72.3117 29.4198 73.4275 29.6328L81.5584 31.2017C82.9724 31.6186 84.4874 31.5306 85.8436 30.9526C87.2711 30.0328 88.1956 28.507 88.3499 26.8159L88.3995 26.5985C88.557 25.9056 88.7655 25.2185 88.9739 24.5316C89.5675 22.8838 89.8876 21.15 89.9218 19.399C89.6798 16.3131 88.2573 13.4395 85.9502 11.376C75.5648 1.18273 57.602 0.00366211 45.0029 0.00366211C16.2396 0.00383788 5.27983 8.28329 1.15047 15.2294C0.0164095 17.1509 -0.295054 19.4483 0.286567 21.6024L2.00401 28.1809ZM3.72743 16.7652C7.4592 10.4852 17.6494 3.0037 45.0032 3.0037C57.0819 3.0037 74.2513 4.09417 83.8506 13.5165C85.5956 15.0413 86.6923 17.1751 86.9164 19.4816C86.864 20.91 86.5866 22.3213 86.0945 23.6633C85.8679 24.4133 85.6445 25.1707 85.4675 25.9311L85.4149 26.1591C85.1645 27.275 84.965 28.0264 84.4505 28.2948C83.6864 28.5029 82.8788 28.4884 82.1226 28.2528L73.9977 26.702C72.9478 26.5011 72.1363 26.2986 71.3279 26.1021C70.47 25.8891 69.6134 25.6762 68.5006 25.4632C67.7823 25.3252 66.5777 25.0956 66.1952 24.5903C65.9543 23.9906 65.9205 23.3276 66.0993 22.7064L66.7127 18.3566C67.0707 16.8939 66.8447 15.3492 66.0827 14.0505C65.1137 12.6705 62.8804 12.1186 60.614 11.7271C50.1937 10.092 39.5802 10.1152 29.1671 11.7962C25.8853 12.2942 22.749 14.1361 23.1391 17.1314L23.994 23.6738C24.0559 24.4374 23.5098 25.116 22.7506 25.2187L15.7552 26.738L6.70181 28.472C5.91928 28.6487 5.13341 28.1902 4.90193 27.4221L3.19046 20.8526C2.8122 19.4733 3.00572 17.9998 3.72743 16.7652Z" />
            <path d="M89.7299 68.475C89.715 68.436 89.6999 68.3986 89.6833 68.3641C89.5432 67.9913 89.3552 67.6384 89.1239 67.3142L70.0587 41.441C68.9249 39.9091 67.1333 39.0041 65.2275 39.0006H61.3277L60.0018 28.3918C59.9429 26.7779 58.6169 25.5004 57.002 25.5015H52.5023C50.8455 25.5015 49.5024 26.8445 49.5024 28.5013V40.5006C49.5024 41.329 50.1738 42.0004 51.0022 42.0004C51.8306 42.0004 52.5021 41.329 52.5021 40.5006V28.5013H57.0018C57.0013 28.5635 57.0053 28.6258 57.0137 28.6873L58.5136 40.6866C58.6074 41.4371 59.2451 42.0003 60.0015 42.0004H65.2271C66.1796 42.002 67.0753 42.4543 67.642 43.2199L85.5313 67.4988H73.5006C72.6722 67.4988 72.0007 68.1704 72.0007 68.9986C72.0007 69.827 72.6722 70.4985 73.5006 70.4985H86.9997V82.4977C86.9997 84.9828 84.9852 86.9974 82.5 86.9974H7.50542C5.02039 86.9974 3.00572 84.983 3.00572 82.4977V70.4985H66.0015C66.8299 70.4985 67.5014 69.8269 67.5014 68.9986C67.5014 68.1702 66.8299 67.4988 66.0015 67.4988H4.4741L22.3634 43.2199C22.9301 42.4543 23.8256 42.002 24.7783 42.0004H30.0039C30.7603 42.0003 31.3981 41.4369 31.4918 40.6866L32.9917 28.6873C33.0001 28.6256 33.0041 28.5635 33.0036 28.5013H37.5033V40.5006C37.5033 41.329 38.1748 42.0004 39.0032 42.0004H45.0027C45.8311 42.0004 46.5025 41.329 46.5025 40.5006C46.5025 39.6722 45.8311 39.0007 45.0027 39.0007H40.503V28.5015C40.503 26.8447 39.1599 25.5016 37.5031 25.5016H33.0034C31.3885 25.5006 30.0626 26.7781 30.0036 28.392L28.6792 39.0007H24.7794C22.8758 39.006 21.0866 39.9109 19.9541 41.4411L0.881895 67.3156C0.649352 67.6391 0.461278 67.9922 0.32242 68.3655C0.305898 68.3986 0.290958 68.436 0.275841 68.4734C0.100248 68.9579 0.00902323 69.4686 0.00585938 69.9838V82.4976C0.0107809 86.6373 3.36552 89.992 7.50542 89.9971H82.5005C86.6402 89.9922 89.995 86.6375 90.0001 82.4976V69.9838C89.9969 69.4693 89.9057 68.9589 89.7299 68.475Z" />
            <path d="M35.1188 50.2301C36.5001 49.4929 37.9757 48.9473 39.5044 48.6086C43.1256 47.8002 46.8805 47.8002 50.5016 48.6086C51.0245 48.7329 51.5739 48.5676 51.9418 48.1757C52.3097 47.7837 52.4396 47.2249 52.2825 46.7108C52.1253 46.1969 51.7051 45.8061 51.1809 45.6868C47.1126 44.7763 42.8932 44.7763 38.8247 45.6868C37.0288 46.0877 35.2959 46.7315 33.6741 47.6007C32.2523 48.3449 30.9992 49.3742 29.9933 50.6245C28.0048 53.0148 28.0048 56.4836 29.9933 58.8739C30.9992 60.1241 32.2523 61.1536 33.6741 61.8977C35.2961 62.7667 37.0288 63.4105 38.8247 63.8116C42.8925 64.7275 47.1131 64.7275 51.1809 63.8116C52.9768 63.4107 54.7097 62.7668 56.3315 61.8977C57.7533 61.1534 59.0064 60.1241 60.0123 58.8739C62.0008 56.4836 62.0008 53.0148 60.0123 50.6245C59.6903 50.1867 59.1565 49.9574 58.6172 50.0251C58.078 50.0928 57.6176 50.447 57.4137 50.9507C57.2098 51.4545 57.2945 52.0292 57.6348 52.4528C58.7905 53.7657 58.7905 55.7327 57.6348 57.0455C56.878 57.9639 55.9432 58.7201 54.887 59.2683C53.5057 60.0055 52.0301 60.5511 50.5014 60.8898C46.8802 61.6982 43.1252 61.6982 39.5042 60.8898C37.9759 60.5514 36.5008 60.0058 35.12 59.2683C34.0631 58.7203 33.1278 57.9643 32.3706 57.0455C31.2149 55.7327 31.2149 53.7657 32.3706 52.4528C33.1278 51.5345 34.0624 50.7785 35.1188 50.2301Z" />
        </svg>
        <h4 id="base-block1">КОНТАКТЫ</h4>
        <p id="base-text1" class="text-contact">
            @foreach (var item in Model.Contacts.PhonesList)
            {
                <b>@item.Label: </b>
                if (!string.IsNullOrEmpty(item.Link))
                {
                    <a href="@item.Link">@item.Value</a>
                }
                else
                {
                    @item.Value
                }
                <br />
            }
            @if (!string.IsNullOrEmpty(Model.Contacts.Email))
            {
                <span class="elem-svg">
                    <a href="mailto:@Model.Contacts.Email" target="_blank">
                        <svg class="icon-soc icon-soc-email">
                            <use href="#icon-email"></use>
                        </svg>
                    </a>
                </span>
            }
            @foreach (var item in Model.Contacts.SocialsList)
            {
                <span class="elem-svg">
                    <a href="@item.Link" target="_blank">
                        <svg class="icon-soc icon-soc-@item.Type.ToString().ToLower()">
                            <use href="#icon-@item.Type.ToString().ToLower()"></use>
                        </svg>
                    </a>
                </span>
            }
        </p>
    </div>
    <div class="base-box">
        <svg class="base-svg" width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#cliip0)">
                <path d="M15.0822 0C14.2534 0 13.5818 0.671539 13.5818 1.50032V5.99991H9.08226C4.94179 6.00472 1.58684 9.35966 1.58203 13.5001V75.0002C1.58684 79.14 4.94179 82.495 9.08226 82.4998H49.3588C50.9113 84.2301 52.7206 85.7112 54.7243 86.8902C54.7648 86.919 54.7888 86.9609 54.8321 86.9849C54.8808 87.009 54.931 87.0296 54.9818 87.0467C61.8578 90.9846 70.3056 90.9846 77.1817 87.0467C77.2332 87.0296 77.2833 87.009 77.3321 86.9849C77.3753 86.9609 77.3994 86.919 77.4399 86.8902C80.7337 84.9538 83.483 82.2148 85.4317 78.9285C85.4832 78.8729 85.5293 78.8132 85.5698 78.75C85.5897 78.7157 85.5897 78.6765 85.6062 78.6422C89.5777 71.7448 89.5777 63.2552 85.6062 56.3578C85.5972 56.3372 85.5959 56.3145 85.5849 56.2933V13.5001C85.5801 9.35966 82.2251 6.00472 78.0853 5.99991H73.5823V1.50032C73.5823 0.671539 72.9108 0 72.082 0C71.2539 0 70.5824 0.671539 70.5824 1.50032V5.99991H45.0817V1.50032C45.0817 0.671539 44.4102 0 43.5821 0C42.7533 0 42.0818 0.671539 42.0818 1.50032V5.99991H16.5818V1.50032C16.5818 0.671539 15.9103 0 15.0822 0V0ZM82.5822 52.2537C81.6648 51.2622 80.6609 50.3551 79.5822 49.5422V37.4998C79.5822 35.8429 78.2391 34.4998 76.5823 34.4998H12.0822C10.4253 34.4998 9.08226 35.8429 9.08226 37.4998V62.9997H4.58199V30.0002H82.5822V52.2537ZM54.9413 47.9773C54.9055 47.9958 54.8664 47.9938 54.8321 48.0151C54.7977 48.0357 54.7648 48.081 54.7243 48.1098C53.9834 48.5458 53.2686 49.0244 52.5819 49.5422V37.4998H63.0821V45.2232C60.2161 45.6056 57.4509 46.5408 54.9413 47.9773V47.9773ZM25.5824 70.5V61.5001H36.0818V70.5H25.5824ZM21.0821 70.5C21.0773 66.3602 17.7223 63.0052 13.5818 62.9997H12.0822V61.5001H22.5817V70.5H21.0821ZM36.0818 37.4998V46.5003H25.5824V37.4998H36.0818ZM49.582 37.4998V46.5003H39.0818V37.4998H49.582ZM46.6912 56.1422C46.6631 56.1827 46.6212 56.2067 46.5971 56.25C46.5731 56.2933 46.5772 56.3235 46.5607 56.3578C46.1604 57.052 45.7972 57.7668 45.4738 58.5001H39.0818V49.5003H49.582V52.2537C48.482 53.443 47.5131 54.7462 46.6912 56.1422V56.1422ZM12.0822 49.5003H22.5817V58.5001H12.0822V49.5003ZM25.5824 49.5003H36.0818V58.5001H25.5824V49.5003ZM22.5817 46.5003H12.0822V37.4998H22.5817V46.5003ZM13.5818 65.9997C16.0675 65.9997 18.0821 68.015 18.0821 70.5V77.3788L6.70303 65.9997H13.5818ZM39.0818 61.5001H44.4191C43.5759 64.4218 43.3665 67.4904 43.8052 70.5H39.0818V61.5001ZM66.0821 45V37.4998H76.5823V47.6147C73.3488 45.8961 69.7433 44.9986 66.0821 45ZM4.58199 75.0002V68.1207L15.9611 79.4998H9.08226C6.5966 79.4998 4.58199 77.4852 4.58199 75.0002ZM21.0821 79.4998V73.4999H44.4191C44.9155 75.2969 45.6351 77.0238 46.5607 78.6422C46.5772 78.6765 46.5772 78.7157 46.5971 78.75C46.6376 78.8132 46.6843 78.8729 46.7352 78.9285C46.8478 79.1208 46.9638 79.311 47.0812 79.4998H21.0821ZM77.0966 83.5757L76.3811 82.3398C76.1147 81.8715 75.6189 81.5824 75.0806 81.581C74.5422 81.5797 74.0444 81.8667 73.7766 82.3336C73.5081 82.8005 73.5109 83.3752 73.7828 83.8394L74.4907 85.0665C72.3237 86.1108 69.9808 86.7405 67.5817 86.9238V85.4997C67.5817 84.6716 66.9102 84.0001 66.0821 84.0001C65.2533 84.0001 64.5818 84.6716 64.5818 85.4997V86.9238C62.1833 86.7405 59.8398 86.1108 57.6727 85.0665L58.3813 83.8394C58.6533 83.3752 58.656 82.8005 58.3875 82.3336C58.1197 81.8667 57.6219 81.5797 57.0836 81.581C56.5453 81.5824 56.0488 81.8715 55.7831 82.3398L55.0676 83.5757C53.0853 82.2128 51.3693 80.4968 50.0063 78.5145L51.2423 77.799C51.7106 77.5333 51.9997 77.0368 52.001 76.4985C52.0024 75.9602 51.7147 75.4623 51.2485 75.1945C50.7816 74.9261 50.2068 74.9288 49.7427 75.2007L48.5156 75.9087C47.4712 73.7416 46.8416 71.3988 46.6582 69.0003H48.0824C48.9104 69.0003 49.582 68.3281 49.582 67.5C49.582 66.6719 48.9104 65.9997 48.0824 65.9997H46.6582C46.8416 63.6012 47.4712 61.2584 48.5156 59.0913L49.7427 59.7993C50.2068 60.0712 50.7816 60.0739 51.2485 59.8055C51.7147 59.5377 52.0024 59.0398 52.001 58.5015C51.9997 57.9632 51.7106 57.4667 51.2423 57.201L50.0063 56.4855C51.3693 54.5032 53.0853 52.7872 55.0676 51.4243L55.7831 52.6602C56.0488 53.1285 56.5453 53.4176 57.0836 53.419C57.6219 53.4203 58.1197 53.1333 58.3875 52.6664C58.656 52.1995 58.6533 51.6248 58.3813 51.1606L57.6727 49.9335C59.8398 48.8892 62.1833 48.2595 64.5818 48.0762V49.5003C64.5818 50.3284 65.2533 50.9999 66.0821 50.9999C66.9102 50.9999 67.5817 50.3284 67.5817 49.5003V48.0762C69.9808 48.2595 72.3237 48.8892 74.4907 49.9335L73.7828 51.1606C73.5109 51.6248 73.5081 52.1995 73.7766 52.6664C74.0444 53.1333 74.5422 53.4203 75.0806 53.419C75.6189 53.4176 76.1147 53.1285 76.3811 52.6602L77.0966 51.4243C79.0789 52.7872 80.7948 54.5032 82.1578 56.4855L80.9219 57.201C80.4536 57.4667 80.1638 57.9632 80.1631 58.5015C80.1617 59.0398 80.4488 59.5377 80.9157 59.8055C81.3826 60.0739 81.9573 60.0712 82.4215 59.7993L83.6485 59.0913C84.6929 61.2584 85.3226 63.6012 85.5052 65.9997H84.0818C83.2537 65.9997 82.5822 66.6719 82.5822 67.5C82.5822 68.3281 83.2537 69.0003 84.0818 69.0003H85.5052C85.3226 71.3988 84.6929 73.7416 83.6485 75.9087L82.4215 75.2007C81.9573 74.9288 81.3826 74.9261 80.9157 75.1945C80.4488 75.4623 80.1617 75.9602 80.1631 76.4985C80.1638 77.0368 80.4536 77.5333 80.9219 77.799L82.1578 78.5145C80.7948 80.4968 79.0789 82.2128 77.0966 83.5757V83.5757ZM42.0818 8.99986V12.2127C39.1566 12.9687 37.2491 15.7812 37.6295 18.7784C38.0106 21.7756 40.5608 24.0223 43.5821 24.0223C46.6033 24.0223 49.1535 21.7756 49.5339 18.7784C49.915 15.7812 48.0075 12.9687 45.0817 12.2127V8.99986H70.5824V12.2127C67.6566 12.9687 65.7491 15.7812 66.1301 18.7784C66.5105 21.7756 69.0607 24.0223 72.082 24.0223C75.1032 24.0223 77.6534 21.7756 78.0345 18.7784C78.4149 15.7812 76.5074 12.9687 73.5823 12.2127V8.99986H78.0819C80.5676 8.99986 82.5822 11.0145 82.5822 13.5001V27.0003H4.58199V13.5001C4.58199 11.0145 6.5966 8.99986 9.08226 8.99986H13.5818V12.2127C10.6567 12.9687 8.74924 15.7812 9.12964 18.7784C9.51073 21.7756 12.0609 24.0223 15.0822 24.0223C18.1034 24.0223 20.6536 21.7756 21.034 18.7784C21.4151 15.7812 19.5076 12.9687 16.5818 12.2127V8.99986H42.0818ZM43.5821 17.9997C44.4102 17.9997 45.0817 17.3282 45.0817 16.5001V15.4173C46.2579 16.0957 46.8313 17.4799 46.4797 18.7914C46.1282 20.1029 44.9396 21.0148 43.5821 21.0148C42.2239 21.0148 41.036 20.1029 40.6844 18.7914C40.3329 17.4799 40.9062 16.0957 42.0818 15.4173V16.5001C42.0818 17.3282 42.7533 17.9997 43.5821 17.9997ZM72.082 17.9997C72.9108 17.9997 73.5823 17.3282 73.5823 16.5001V15.4173C74.7578 16.0957 75.3312 17.4799 74.9796 18.7914C74.6281 20.1029 73.4402 21.0148 72.082 21.0148C70.7245 21.0148 69.5359 20.1029 69.1843 18.7914C68.8328 17.4799 69.4061 16.0957 70.5824 15.4173V16.5001C70.5824 17.3282 71.2539 17.9997 72.082 17.9997V17.9997ZM15.0822 17.9997C15.9103 17.9997 16.5818 17.3282 16.5818 16.5001V15.4173C17.758 16.0957 18.3314 17.4799 17.9798 18.7914C17.6283 20.1029 16.4397 21.0148 15.0822 21.0148C13.724 21.0148 12.5354 20.1029 12.1845 18.7914C11.833 17.4799 12.4063 16.0957 13.5818 15.4173V16.5001C13.5818 17.3282 14.2534 17.9997 15.0822 17.9997Z" />
                <path d="M70.1321 69.4273C70.426 68.8272 70.5798 68.168 70.5826 67.4999C70.5743 65.5999 69.3741 63.9094 67.5819 63.2757V55.5001C67.5819 54.6713 66.9104 53.9998 66.0823 53.9998C65.2535 53.9998 64.582 54.6713 64.582 55.5001V63.2757C62.5172 64.0035 61.2785 66.1136 61.6493 68.271C62.0201 70.4284 63.8933 72.0043 66.0823 72.0002C66.7504 71.9974 67.4096 71.8436 68.0097 71.5497L74.022 77.562C74.6104 78.1305 75.5456 78.1223 76.1245 77.5435C76.7033 76.9653 76.7109 76.0294 76.143 75.441L70.1321 69.4273ZM64.582 67.4999C64.5827 66.8235 65.0365 66.231 65.6895 66.0538C66.3425 65.8767 67.0333 66.1582 67.3759 66.7418C67.7186 67.3255 67.6279 68.0664 67.1548 68.5498H67.1322L67.1205 68.5676C66.6886 68.9817 66.0521 69.0998 65.5007 68.8677C64.9486 68.6356 64.5881 68.098 64.582 67.4999Z" />
            </g>
        </svg>
        <h4 id="base-blockk2">ГРАФИК РАБОТЫ</h4>
        <p id="base-text2">
            @foreach (var item in Model.Contacts.ScheduleList)
            {
                <b>@item.Label: </b>@item.Value<br />
            }
        </p>
        <button id="btn-base2" class="base-btn">УЗНАТЬ БОЛЬШЕ</button>
    </div>
    <div class="base-box">
        <svg class="base-svg" width="90" height="90" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.5266 61.6069C33.2331 66.8328 36.9337 71.5069 39.3862 74.5173C39.7432 74.9554 40.0777 75.3618 40.4017 75.7533H33.0007C32.1723 75.7533 31.5008 76.4247 31.5008 77.2532C31.5008 78.0817 32.1723 78.7532 33.0007 78.7532H57.0006C57.8291 78.7532 58.5006 78.0817 58.5006 77.2532C58.5006 76.4247 57.8291 75.7533 57.0006 75.7533H49.5997C49.9236 75.3618 50.2581 74.9552 50.6167 74.5173C53.0677 71.5173 56.7668 66.8328 60.4748 61.6069C64.1537 56.5259 67.4651 51.1888 70.3838 45.6364C73.4468 39.6213 75.0009 34.6278 75.0009 30.7939C75.011 22.8272 71.8498 15.1842 66.2153 9.5522C65.8389 9.16196 65.2813 9.00516 64.7568 9.1421C64.2323 9.27903 63.8224 9.68825 63.6847 10.2126C63.5471 10.737 63.703 11.2947 64.0927 11.6716C69.1644 16.7419 72.0098 23.6221 72.0008 30.7937C72.0008 34.1508 70.5578 38.6866 67.7108 44.2742C64.8581 49.698 61.6217 54.9113 58.0268 59.8743C54.3699 65.0328 50.7143 69.6543 48.2918 72.6243C47.4864 73.6114 46.7618 74.4843 46.1438 75.2224C45.8553 75.5518 45.4387 75.7406 45.0009 75.7406C44.563 75.7406 44.1464 75.5516 43.8579 75.2224C43.2399 74.4845 42.5155 73.6114 41.7099 72.6243C39.2874 69.6559 35.6319 65.0342 31.9749 59.8743C28.38 54.9113 25.1436 49.698 22.2909 44.2742C19.4409 38.6866 18.0009 34.1508 18.0009 30.7937C18 19.9288 24.4976 10.117 34.501 5.87712C41.2226 3.05863 48.7946 3.05863 55.5161 5.87712C56.0097 6.0863 56.5773 6.01652 57.0054 5.69361C57.4334 5.37087 57.6566 4.84423 57.5911 4.31214C57.5255 3.78004 57.1811 3.32336 56.6875 3.11418C41.4124 -3.32858 23.8065 3.82821 17.359 19.1012C15.7954 22.8007 14.9935 26.7774 15.001 30.7937C15.001 34.6277 16.5551 39.6213 19.6181 45.6437C22.5365 51.1937 25.848 56.5283 29.5266 61.6069Z" />
            <path d="M45.0008 17.2533C45.8293 17.2533 46.5008 16.5818 46.5008 15.7534C46.5008 14.9249 45.8293 14.2534 45.0008 14.2534C37.8448 14.2532 31.685 19.3084 30.2888 26.327C28.8925 33.3456 32.6488 40.373 39.2602 43.1117C45.8715 45.8504 53.4967 43.5373 57.4726 37.5872C61.4484 31.6372 60.6674 23.7071 55.6074 18.6469C55.2306 18.257 54.6731 18.1006 54.1485 18.2379C53.6242 18.3752 53.2146 18.7847 53.0773 19.3091C52.94 19.8336 53.0965 20.3912 53.4864 20.7679C57.5346 24.816 58.1595 31.1598 54.9791 35.92C51.7987 40.6801 45.6985 42.5308 40.4094 40.3402C35.1203 38.1496 32.1152 32.5277 33.2317 26.9127C34.3483 21.2977 39.276 17.2535 45.0008 17.2533Z"/>
            <path d="M89.4353 82.6099L80.2103 66.1098C79.3762 64.6438 77.8154 63.7427 76.1288 63.7533H65.4383C64.6098 63.7533 63.9383 64.4248 63.9383 65.2532C63.9383 66.0817 64.6098 66.7532 65.4383 66.7532H76.1288C76.7293 66.7416 77.2895 67.0546 77.5943 67.5721L86.8163 84.0723C87.0675 84.5015 87.0622 85.034 86.8028 85.4583C86.4964 85.9645 85.9423 86.2678 85.3508 86.2534H4.6506C4.05962 86.2674 3.50626 85.964 3.20005 85.4583C2.9406 85.034 2.9355 84.5015 3.18651 84.0723L12.4086 67.5721C12.7128 67.0548 13.2725 66.7417 13.8725 66.7532H24.563C25.3915 66.7532 26.0629 66.0817 26.0629 65.2532C26.0629 64.4248 25.3915 63.7533 24.563 63.7533H13.8726C12.1851 63.7422 10.6231 64.6433 9.78818 66.1098L0.564551 82.6099C-0.204494 83.9684 -0.18674 85.6348 0.611134 86.9765C1.45172 88.4053 2.99315 89.2742 4.6506 89.2536H85.3508C87.0078 89.2736 88.5487 88.4049 89.3889 86.9765C90.1868 85.6346 90.2045 83.9684 89.4353 82.6099Z"/>
            <path d="M73.5013 71.2534H67.5013C67.2051 71.2539 66.9156 71.3415 66.6688 71.5055L62.1688 74.5056C61.4796 74.9654 61.2936 75.8969 61.7533 76.5861C62.2131 77.2754 63.1446 77.4613 63.8338 77.0017L67.9513 74.2537H73.5013C74.3298 74.2537 75.0013 73.582 75.0013 72.7537C75.0013 71.9249 74.3298 71.2534 73.5013 71.2534Z"/>
            <path d="M64.501 81.7534C64.501 82.5818 65.1725 83.2533 66.0009 83.2533H78.001C78.8295 83.2533 79.501 82.5818 79.501 81.7534C79.501 80.9249 78.8295 80.2534 78.001 80.2534H66.0009C65.1725 80.2534 64.501 80.9249 64.501 81.7534Z"/>
            <path d="M26.9999 77.2533C27.6612 77.2542 28.245 76.8218 28.4371 76.189C28.6293 75.5561 28.3842 74.8722 27.834 74.5053L23.334 71.5052C23.0868 71.3411 22.7966 71.2533 22.4999 71.2532H16.4999C15.6715 71.2532 15 71.9248 15 72.7531C15 73.5816 15.6717 74.2531 16.4999 74.2531H22.0499L26.172 77.0011C26.4172 77.1649 26.7053 77.2526 26.9999 77.2533Z"/>
            <path d="M12.0009 80.2534C11.1725 80.2534 10.501 80.9249 10.501 81.7534C10.501 82.5818 11.1725 83.2533 12.0009 83.2533H24.001C24.8295 83.2533 25.501 82.5818 25.501 81.7534C25.501 80.9249 24.8295 80.2534 24.001 80.2534H12.0009Z"/>
        </svg>

        <h4 id="base-blockk-ad">ПОЧТОВЫЙ АДРЕС</h4>
        <p id="base-text-ad">
            @Model.Contacts.Address
        </p>
    </div>
}
