@model ContactsViewModel
@*@if (Model.FullContactsGroups != null && Model.FullContactsGroups.Any())
    {
        <h2>Наши контакты</h2>
        <hr>
        <br>
        foreach (var group in Model.FullContactsGroups)
        {
            <h4>@group.Title</h4>
            foreach (var item in group.Items)
            {
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <p class="littext">@item.Label</p>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6">
                        @if (String.IsNullOrEmpty(item.Link))
                        {
                            <p class="littext">@item.Value</p>
                        }
                        else
                        {
                            <p class="littext"><a href="@item.Link" class="link2">@item.Value</a></p>
                        }
                    </div>
                </div>
            }
            <br>
        }
    }

    @if (Model.ProjectsList != null && Model.ProjectsList.Any())
    {
        <h2>Наши проекты</h2>
        <hr>
        foreach (var item in Model.ProjectsList)
        {
            if (String.IsNullOrEmpty(item.Link))
            {
                <p>@item.Value</p>
            }
            else
            {
                <p><a href="@item.Link" class="link2">@item.Value</a></p>
            }
        }
        <br>
    }
    @if (Model.PartnersList != null && Model.PartnersList.Any())
    {
        <h2>Наши партнеры</h2>
        <hr>
        foreach (var item in Model.PartnersList)
        {
            if (String.IsNullOrEmpty(item.Link))
            {
                <p>@item.Value</p>
            }
            else
            {
                <p><a href="@item.Link" class="link2">@item.Value</a></p>
            }
        }
    }*@

@if (Model != null && Model.Contacts != null)
{
    <div class="base-box">
        <svg>
            <use xlink:href="#icon-card-phone"></use>
        </svg>
        <h4 id="base-block1">КОНТАКТЫ</h4>
        <p id="base-text1" class="text-contact">
            @foreach (var item in Model.Contacts.PhonesList)
            {
                <b>@item.Label: </b>
                if (!string.IsNullOrEmpty(item.Link))
                {
                    <a href="@item.Link">@item.Value</a>
                }
                else
                {
                    @item.Value
                }
                <br />
            }
        </p>
        <div class="svg-boxes">
            @if (!string.IsNullOrEmpty(Model.Contacts.Email))
            {
                    <a href="mailto:@Model.Contacts.Email" target="_blank">
                        <svg class="social-icon email">
                            <use href="#icon-email"></use>
                        </svg>
                    </a>
            }
            @foreach (var item in Model.Contacts.SocialsList)
            {
                    <a href="@item.Link" target="_blank">
                        <svg class="social-icon @item.Type.ToString().ToLower()">
                            <use href="#icon-@item.Type.ToString().ToLower()"></use>
                        </svg>
                    </a>
            }
        </div>
    </div>
    <div class="base-box">
        <svg>
            <use xlink:href="#icon-card-calendar"></use>
        </svg>
        <h4 id="base-blockk2">ГРАФИК РАБОТЫ</h4>
        <p id="base-text2">
            @foreach (var item in Model.Contacts.ScheduleList)
            {
                <b>@item.Label: </b>@item.Value<br />
            }
        </p>
        <button id="btn-base2" class="base-btn">УЗНАТЬ БОЛЬШЕ</button>
    </div>
    <div class="base-box">
        <svg>
            <use xlink:href="#icon-card-geolocation"></use>
        </svg>
        <h4 id="base-blockk-ad">ПОЧТОВЫЙ АДРЕС</h4>
        <p id="base-text-ad">
            @Model.Contacts.Address
        </p>
    </div>
}
