@using Microsoft.AspNetCore.Http
@using Pras.Web.Models.Forms
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.MetaDescription">
    <title>@ViewBag.Title | Sila FM</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/site2/css/fm.revealator.jquery.min.css">
        <link rel="stylesheet" href="~/site2/css/style.css">
        <link rel="stylesheet" href="~/site2/css/dev.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/site2/css/fm.revealator.jquery.min.css">
        <link rel="stylesheet" href="~/site2/css/style.css">
        <link rel="stylesheet" href="~/site2/css/dev.css">
    </environment>
    @RenderSection("Styles", false)
</head>

<body data-ng-app="clientApp" class="@ViewBag.BodyClass">
    <!-- <div id="preloader" class="visible">
    </div> -->
    @Html.Partial("_SvgStore")
    <header>
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="menu-logo-link">
                <img class="menu-logo" src="~/site2/img/SilaFM_logo.png" alt="logo-Sila-FM">
            </a>
            <ul class="menu">
                <li class="menu-item dropbtn">
                    <a href="@Url.Action("Speakers", "Home")">
                        <svg class="icon-menu-triangle triangle">
                            <use xlink:href="#icon-triangle"></use>
                        </svg>
                        Дикторы
                    </a>
                    <div class="dropdown-content">
                        <ul class="content-items">
                            <li class="down-item"><a href="@Url.Action("SpeakersRu", "Home")">Дикторы россии</a></li>
                            <li class="down-item"><a href="@Url.Action("SpeakersUk", "Home")">Дикторы Украины</a></li>
                            <li class="down-item"><a href="@Url.Action("SpeakersFor", "Home")">Иностранные дикторы</a></li>
                            <li class="down-item"><a href="@Url.Action("SpeakersVocalists", "Home")">Вокалисты</a></li>
                            <li class="down-item"><a href="@Url.Action("SpeakersParodists", "Home")">Пародисты</a></li>
                            <li class="down-item"><a href="@Url.Action("SpeakersChild", "Home")">Детские голоса</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item dropbtn">
                    <a href="#">
                        <svg class="icon-menu-triangle triangle">
                            <use xlink:href="#icon-triangle"></use>
                        </svg>
                        Услуги
                    </a>
                    <div class="dropdown-content">
                        <ul class="content-items">
                            <li class="down-item"><a href="@Url.Action("Scenario", "Home")">Сценарии</a></li>
                            <li class="down-item"><a href="@Url.Action("Audio", "Home")">Аудиоролики</a></li>
                            <li class="down-item"><a href="@Url.Action("Games", "Home")">Озвучивание игр, сказок, квестов</a></li>
                            <li class="down-item"><a href="@Url.Action("Video", "Home")">Озвучивание видеороликов</a></li>
                            <li class="down-item"><a href="@Url.Action("VideoCreating", "Home")">Создание видеороликов</a></li>
                            <li class="down-item"><a href="@Url.Action("Music", "Home")">Музыкальные подложки</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item"><a href="@Url.Action("Payment", "Home")">Оплата</a></li>
                <li class="menu-item"><a href="@Url.Action("Contact", "Home")">Контакты</a></li>
            </ul>
            @await Component.InvokeAsync("HeaderPhones")
            <div class="burger">
                <div id="myNav" class="overlay">
                    <button type="button" class="closebtn"></button>
                    <div class="overlay-content">
                        <div class="dropdown-burger">
                            <a class="for-droptmenu dropbtn-burger">
                                <svg class="menu-polygon-burger">
                                    <use xlink:href="#icon-triangle"></use>
                                </svg>
                                Дикторы
                            </a>
                            <div class="dropdown-content-burger">
                                <a href="@Url.Action("SpeakersRu", "Home")">Дикторы россии</a>
                                <a href="@Url.Action("SpeakersUk", "Home")">Дикторы Украины</a>
                                <a href="@Url.Action("SpeakersFor", "Home")">Иностранные дикторы</a>
                                <a href="@Url.Action("SpeakersVocalists", "Home")">Вокалисты</a>
                                <a href="@Url.Action("SpeakersParodists", "Home")">Пародиств</a>
                                <a href="@Url.Action("SpeakersChild", "Home")">Детские голоса</a>
                            </div>
                        </div>
                        <div class="dropdown-burger">
                            <a class="for-droptmenu dropbtn-burger">
                                <svg class="menu-polygon-burger">
                                    <use xlink:href="#icon-triangle"></use>
                                </svg>
                                Услуги
                            </a>
                            <div class="dropdown-content-burger">
                                <a href="@Url.Action("Scenario", "Home")">Сценарии</a>
                                <a href="@Url.Action("Audio", "Home")">Аудиоролики</a>
                                <a href="@Url.Action("Games", "Home")">Озвучивание игр, сказок, квестов</a>
                                <a href="@Url.Action("Video", "Home")">Озвучивание видеороликов</a>
                                <a href="@Url.Action("VideoCreating", "Home")">Создание видеороликов</a>
                                <a href="@Url.Action("Music", "Home")">Музыкальные подложки</a>
                            </div>
                        </div>
                        <a href="@Url.Action("Payment", "Home")">Оплата</a>
                        <a href="@Url.Action("Contact", "Home")">Контакты</a>
                        @await Component.InvokeAsync("BurgerPhones")
                    </div>
                </div>
                <p class="icon-menu"><span class="iconmenu"></span></p>
            </div>
        </div>
    </header>
    <main id="menu">
        @RenderBody()
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </main>
    @Html.Partial("_OrderModal")
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="~/site2/js/revealator-master/fm.revealator.jquery.js"></script>
    <script src="~/site2/js/index.js"></script>
    <script src="~/site2/js/common.js"></script>
    <script src="~/site2/js/hronomer.js"></script>
    <script src="~/site2/js/pagemer.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
    <script src="~/angular/angular.js"></script>
    <script src="~/angular/controllers/client/clientApp.js"></script>
    <script src="~/angular/controllers/client/callController.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>