<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <li> <a href="@Url.Action("Index", "Home")">Главная</a> </li>
            <li>
                <a href="#">Дикторы</a>
                <ul class="cbp-hssubmenu">
                    <li> <a href="@Url.Action("SpeakersRu", "Home")"><img src="~/site/img/ruman.png" alt="img07" /><span>Дикторы России</span></a> </li>
                    <li> <a href="@Url.Action("SpeakersUk", "Home")"><img src="~/site/img/uaman.png" alt="img08" /><span>Дикторы Украины</span></a> </li>
                    <li> <a href="@Url.Action("SpeakersFor", "Home")"><img src="~/site/img/foreigner.png" alt="img09" /><span>Иностранные дикторы</span></a> </li>
                    <li> <a href="@Url.Action("SpeakersVocalists", "Home")"><img src="~/site/img/songer.png" alt="img10" /><span>Вокалисты</span></a> </li>
                    <li> <a href="@Url.Action("SpeakersParodists", "Home")"><img src="~/site/img/parodies.png" alt="img01" /><span>Пародисты</span></a> </li>
                    <li> <a href="@Url.Action("SpeakersChild", "Home")"><img src="~/site/img/child.png" alt="img02" /><span>Детские голоса</span></a> </li>
                </ul>
            </li>
            <li>
                <a href="#">Услуги</a>
                <ul class="cbp-hssubmenu">
                    <li> <a href="@Url.Action("Scenario", "Home")"><img src="~/site/img/print.png" alt="img06" /><span>Сценарии</span></a> </li>
                    <li> <a href="@Url.Action("Audio", "Home")"><img src="~/site/img/radio_c.png" alt="img06" /><span>Аудиролики</span></a> </li>
                    <li> <a href="@Url.Action("Games", "Home")"><img src="~/site/img/game.png" alt="img09" /><span>Озвучивание игр, сказок и квестов</span></a> </li>
                    <li> <a href="@Url.Action("Video", "Home")"><img src="~/site/img/tv_c.png" alt="img06" /><span>Озвучивание видеороликов</span></a> </li>
                    <li> <a href="@Url.Action("VideoCreating", "Home")"><img src="~/site/img/film_c.png" alt="img09" /><span>Создание видеороликов</span></a> </li>
                    <li> <a href="@Url.Action("Music", "Home")"><img src="~/site/img/vinil.png" alt="img09" /><span>Музыкальные подложки</span></a> </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Payment", "Home")">Оплата</a></li>
            <li><a href="@Url.Action("Contact", "Home")">Контакты</a></li>
        </ul>
    </div>
</nav>