@model Pras.Web.Models.Forms.AudioOrderFormModel

<form action="order-audio" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <p class="field-validation-error">@TempData["ErrorAudio"]</p>
    <div class="form-group">
        <label for="Type" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Type)</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Type, new SelectList(Model.ListTypes.ToDictionary(p => p, p => p), "Key", "Value", Model.Type), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
    </div>

    <div class="form-group">
        <label for="Voice" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Voice)</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model=>model.Voice, new SelectList(Model.ListVoices.ToDictionary(p=>p, p=>p), "Key", "Value", Model.Voice), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Voice)
        </div>
    </div>
    <div class="form-group">
        <label for="Style" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Style)</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Style, new SelectList(Model.ListStyles.ToDictionary(p => p, p => p), "Key", "Value", Model.Style), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Style)
        </div>
    </div>
    <div class="form-group">
        <label for="Count" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Count)</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Count, new { @class = "form-control", placeholder = "сколько дикторов" })
            @Html.ValidationMessageFor(model => model.Count)
        </div>
    </div>
    <div class="form-group">
        <label for="dic1" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SpeakerName)</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.SpeakerName, new { @class = "form-control", placeholder = "Имя Фамилия" })
            @Html.ValidationMessageFor(model => model.SpeakerName)
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.StudioChoice)
                    <p>@Html.DisplayNameFor(model => model.StudioChoice)</p>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Comments)</label>
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", rows = 3 })
            @Html.ValidationMessageFor(model => model.Comments)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Text)</label>
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = 8 })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
    </div>
    <div class="form-group">
        <label for="time2" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Timing)</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Timing, new { @class = "form-control", placeholder = "укажите хронометраж или темп начитки (быстро, медленно)" })
            @Html.ValidationMessageFor(model => model.Timing)
            <a href="@Url.Action("Chronomer", "Home")" target="_blank" class="small">проверить хронометраж <span class="glyphicon glyphicon-time"></span></a>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsFreeTiming)
                    <p>@Html.DisplayNameFor(model => model.IsFreeTiming)</p>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="format" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Parameters)</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Parameters, new SelectList(Model.ListParameters.ToDictionary(p => p, p => p), "Key", "Value", Model.Parameters), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Parameters)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <label>Прикрепите файл</label>
            @Html.TextBoxFor(model => model.File, new { @type = "file", title = "Выберите файл" })
            <p class="help-block">не более 3мб</p>
            @Html.ValidationMessageFor(model => model.File)
        </div>
    </div>

    <div class="form-group">
        <label for="Code" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Code)</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", placeholder = "Код скидки" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "почта, куда будет отправлен заказ" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="form-group">
        <label for="Payment" class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Payment)</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Payment, new SelectList(Model.ListPayments.ToDictionary(p => p, p => p), "Key", "Value", Model.Payment), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Payment)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            @*<form action="http://www.SnapHost.com/captcha/send.aspx" method="post" id="myform">
                <input type="hidden" id="skip_WhereToSend" name="skip_WhereToSend" value="info@sila.fm" />
                <input type="hidden" id="skip_Subject" name="skip_Subject" value="Test inline zakaz" />
                <input type="hidden" id="skip_WhereToReturn" name="skip_WhereToReturn" value="www.yourdomain.com/thankyou.htm" />
                <input type="hidden" id="skip_SnapHostID" name="skip_SnapHostID" value="LZR9DPCMJMGW" />
                гуглкапча
            </form>*@
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Сделать заказ</button>
        </div>
    </div>
</form>