@*<h2>Доступные голоса</h2><br>
    <nav id="choose">
        <ul>
            <li><a href="@Url.Action("SpeakersRu", "Home")#ex1">Мужские голоса. Дикторы России</a></li>
            <li><a href="@Url.Action("SpeakersRu", "Home")#ex2">Женские голоса. Дикторы России</a></li>
            <li><a href="@Url.Action("SpeakersFederal", "Home")#ex3">Федеральные дикторы России. Мужские голоса</a></li>
            <li><a href="@Url.Action("SpeakersFederal", "Home")#ex4">Федеральные дикторы России. Женские голоса</a></li>
            <li><a href="@Url.Action("SpeakersFor", "Home")#ex1">Иностранные мужские голоса</a></li>
            <li><a href="@Url.Action("SpeakersFor", "Home")#ex2">Иностранные женские голоса</a></li>
            <li><a href="@Url.Action("SpeakersUk", "Home")#ex1">Мужские голоса. Дикторы Украины</a></li>
            <li><a href="@Url.Action("SpeakersUk", "Home")#ex2">Женские голоса. Дикторы Украины</a></li>
            <li><a href="@Url.Action("SpeakersChild", "Home")">Детские голоса от 5-ти до 14 лет</a></li>
            <li><a href="@Url.Action("SpeakersParodists", "Home")">Пародисты и актеры</a></li>
            <li><a href="@Url.Action("SpeakersVocalists", "Home")">Вокалисты</a></li>
            <li><a href="@Url.Action("SpeakersVip", "Home")">VIP-голоса</a></li>
        </ul>
    </nav>
    <br />
    <h4>Оформить заказ</h4>
    <p>
        Чтобы заказать начитку диктора, достаточно воспользоваться формой <a href="@Url.Action("Order", "Home")" target="_blank"> онлайн-заказа</a>, либо выслать текст на электронный адрес: <a href="mailto: info@sila.fm?subject=Заказ голоса">info@sila.fm </a>
    </p>
    <div class="btn-group btn-group-justified">
        <a href="@Url.Action("Order", "Home")" target="_blank" class="btn btn-success" role="button">Онлайн-заказ</a>
        <a href="@Url.Action("ChoiceSpeaker", "Home")" target="_blank" class="btn btn-success" role="button">Подбор диктора</a>
        <a href="@Url.Action("IdentifyVoice", "Home")" target="_blank" class="btn btn-success" role="button">Опознать диктора</a>
    </div>*@

<section class="example-audio">
    <div class="example-block">
        <hr class="hr-for-slider">
        <p class="txt-about-us txt-audioslot">ВСЕ Доступные голоса</p>

        <ul class="audio-list" data-ng-init="tab='all'">
            <li class="audio-list__item" data-ng-click="tab='all'" data-ng-class="{'active':tab=='all'}">все</li>
            <li class="audio-list__item" data-ng-click="tab='man'" data-ng-class="{'active':tab=='man'}">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="#969cad" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="M29.5098 32.2705C29.3017 32.2705 29.133 32.4392 29.133 32.6472V34.0799H26.8899V31.1404C26.8899 30.9323 26.7213 30.7637 26.5132 30.7637C26.3051 30.7637 26.1365 30.9323 26.1365 31.1404V34.0799H17.7128V31.1404C17.7128 30.9323 17.5441 30.7637 17.3361 30.7637C17.1281 30.7637 16.9594 30.9323 16.9594 31.1404V34.0799H14.7163V30.4172C14.7163 29.5876 14.8971 28.7909 15.2536 28.0493C15.3437 27.8618 15.2648 27.6367 15.0773 27.5465C14.8898 27.4564 14.6647 27.5354 14.5745 27.7229C14.1687 28.5671 13.9629 29.4737 13.9629 30.4172V34.4566C13.9629 34.6646 14.1316 34.8333 14.3396 34.8333H29.5098C29.7179 34.8333 29.8865 34.6646 29.8865 34.4566V32.6472C29.8865 32.4392 29.7179 32.2705 29.5098 32.2705Z" />
                        <path d="M24.5015 24.248C25.5643 23.6272 26.3848 22.6349 26.7833 21.4504C26.801 21.4509 26.8186 21.4518 26.8363 21.4518C27.9169 21.4518 28.796 20.5726 28.796 19.492C28.796 19.1904 28.7274 18.9045 28.6051 18.649C29.466 16.1267 29.4286 14.1447 28.4922 12.7572C27.5288 11.3296 25.9216 10.9969 25.3259 10.9212C25.0323 10.4002 24.0747 9.16675 21.588 9.16675C20.3737 9.16675 19.3734 9.32476 18.4059 9.47756C17.0724 9.6882 15.9207 9.87012 14.4991 9.59085C14.292 9.54548 14.0749 9.70234 14.0527 9.91314C14.0476 9.95389 13.9264 10.9262 13.9339 12.2543C13.9351 12.4616 14.1035 12.6288 14.3106 12.6288H14.3128C14.5209 12.6276 14.6886 12.458 14.6874 12.25C14.6829 11.4627 14.7265 10.7965 14.7608 10.3998C16.1326 10.5994 17.2972 10.4155 18.5236 10.2218C19.4623 10.0735 20.433 9.9202 21.5881 9.9202C24.1205 9.9202 24.7048 11.3482 24.7271 11.4056C24.7795 11.5483 24.9123 11.6456 25.0641 11.6523C25.0824 11.6531 26.9035 11.7497 27.8678 13.1786C28.6114 14.2804 28.6686 15.8829 28.0405 17.9475C27.7607 17.7289 27.4206 17.5844 27.0494 17.5441V16.6606C27.0494 16.5168 26.9675 16.3855 26.8384 16.3223C25.4157 15.6251 25.0036 14.17 24.9999 14.1565C24.9494 13.9491 24.7106 13.823 24.5109 13.8982C22.0372 14.769 20.2387 14.6585 19.1656 14.4122C18.01 14.1471 17.4244 13.6723 17.4201 13.6688C17.1892 13.461 16.7905 13.6464 16.8008 13.957V17.5441C16.5287 17.5736 16.2733 17.6593 16.046 17.789C15.3592 16.9137 14.9146 15.518 14.7546 13.7233C14.7362 13.516 14.5526 13.3625 14.346 13.3815C14.1387 13.3999 13.9857 13.5829 14.0042 13.7902C14.1811 15.7753 14.6753 17.2834 15.4744 18.2814C15.2115 18.6149 15.0539 19.0353 15.0539 19.4921C15.0539 20.5727 15.9331 21.4518 17.0137 21.4518C17.0313 21.4518 17.049 21.4509 17.0666 21.4505C17.4652 22.6349 18.2855 23.6272 19.3483 24.248C17.8437 24.4525 16.4575 25.2015 15.4562 26.3721C15.3209 26.5302 15.3395 26.768 15.4976 26.9033C15.6557 27.0385 15.8935 27.02 16.0287 26.8619C16.5718 26.227 17.2437 25.7336 17.9892 25.4062L19.4105 28.8633C19.4921 29.0758 19.7714 29.1647 19.961 29.038L21.5482 28.0292V30.4345C21.5482 30.6426 21.7169 30.8113 21.9249 30.8113C22.133 30.8113 22.3016 30.6426 22.3016 30.4345V28.0292L23.8889 29.038C24.0785 29.1648 24.3578 29.0758 24.4393 28.8634L25.8605 25.4066C27.7859 26.2552 29.1335 28.1817 29.1335 30.4173V31.1405C29.1335 31.3485 29.3021 31.5172 29.5102 31.5172C29.7183 31.5172 29.8869 31.3485 29.8869 31.1405V30.4173C29.8868 27.2693 27.5383 24.6599 24.5015 24.248ZM21.9248 26.6877L20.7015 24.9444H23.1481L21.9248 26.6877ZM28.0426 19.492C28.0426 20.1102 27.5751 20.621 26.975 20.6901C27.0236 20.4072 27.0492 20.1166 27.0492 19.8202V18.3049C27.6132 18.4058 28.0426 18.8995 28.0426 19.492ZM15.8073 19.492C15.8073 18.8996 16.2367 18.4058 16.8006 18.3049V19.8201C16.8006 20.1166 16.8262 20.4072 16.8748 20.6901C16.2748 20.621 15.8073 20.1102 15.8073 19.492ZM17.554 19.8201V14.6352C18.5709 15.1577 20.8398 15.8884 24.4066 14.7288C24.6324 15.2677 25.1759 16.2576 26.2958 16.8879V19.8201C26.2958 22.2302 24.3351 24.191 21.9249 24.191C19.5148 24.191 17.554 22.2302 17.554 19.8201ZM19.9362 28.1609L18.6988 25.1512C19.0532 25.051 19.4191 24.9863 19.7915 24.9593L21.3899 27.2371L19.9362 28.1609ZM23.9134 28.161L22.4597 27.2371L24.0583 24.959C24.4342 24.9861 24.7998 25.0513 25.151 25.1508L23.9134 28.161Z" />
                        <path d="M19.6238 17.9841C19.4158 17.9841 19.2471 18.1528 19.2471 18.3609V19.4252C19.2471 19.6333 19.4157 19.802 19.6238 19.802C19.8318 19.802 20.0005 19.6333 20.0005 19.4252V18.3609C20.0005 18.1528 19.8318 17.9841 19.6238 17.9841Z" />
                        <path d="M24.2254 19.802C24.4335 19.802 24.6021 19.6333 24.6021 19.4252V18.3609C24.6021 18.1528 24.4335 17.9841 24.2254 17.9841C24.0173 17.9841 23.8486 18.1528 23.8486 18.3609V19.4252C23.8486 19.6333 24.0173 19.802 24.2254 19.802Z" />
                        <path d="M23.3109 21.4709C23.3901 21.2785 23.2984 21.0583 23.106 20.9791C22.9135 20.8999 22.6934 20.9917 22.6142 21.1841C22.613 21.1872 22.4682 21.502 21.925 21.502C21.3819 21.502 21.2372 21.1872 21.2359 21.1841C21.1567 20.9917 20.9366 20.8999 20.7441 20.9791C20.5517 21.0583 20.46 21.2785 20.5392 21.4709C20.6592 21.7623 21.0861 22.2554 21.9251 22.2554C22.7641 22.2554 23.191 21.7623 23.3109 21.4709Z" />
                        <path d="M22 0C26.3512 0 30.6047 1.29028 34.2225 3.70767C37.8404 6.12506 40.6602 9.56099 42.3253 13.581C43.9905 17.6009 44.4261 22.0244 43.5773 26.292C42.7284 30.5596 40.6331 34.4796 37.5563 37.5563C34.4796 40.6331 30.5596 42.7284 26.292 43.5773C22.0244 44.4261 17.6009 43.9905 13.581 42.3253C9.56099 40.6602 6.12505 37.8404 3.70766 34.2225C1.29027 30.6047 -3.8147e-06 26.3512 -3.8147e-06 22C0.00654602 16.1672 2.3265 10.5753 6.45088 6.45088C10.5753 2.3265 16.1672 0.0065508 22 0ZM22 42.7969C26.1132 42.7969 30.1341 41.5771 33.5541 39.292C36.9741 37.0068 39.6397 33.7587 41.2138 29.9586C42.7879 26.1585 43.1997 21.9769 42.3973 17.9427C41.5948 13.9085 39.6141 10.2029 36.7056 7.29439C33.7971 4.38589 30.0915 2.40518 26.0573 1.60273C22.0231 0.800279 17.8415 1.21213 14.0414 2.78619C10.2412 4.36026 6.99322 7.02585 4.70803 10.4459C2.42284 13.8659 1.20312 17.8868 1.20312 22C1.2094 27.5137 3.40251 32.7999 7.30132 36.6987C11.2001 40.5975 16.4862 42.7906 22 42.7969ZM3.4375 22C3.4375 26.9231 5.39318 31.6445 8.87432 35.1257C12.3555 38.6068 17.0769 40.5625 22 40.5625C26.9231 40.5625 31.6445 38.6068 35.1257 35.1257C38.6068 31.6445 40.5625 26.9231 40.5625 22C40.5625 21.8405 40.4991 21.6874 40.3863 21.5746C40.2735 21.4618 40.1205 21.3984 39.9609 21.3984C39.8014 21.3984 39.6484 21.4618 39.5356 21.5746C39.4227 21.6874 39.3594 21.8405 39.3594 22C39.3637 26.0374 37.9623 29.9503 35.3958 33.0669C32.8292 36.1835 29.2576 38.3093 25.2943 39.0792C21.331 39.8491 17.2233 39.2152 13.6766 37.2862C10.1298 35.3572 7.3653 32.2536 5.85776 28.5082C4.35022 24.7628 4.19371 20.6094 5.4151 16.7612C6.63649 12.913 9.15958 9.61014 12.5511 7.4197C15.9426 5.22926 19.991 4.28796 24.001 4.75744C28.011 5.22691 31.7324 7.07787 34.5262 9.99247C34.5805 10.051 34.6459 10.0981 34.7186 10.1311C34.7913 10.164 34.8698 10.1822 34.9496 10.1846C35.0294 10.1869 35.1089 10.1733 35.1834 10.1446C35.2579 10.1159 35.3259 10.0727 35.3835 10.0175C35.4411 9.96222 35.4872 9.89606 35.519 9.82284C35.5507 9.74962 35.5677 9.67081 35.5687 9.591C35.5697 9.51118 35.5548 9.43196 35.5249 9.35795C35.4951 9.28394 35.4507 9.21661 35.3946 9.1599C32.8325 6.4836 29.5279 4.6356 25.9063 3.85392C22.2848 3.07225 18.5121 3.3927 15.0743 4.77399C11.6364 6.15529 8.69085 8.53418 6.6169 11.6043C4.54295 14.6744 3.4356 18.295 3.4375 22ZM39.6863 16.3584C39.4696 15.6802 39.2138 15.0152 38.9201 14.3667C38.8874 14.2947 38.841 14.2299 38.7833 14.1759C38.7256 14.1219 38.6579 14.0798 38.5839 14.052C38.51 14.0242 38.4313 14.0112 38.3523 14.0138C38.2734 14.0164 38.1957 14.0345 38.1238 14.0671C38.0518 14.0997 37.987 14.1462 37.933 14.2039C37.879 14.2615 37.8369 14.3293 37.809 14.4032C37.7812 14.4772 37.7682 14.5559 37.7708 14.6348C37.7734 14.7138 37.7916 14.7914 37.8242 14.8634C38.0985 15.4693 38.3376 16.0906 38.5402 16.7241C38.5634 16.8004 38.6015 16.8713 38.6523 16.9327C38.7031 16.9941 38.7656 17.0448 38.8362 17.0818C38.9067 17.1189 38.984 17.1415 39.0634 17.1485C39.1428 17.1554 39.2227 17.1465 39.2987 17.1223C39.3746 17.098 39.4449 17.059 39.5056 17.0073C39.5663 16.9557 39.6162 16.8925 39.6522 16.8214C39.6883 16.7503 39.7099 16.6728 39.7157 16.5933C39.7216 16.5138 39.7116 16.434 39.6863 16.3584Z" />
                    </g>
                </svg>
                Мужские голоса
            </li>
            <li class="audio-list__item" data-ng-click="tab='woman'" data-ng-class="{'active':tab=='woman'}">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="#969cad" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="M29.5851 31.517C29.7932 31.517 29.9618 31.3483 29.9618 31.1402V30.4171C29.9618 29.4882 29.757 28.6065 29.3908 27.8141C29.7018 21.7205 29.7017 15.6246 27.6646 12.2116C27.5579 12.0329 27.3265 11.9745 27.148 12.0812C26.9694 12.1878 26.911 12.4191 27.0176 12.5977C27.8591 14.0075 28.385 16.0101 28.6256 18.7199C28.8106 20.8031 28.8322 23.346 28.6909 26.652C27.7134 25.3685 26.2495 24.4747 24.5765 24.2478C26.099 23.3584 27.1243 21.7067 27.1243 19.8199V16.9111C27.1243 16.703 26.9556 16.5344 26.7475 16.5344C26.7374 16.5344 26.727 16.5348 26.7169 16.5356C26.6686 16.5396 21.8773 16.899 20.0008 14.3976C19.8274 14.1555 19.4272 14.2221 19.3413 14.507C19.3351 14.5259 18.7062 16.3962 17.1155 17.0163C16.9709 17.0727 16.8756 17.212 16.8756 17.3672V19.8199C16.8756 21.7067 17.9009 23.3584 19.4234 24.2478C17.7503 24.4747 16.2864 25.3686 15.3088 26.6522C15.2437 25.133 15.2134 23.7931 15.2168 22.5843C15.2174 22.3762 15.0492 22.2071 14.8412 22.2065C14.8408 22.2065 14.8404 22.2065 14.8401 22.2065C14.6325 22.2065 14.4639 22.3745 14.4633 22.5822C14.4591 24.0941 14.5069 25.8068 14.6091 27.814C14.2429 28.6065 14.0381 29.4882 14.0381 30.4171V34.4565C14.0381 34.6645 14.2067 34.8332 14.4148 34.8332H29.585C29.7931 34.8332 29.9617 34.6645 29.9617 34.4565V32.6471C29.9617 32.439 29.7931 32.2703 29.585 32.2703C29.3769 32.2703 29.2083 32.439 29.2083 32.6471V34.0797H26.9652V31.1402C26.9652 30.9321 26.7965 30.7635 26.5884 30.7635C26.3803 30.7635 26.2117 30.9321 26.2117 31.1402V34.0797H17.7881V31.1402C17.7881 30.9321 17.6194 30.7635 17.4113 30.7635C17.2033 30.7635 17.0346 30.9321 17.0346 31.1402V34.0797H14.7915V30.417C14.7915 28.0047 16.3604 25.9522 18.5314 25.2256L19.3608 27.9775C19.5633 28.6499 20.1712 29.1016 20.8734 29.1016H23.126C23.8282 29.1016 24.4361 28.6499 24.6387 27.9776L25.4682 25.2255C27.6393 25.952 29.2083 28.0047 29.2083 30.4171V31.1402C29.2083 31.3483 29.377 31.517 29.5851 31.517ZM17.6291 19.8199V17.6149C18.8024 17.06 19.4823 15.9936 19.8109 15.3262C21.7373 17.2613 25.1848 17.3417 26.3708 17.3069V19.8199C26.3708 22.23 24.4101 24.1908 21.9999 24.1908C19.5898 24.1908 17.6291 22.23 17.6291 19.8199ZM23.9174 27.7602C23.8114 28.1119 23.4934 28.3482 23.126 28.3482H20.8735C20.5061 28.3482 20.1882 28.1119 20.0821 27.7603L19.2613 25.0367C19.5866 24.9762 19.9218 24.9442 20.2644 24.9442H23.7355C24.078 24.9442 24.4131 24.9762 24.7383 25.0366L23.9174 27.7602Z" />
                        <path d="M19.7 17.9841C19.4919 17.9841 19.3232 18.1528 19.3232 18.3609V19.4252C19.3232 19.6333 19.4919 19.802 19.7 19.802C19.9081 19.802 20.0767 19.6333 20.0767 19.4252V18.3609C20.0766 18.1528 19.908 17.9841 19.7 17.9841Z" />
                        <path d="M24.3006 19.8017C24.5086 19.8017 24.6773 19.633 24.6773 19.425V18.3606C24.6773 18.1526 24.5086 17.9839 24.3006 17.9839C24.0925 17.9839 23.9238 18.1525 23.9238 18.3606V19.425C23.9239 19.6331 24.0925 19.8017 24.3006 19.8017Z" />
                        <path d="M14.8521 21.4514C14.8558 21.4515 14.8596 21.4515 14.8633 21.4515C15.0662 21.4515 15.2337 21.29 15.2396 21.0858C15.3522 17.2308 15.8694 14.5972 16.867 12.7977C17.9404 10.8613 19.6194 9.91991 21.9996 9.91991C23.7654 9.91991 25.122 10.4236 26.1468 11.4597C26.2932 11.6076 26.5317 11.6088 26.6796 11.4626C26.8274 11.3163 26.8288 11.0777 26.6825 10.9298C25.5088 9.7433 23.977 9.1665 21.9996 9.1665C19.3207 9.1665 17.4263 10.2348 16.208 12.4324C15.1498 14.3411 14.6028 17.0839 14.4865 21.0638C14.4804 21.2718 14.6441 21.4453 14.8521 21.4514Z" />
                        <path d="M23.3887 21.4539C23.468 21.2611 23.3761 21.0405 23.1834 20.9611C22.9905 20.8818 22.77 20.9737 22.6907 21.1665C22.6894 21.1696 22.5443 21.485 22.0001 21.485C21.4559 21.485 21.3109 21.1696 21.3096 21.1665C21.2302 20.9737 21.0097 20.8818 20.8168 20.9611C20.6241 21.0405 20.5322 21.2611 20.6115 21.4539C20.7317 21.7458 21.1594 22.2399 22.0001 22.2399C22.8408 22.2399 23.2685 21.7458 23.3887 21.4539Z" />
                        <path d="M22 0C26.3512 0 30.6047 1.29028 34.2225 3.70767C37.8404 6.12506 40.6602 9.56099 42.3253 13.581C43.9905 17.6009 44.4261 22.0244 43.5773 26.292C42.7284 30.5596 40.6331 34.4796 37.5563 37.5563C34.4796 40.6331 30.5596 42.7284 26.292 43.5773C22.0244 44.4261 17.6009 43.9905 13.581 42.3253C9.56099 40.6602 6.12505 37.8404 3.70766 34.2225C1.29027 30.6047 -3.8147e-06 26.3512 -3.8147e-06 22C0.00654602 16.1672 2.3265 10.5753 6.45088 6.45088C10.5753 2.3265 16.1672 0.0065508 22 0ZM22 42.7969C26.1132 42.7969 30.1341 41.5771 33.5541 39.292C36.9741 37.0068 39.6397 33.7587 41.2138 29.9586C42.7879 26.1585 43.1997 21.9769 42.3973 17.9427C41.5948 13.9085 39.6141 10.2029 36.7056 7.29439C33.7971 4.38589 30.0915 2.40518 26.0573 1.60273C22.0231 0.800279 17.8415 1.21213 14.0414 2.78619C10.2412 4.36026 6.99322 7.02585 4.70803 10.4459C2.42284 13.8659 1.20312 17.8868 1.20312 22C1.2094 27.5137 3.40251 32.7999 7.30132 36.6987C11.2001 40.5975 16.4862 42.7906 22 42.7969ZM3.4375 22C3.4375 26.9231 5.39318 31.6445 8.87432 35.1257C12.3555 38.6068 17.0769 40.5625 22 40.5625C26.9231 40.5625 31.6445 38.6068 35.1257 35.1257C38.6068 31.6445 40.5625 26.9231 40.5625 22C40.5625 21.8405 40.4991 21.6874 40.3863 21.5746C40.2735 21.4618 40.1205 21.3984 39.9609 21.3984C39.8014 21.3984 39.6484 21.4618 39.5356 21.5746C39.4227 21.6874 39.3594 21.8405 39.3594 22C39.3637 26.0374 37.9623 29.9503 35.3958 33.0669C32.8292 36.1835 29.2576 38.3093 25.2943 39.0792C21.331 39.8491 17.2233 39.2152 13.6766 37.2862C10.1298 35.3572 7.3653 32.2536 5.85776 28.5082C4.35022 24.7628 4.19371 20.6094 5.4151 16.7612C6.63649 12.913 9.15958 9.61014 12.5511 7.4197C15.9426 5.22926 19.991 4.28796 24.001 4.75744C28.011 5.22691 31.7324 7.07787 34.5262 9.99247C34.5805 10.051 34.6459 10.0981 34.7186 10.1311C34.7913 10.164 34.8698 10.1822 34.9496 10.1846C35.0294 10.1869 35.1089 10.1733 35.1834 10.1446C35.2579 10.1159 35.3259 10.0727 35.3835 10.0175C35.4411 9.96222 35.4872 9.89606 35.519 9.82284C35.5507 9.74962 35.5677 9.67081 35.5687 9.591C35.5697 9.51118 35.5548 9.43196 35.5249 9.35795C35.4951 9.28394 35.4507 9.21661 35.3946 9.1599C32.8325 6.4836 29.5279 4.6356 25.9063 3.85392C22.2848 3.07225 18.5121 3.3927 15.0743 4.77399C11.6364 6.15529 8.69085 8.53418 6.6169 11.6043C4.54295 14.6744 3.4356 18.295 3.4375 22ZM39.6863 16.3584C39.4696 15.6802 39.2138 15.0152 38.9201 14.3667C38.8874 14.2947 38.841 14.2299 38.7833 14.1759C38.7256 14.1219 38.6579 14.0798 38.5839 14.052C38.51 14.0242 38.4313 14.0112 38.3523 14.0138C38.2734 14.0164 38.1957 14.0345 38.1238 14.0671C38.0518 14.0997 37.987 14.1462 37.933 14.2039C37.879 14.2615 37.8369 14.3293 37.809 14.4032C37.7812 14.4772 37.7682 14.5559 37.7708 14.6348C37.7734 14.7138 37.7916 14.7914 37.8242 14.8634C38.0985 15.4693 38.3376 16.0906 38.5402 16.7241C38.5634 16.8004 38.6015 16.8713 38.6523 16.9327C38.7031 16.9941 38.7656 17.0448 38.8362 17.0818C38.9067 17.1189 38.984 17.1415 39.0634 17.1485C39.1428 17.1554 39.2227 17.1465 39.2987 17.1223C39.3746 17.098 39.4449 17.059 39.5056 17.0073C39.5663 16.9557 39.6162 16.8925 39.6522 16.8214C39.6883 16.7503 39.7099 16.6728 39.7157 16.5933C39.7216 16.5138 39.7116 16.434 39.6863 16.3584Z" />
                    </g>
                </svg>
                Женские голоса
            </li>
            <li class="audio-list__item" data-ng-click="tab='child'" data-ng-class="{'active':tab=='child'}">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="#969cad" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <g>
                            <path d="M29.5851 32.2707C29.377 32.2707 29.2084 32.4394 29.2084 32.6475V34.0801H26.9653V31.1406C26.9653 30.9326 26.7966 30.7639 26.5885 30.7639C26.3804 30.7639 26.2118 30.9326 26.2118 31.1406V34.0801H17.7881V31.1406C17.7881 30.9326 17.6195 30.7639 17.4114 30.7639C17.2033 30.7639 17.0347 30.9326 17.0347 31.1406V34.0801H14.7915V30.4174C14.7915 29.5879 14.9723 28.7912 15.3288 28.0495C15.4189 27.862 15.34 27.6369 15.1525 27.5468C14.965 27.4567 14.7399 27.5355 14.6498 27.7231C14.2439 28.5675 14.0381 29.474 14.0381 30.4175V34.4569C14.0381 34.6649 14.2067 34.8336 14.4148 34.8336H29.585C29.7931 34.8336 29.9617 34.6649 29.9617 34.4569V32.6475C29.9618 32.4394 29.7932 32.2707 29.5851 32.2707Z" />
                            <path d="M24.5764 24.248C25.6392 23.6272 26.4597 22.6349 26.8582 21.4504C26.8758 21.4509 26.8935 21.4518 26.9112 21.4518C27.9918 21.4518 28.8709 20.5726 28.8709 19.492C28.8709 19.1683 28.7916 18.863 28.652 18.5937C28.6896 17.8876 28.6923 17.2128 28.6601 16.5805C28.7262 16.5627 28.7869 16.5275 28.8349 16.477C28.9061 16.4022 28.9434 16.3017 28.9383 16.1987C28.8159 13.7232 28.0223 11.8572 26.5795 10.6526C25.4153 9.68053 23.8317 9.16675 21.9997 9.16675C20.3418 9.16675 18.8728 9.5918 17.7513 10.3958C17.5823 10.5171 17.5434 10.7524 17.6647 10.9215C17.786 11.0906 18.0213 11.1293 18.1903 11.0081C19.183 10.2964 20.5002 9.92015 21.9996 9.92015C26.8343 9.92015 27.9534 13.4612 28.1589 15.8405H25.186H24.3952V14.7016C24.3952 13.3807 23.3207 12.3062 21.9998 12.3062C20.6789 12.3062 19.6043 13.3807 19.6043 14.7016V15.8405H18.8135H15.8396C15.9727 14.2414 16.4228 12.9431 17.1801 11.977C17.3085 11.8133 17.2798 11.5765 17.116 11.4482C16.9523 11.3198 16.7156 11.3484 16.5872 11.5122C15.6704 12.6817 15.157 14.2584 15.061 16.1986C15.0559 16.3016 15.0933 16.4022 15.1644 16.4769C15.2124 16.5274 15.2732 16.5626 15.3392 16.5805C15.307 17.2131 15.3097 17.8882 15.3474 18.5941C15.208 18.8633 15.1287 19.1685 15.1287 19.492C15.1287 20.5726 16.0079 21.4517 17.0885 21.4517C17.1061 21.4517 17.1238 21.4508 17.1415 21.4504C17.54 22.6348 18.3604 23.6271 19.4231 24.2479C17.9185 24.4524 16.5323 25.2014 15.5309 26.372C15.3957 26.5301 15.4142 26.7679 15.5723 26.9032C15.7304 27.0385 15.9682 27.0199 16.1035 26.8618C17.0215 25.7885 18.3075 25.1186 19.6957 24.9742C19.7443 25.4184 19.9009 26.1227 20.3959 26.6371C20.7988 27.0558 21.3384 27.2681 21.9996 27.2681C22.6609 27.2681 23.2004 27.0558 23.6033 26.6371C24.0985 26.1226 24.2551 25.418 24.3036 24.9738C27.0553 25.2589 29.2081 27.5914 29.2081 30.4172V31.1404C29.2081 31.3484 29.3768 31.5171 29.5849 31.5171C29.793 31.5171 29.9616 31.3484 29.9616 31.1404V30.4172C29.9617 27.2693 27.6132 24.6599 24.5764 24.248ZM27.926 17.816C27.6074 17.621 27.2155 17.5144 26.8193 17.5346C26.6922 17.4621 26.3503 17.2265 25.888 16.5939H27.9065C27.927 16.9845 27.9335 17.3929 27.926 17.816ZM27.0499 20.6901C27.0985 20.4072 27.1242 20.1167 27.1242 19.8202V18.3049C27.6881 18.4058 28.1175 18.8996 28.1175 19.4921C28.1175 20.1102 27.6499 20.621 27.0499 20.6901ZM21.9998 13.0596C22.8202 13.0596 23.502 13.6643 23.6228 14.4514H20.3768C20.4977 13.6643 21.1794 13.0596 21.9998 13.0596ZM20.3578 15.2048H23.6419V15.8405H20.3578V15.2048ZM15.8822 19.492C15.8822 18.8995 16.3116 18.4058 16.8755 18.3049V19.8201C16.8755 20.1166 16.9011 20.4072 16.9497 20.6901C16.3497 20.621 15.8822 20.1102 15.8822 19.492ZM17.1804 17.5346C16.7841 17.5144 16.3921 17.6211 16.0733 17.8162C16.0659 17.3931 16.0723 16.9847 16.0928 16.5939H18.1116C17.6495 17.2261 17.3077 17.462 17.1804 17.5346ZM17.6289 19.8201V18.1441C17.9235 17.9584 18.4232 17.5356 19.0229 16.5939H24.9767C25.5757 17.5337 26.0796 17.9578 26.3707 18.143V19.8201C26.3707 22.2302 24.4099 24.191 21.9998 24.191C19.5896 24.191 17.6289 22.2302 17.6289 19.8201ZM21.9997 26.5147C21.5462 26.5147 21.2 26.3847 20.9413 26.1173C20.6109 25.7758 20.4928 25.2795 20.4509 24.9444H23.5484C23.5064 25.2797 23.3883 25.7759 23.058 26.1173C22.7993 26.3847 22.4531 26.5147 21.9997 26.5147Z" />
                            <path d="M19.699 17.9844C19.4909 17.9844 19.3223 18.153 19.3223 18.3611V19.4255C19.3223 19.6335 19.4909 19.8022 19.699 19.8022C19.9071 19.8022 20.0757 19.6335 20.0757 19.4255V18.3611C20.0757 18.153 19.907 17.9844 19.699 17.9844Z" />
                            <path d="M24.3006 19.8022C24.5086 19.8022 24.6773 19.6335 24.6773 19.4255V18.3611C24.6773 18.1531 24.5086 17.9844 24.3006 17.9844C24.0925 17.9844 23.9238 18.153 23.9238 18.3611V19.4255C23.9239 19.6336 24.0925 19.8022 24.3006 19.8022Z" />
                            <path d="M23.3862 21.4709C23.4653 21.2785 23.3736 21.0584 23.1813 20.9792C22.9888 20.8999 22.7687 20.9917 22.6895 21.1841C22.6882 21.1872 22.5434 21.502 22.0003 21.502C21.4572 21.502 21.3124 21.1872 21.3111 21.1841C21.2319 20.9917 21.0117 20.9 20.8193 20.9792C20.6269 21.0584 20.5352 21.2785 20.6144 21.4709C20.7343 21.7623 21.1613 22.2554 22.0003 22.2554C22.8393 22.2554 23.2662 21.7623 23.3862 21.4709Z" />
                        </g>
                        <path d="M22 0C26.3512 0 30.6047 1.29028 34.2225 3.70767C37.8404 6.12506 40.6602 9.56099 42.3253 13.581C43.9905 17.6009 44.4261 22.0244 43.5773 26.292C42.7284 30.5596 40.6331 34.4796 37.5563 37.5563C34.4796 40.6331 30.5596 42.7284 26.292 43.5773C22.0244 44.4261 17.6009 43.9905 13.581 42.3253C9.56099 40.6602 6.12505 37.8404 3.70766 34.2225C1.29027 30.6047 -3.8147e-06 26.3512 -3.8147e-06 22C0.00654602 16.1672 2.3265 10.5753 6.45088 6.45088C10.5753 2.3265 16.1672 0.0065508 22 0ZM22 42.7969C26.1132 42.7969 30.1341 41.5771 33.5541 39.292C36.9741 37.0068 39.6397 33.7587 41.2138 29.9586C42.7879 26.1585 43.1997 21.9769 42.3973 17.9427C41.5948 13.9085 39.6141 10.2029 36.7056 7.29439C33.7971 4.38589 30.0915 2.40518 26.0573 1.60273C22.0231 0.800279 17.8415 1.21213 14.0414 2.78619C10.2412 4.36026 6.99322 7.02585 4.70803 10.4459C2.42284 13.8659 1.20312 17.8868 1.20312 22C1.2094 27.5137 3.40251 32.7999 7.30132 36.6987C11.2001 40.5975 16.4862 42.7906 22 42.7969ZM3.4375 22C3.4375 26.9231 5.39318 31.6445 8.87432 35.1257C12.3555 38.6068 17.0769 40.5625 22 40.5625C26.9231 40.5625 31.6445 38.6068 35.1257 35.1257C38.6068 31.6445 40.5625 26.9231 40.5625 22C40.5625 21.8405 40.4991 21.6874 40.3863 21.5746C40.2735 21.4618 40.1205 21.3984 39.9609 21.3984C39.8014 21.3984 39.6484 21.4618 39.5356 21.5746C39.4227 21.6874 39.3594 21.8405 39.3594 22C39.3637 26.0374 37.9623 29.9503 35.3958 33.0669C32.8292 36.1835 29.2576 38.3093 25.2943 39.0792C21.331 39.8491 17.2233 39.2152 13.6766 37.2862C10.1298 35.3572 7.3653 32.2536 5.85776 28.5082C4.35022 24.7628 4.19371 20.6094 5.4151 16.7612C6.63649 12.913 9.15958 9.61014 12.5511 7.4197C15.9426 5.22926 19.991 4.28796 24.001 4.75744C28.011 5.22691 31.7324 7.07787 34.5262 9.99247C34.5805 10.051 34.6459 10.0981 34.7186 10.1311C34.7913 10.164 34.8698 10.1822 34.9496 10.1846C35.0294 10.1869 35.1089 10.1733 35.1834 10.1446C35.2579 10.1159 35.3259 10.0727 35.3835 10.0175C35.4411 9.96222 35.4872 9.89606 35.519 9.82284C35.5507 9.74962 35.5677 9.67081 35.5687 9.591C35.5697 9.51118 35.5548 9.43196 35.5249 9.35795C35.4951 9.28394 35.4507 9.21661 35.3946 9.1599C32.8325 6.4836 29.5279 4.6356 25.9063 3.85392C22.2848 3.07225 18.5121 3.3927 15.0743 4.77399C11.6364 6.15529 8.69085 8.53418 6.6169 11.6043C4.54295 14.6744 3.4356 18.295 3.4375 22ZM39.6863 16.3584C39.4696 15.6802 39.2138 15.0152 38.9201 14.3667C38.8874 14.2947 38.841 14.2299 38.7833 14.1759C38.7256 14.1219 38.6579 14.0798 38.5839 14.052C38.51 14.0242 38.4313 14.0112 38.3523 14.0138C38.2734 14.0164 38.1957 14.0345 38.1238 14.0671C38.0518 14.0997 37.987 14.1462 37.933 14.2039C37.879 14.2615 37.8369 14.3293 37.809 14.4032C37.7812 14.4772 37.7682 14.5559 37.7708 14.6348C37.7734 14.7138 37.7916 14.7914 37.8242 14.8634C38.0985 15.4693 38.3376 16.0906 38.5402 16.7241C38.5634 16.8004 38.6015 16.8713 38.6523 16.9327C38.7031 16.9941 38.7656 17.0448 38.8362 17.0818C38.9067 17.1189 38.984 17.1415 39.0634 17.1485C39.1428 17.1554 39.2227 17.1465 39.2987 17.1223C39.3746 17.098 39.4449 17.059 39.5056 17.0073C39.5663 16.9557 39.6162 16.8925 39.6522 16.8214C39.6883 16.7503 39.7099 16.6728 39.7157 16.5933C39.7216 16.5138 39.7116 16.434 39.6863 16.3584Z">
                    </g>
                    <defs>
                </svg>
                ДЕТСКИЕ голоса
            </li>
        </ul>
        <div class="container-playlist">
            <div class="playlist-element first-elem man" data-ng-show="tab=='all'||tab=='man'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Дикторы России</span>
                <div class="icon-playlist man-icon"></div>
                <p class="voices-people"><b>Мужские голоса</b></p>
                <a href="@Url.Action("SpeakersRu", "Home")?man" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element sec-elem woman" data-ng-show="tab=='all'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Дикторы России</span>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people"><b>Женские голоса</b></p>
                <a href="@Url.Action("SpeakersRu", "Home")?woman" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element third-elem man" data-ng-show="tab=='all'||tab=='man'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Федеральные дикторы России</span>
                <div class="icon-playlist man-icon"></div>
                <p class="voices-people for-margin-t"><b>Мужские голоса</b></p>
                <a href="@Url.Action("SpeakersFederal", "Home")?man" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element woman" data-ng-show="tab=='all'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Федеральные дикторы России</span>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people  for-margin-t"><b>Женские голоса</b></p>
                <a href="@Url.Action("SpeakersFederal", "Home")?woman" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element sec-elem man" data-ng-show="tab=='all'||tab=='man'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Иностранные мужские голоса</span>
                <div class="icon-playlist man-icon"></div>
                <p class="voices-people for-margin-t"><b>Мужские голоса</b></p>
                <a href="@Url.Action("SpeakersFor", "Home")?man" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element third-elem woman" data-ng-show="tab=='all'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Иностранные женские голоса</span>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people  for-margin-t"><b>Женские голоса</b></p>
                <a href="@Url.Action("SpeakersFor", "Home")?woman" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element man" data-ng-show="tab=='all'||tab=='man'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Дикторы Украины</span>
                <div class="icon-playlist man-icon"></div>
                <p class="voices-people"><b>Мужские голоса</b></p>
                <a href="@Url.Action("SpeakersUk", "Home")?man" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element sec-elem woman" data-ng-show="tab=='all'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Дикторы Украины</span>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people"><b>Женские голоса</b></p>
                <a href="@Url.Action("SpeakersUk", "Home")?woman" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element third-elem child" data-ng-show="tab=='all'||tab=='child'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Детские голоса от 5-ти до 14 лет</span>
                <div class="icon-playlist man-icon"></div>
                <p class="voices-people for-margin-t"><b>Детские голоса</b></p>
                <a href="@Url.Action("SpeakersChild", "Home")" class="btn-download">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element man woman" data-ng-show="tab=='all'||tab=='man'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Пародисты и актеры</span>
                <div class="icon-playlist man-icon"></div>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people  for-margin-t"><b>Мужские голоса. Женские голоса.</b></p>
                <a href="@Url.Action("SpeakersParodists", "Home")" class="btn-download for-posit-btn">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element sec-elem man woman" data-ng-show="tab=='all'||tab=='man'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">Вокалисты</span>
                <div class="icon-playlist man-icon"></div>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people"><b>Мужские голоса. Женские голоса.</b></p>
                <a href="@Url.Action("SpeakersVocalists", "Home")" class="btn-download for-posit-btn">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
            <div class="playlist-element third-elem man woman" data-ng-show="tab=='all'||tab=='man'||tab=='woman'">
                <span class="txt-visa-free" id="sprakers-stick" style="margin-top: -10px;">VIP-голоса</span>
                <div class="icon-playlist man-icon"></div>
                <div class="icon-playlist girl-icon"></div>
                <p class="voices-people"><b>Мужские голоса. Женские голоса.</b></p>
                <a href="@Url.Action("SpeakersVip", "Home")" class="btn-download for-posit-btn">
                    ПЕРЕЙТИ НА СТРАНИЦУ
                    <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.73931 2.65887L8.53919 8.62078L2.66678 14.3337L2.73931 2.65887Z" stroke="#C7DEE1" stroke-width="1.5" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>